// JD
@import 'configuration.scss';

.app-contact {

    p {
        margin: 0;
        padding: 5px 0;

        &.small {
            padding: 0;
            font-size: 14px;
        }
    }

    img {
        display: block;
        margin: auto;
        object-fit: scale-down;
    }

    .contact-container {
            max-width: $desktop-max;
            margin: 0 auto;
         .my-data {

            @media (max-width: $tablet-max) {
                margin: 0;
                padding-top: 30px;
            }
        }

        .flex {
            @media (max-width: $tablet-max) {
                flex-direction: column;
            }
        }
    }

    .box {
        margin-left: 15px;
        margin-right: 15px;
        border: none;
        &.left{
            min-width: calc(38% - 30px);
        }
        &.center{
            min-width: calc(33% - 30px);
        }
        &.right{
            min-width: calc(29% - 30px);
        }

        @media (max-width: $desktop-max) {
            &:first-child {
                margin-left: 30px;
            }
        }
        @media (max-width: $tablet-max) {
            margin-left: 30px;
            width: 100%;
            margin-bottom: 10px;
        }


        .label {
            margin-bottom: 20px;
            font-size: 24px;
            &.no-margin {
                margin: 0;
            }
        }
        .title {
            color: $primary-color;
        }

        i {
            padding-right: 5px;

            &.ti-desktop, &.ti-email, &.ti-skype {
                padding-right: 7px;
            }
        }
    }

    .tel, .e-mail {
        font-size: 20px;
    }
}
