@import 'configuration.scss';

.app-stepper {
    display: inline-block;
    vertical-align: middle;

    input, button {
        float: left;
        text-align: center;
    }

    input {
        width: 100px;
        margin: 0 -1px;
        position: relative;
        z-index: 1;
    }


    &.responsive {

        .flex {
            @media (max-width: $tablet-max) {
                width: 82px;
                -ms-flex-wrap: wrap;
                @include flex-wrap(wrap);
            }
        }

        button {
            @media (max-width: $tablet-max) {
                height: 40px;
                width: 40px;
            }
        }

        input {
            @media (max-width: $tablet-max) {
                margin: 0;
                margin-bottom: -1px;
                height: 40px;
                width: 80px;
                -ms-flex-order: -1;
                @include order(-1);
            }
        }
    }
}
