<app-menu class="profile-bar" [menuItems]="menuItems"></app-menu>



<nav *ngIf="!configService.isMobile"
     class="filters-section sidebar">

    <app-profile-menu class="sticky"></app-profile-menu>
</nav>



<div class="profile-container">

    <div class="no-results no-results-with-svg" *ngIf="error">
        <app-svg-image [svgId]="'Employees'"></app-svg-image>

        <div class="no-results-message">
            <p>{{error}}</p>
        </div>

        <a class="button back-button"
           [routerLink]="menuService?.routePaths?.home">
            {{r?.translations?.backToShop}}
        </a>
    </div>

    <div class="margin-fix my-data" *ngIf="path === 'mydata' && customer?.details">


        <div class="f-left box">

            <p class="label">{{r?.translations?.invoiceData}}</p>


            <p class="bold">{{customer?.details?.name1}}</p>

            <p *ngIf="customer?.details?.name2">{{customer.details.name2}}</p>

            <p *ngIf="customer?.details?.address && customer?.details?.address !== ''">{{customer.address}}</p>

            <p *ngIf="!customer?.details?.address || customer?.details?.address === ''">
                {{customer?.details?.street}} {{customer?.details?.zipCode}} {{customer?.details?.city}}
            </p>

            <p>{{r?.translations?.tIN}}: {{customer?.details?.tin}}</p>

            <p>{{r?.translations?.eIN}}: {{customer?.details?.ein}}</p>

        </div>

        <div class="f-left box">

            <p class="label">{{r?.translations?.contactData}}</p>

            <p>
                <i class="ti-mobile"></i>
                <a class="tel" href="tel:{{customer?.details?.telephoneNo1}}">{{customer?.details?.telephoneNo1}}</a>
                <a class="tel" href="tel:{{customer?.details?.telephoneNo2}}">{{customer?.details?.telephoneNo2}}</a>
            </p>

            <p> <i class="ti-email"></i> <a href="mailto:{{customer?.details?.email}}">{{customer?.details?.email}}</a></p>

            <p>{{r?.translations?.fax}}: {{customer?.details?.fax}}</p>

            <p><i class="ti-desktop"></i> <a href="http://{{customer?.details?.www}}">{{customer?.details?.www}}</a></p>

            <p *ngIf="customer?.details?.gsm">
                <i class="ti-mobile"></i>
                <a class="tel" href="tel:{{customer?.details?.gsm}}">{{customer?.details?.gsm}}</a>
            </p>
        </div>

        <div class="f-left box">

            <p class="label">{{r?.translations?.defaultTradeParameters}}</p>

            <p><i class="ti-truck" *ngIf="customer?.details?.deliveryMethod"></i> {{customer.details.deliveryMethod}}</p>

            <p *ngIf="customer?.details?.shippingStreet && customer?.details?.shippingZipCode && customer?.details?.shippingCity">
                <i class="ti-location-pin"></i>
                {{customer?.details?.shippingStreet}}
                {{customer?.details?.shippingZipCode}}
                {{customer?.details?.shippingCity}}
            </p>


            <p><i class="ti-wallet"></i> {{customer?.details?.paymentForm}}</p>

            <p><i class="ti-timer"></i> {{customer?.details?.dueDate}} {{r?.translations?.days?.toLowerCase()}}</p>


        </div>

        <div class="f-left box" *ngIf="customer?.attributes?.length > 0">
            
            <p class="label">{{r?.translations?.extraInformation}}</p>

            <p *ngFor="let item of customer.attributes">
                {{item.name}}: {{item.value}}
            </p>
        </div>

    </div>

    <section class="clear margin-fix employees" *ngIf="path === 'employees' && customer?.employees">

        <div class="flex flex-wrap space-between inner-clear">

            <div class="f-left box" *ngFor="let emp of customer.employees">

                <strong>{{emp.name}}</strong>

                <p>
                    <small>{{emp.position}}</small>
                </p>

                <p>
                    <i class="ti-mobile"></i>
                    <a class="tel" href="tel:{{emp.telephoneNo1}}">{{emp.telephoneNo1}}</a>
                    <a class="tel" href="tel:{{emp.telephoneNo2}}">{{emp.telephoneNo2}}</a>
                </p>

                <p> <i class="ti-email"></i> <a href="mailto:{{emp.email}}">{{emp.email}}</a></p>

                <p> <i class="ti-skype"></i> <a [href]="emp.skypeUrl">{{emp.skype}}</a></p>

            </div>

        </div>
    </section>
</div>
