.app-pager {
    text-align: center;
    display: block;
    clear: both;

    .page-size {
        float: right;
        display: inline-block;
    }

    .pagination {
        display: inline-block;
        padding: 20px 0;

        .page-number {
            display: inline-block;
            min-width: 35px;
        }

        button {
            width: 35px;
            height: 35px;
        }
    }
}
