@import 'compass-mixins/lib/_compass.scss';
@import '../../src/app/controls/slider/slider.component.scss';
@import 'configuration.scss';

.app-home {
    display: block;

    .tns-outer {
        width: 100%;
        margin-bottom: 40px;
        text-align: left;

        .caption, [data-controls] {

            @media (min-width: #{$tablet-max + 1}) {
                color: #fff;
            }
        }

        [data-controls="prev"] {
            left: 0;
        }

        [data-controls="next"] {
            right: 0;
        }
    }

    .tns-inner {
        width: 100%;

        @media (max-width: $tablet-max) {
            padding-bottom: 12px;
        }
    }

    .tns-nav {
        bottom: 20px;

        @media (max-width: $tablet-max) {
            bottom: 0;
            width:100%;
        }
    }
}
