@import 'compass-mixins/lib/_compass.scss';

.app-lazy-image {
    position: relative;
    display:-ms-flexbox;
    @include display-flex(); 
    -ms-align-self: flex-start;
    @include align-self(flex-start);

    .app-loading, .overlay {
        position: absolute;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
