<app-loading *ngIf="listLoading"></app-loading>

<app-menu [menuItems]="[backMenuItem]" *ngIf="currentMenuItem && r?.translations">

    <div class="menu-item active-top">

        <div class="label">
            {{currentMenuItem.displayName || r?.translations[currentMenuItem.displayNameResource]}}

            <div class="inputs flex align-items-center">

                <span class="tablet-hidden">{{r?.translations?.fromDate?.toLowerCase()}}</span>

                <div class="ff-date-fix">
                    <input type="date"
                           name="dateFrom"
                           #dateFrom
                           required
                           [max]="listContext?.filters?.ranges?.dateTo | date: 'yyyy-MM-dd'"
                           [value]="listContext?.filters?.currentFilter?.dateFrom | date: 'yyyy-MM-dd'"
                           (input)="updateFilter({dateFrom: $event.target.value})" />
                </div>

                {{r?.translations?.toDate?.toLowerCase()}}

                <div class="ff-date-fix">
                    <input type="date"
                           name="dateTo"
                           #dateTo
                           required
                           [max]="listContext?.filters?.ranges?.dateTo | date: 'yyyy-MM-dd'"
                           [value]="listContext?.filters?.currentFilter?.dateTo | date: 'yyyy-MM-dd'"
                           (input)="updateFilter({dateTo: $event.target.value})" />
                </div>
            </div>
        </div>

    </div>

    <a class="menu-item new-complain"
       *ngIf="listContext?.ifProducts === false && configService?.permissions?.canComplain"
       [routerLink]="['/Profile/Complaints/ItemsComplaint']">

        <i class="ti-plus"></i>
        <span class="tablet-hidden">{{r?.translations?.newComplaint}}</span>
    </a>

</app-menu>

<section class="inner-clear clear">

    <div class="sidebar f-left"
         *ngIf="!configService.isMobile && !url?.toLowerCase().includes('pending')">

        <app-sticky [stickyClass]="'filters-section'" [fixedHeight]="true">
            <app-profile-menu></app-profile-menu>
        </app-sticky>

    </div>


    <section class="profile-container"
             [ngClass]="{
                'main-column f-right': !url?.toLowerCase().includes('pending'),
                'narrow-content': url?.toLowerCase().includes('pending')
             }">

        <div *ngIf="listContext?.ifProducts" class="box-message warning">
            {{r?.translations?.chooseItemComplaint}}
        </div>

        <div class="inner-clear aditional-filters"
             *ngIf="listContext?.filters?.currentFilter?.paymentTypeId !== undefined || listContext?.filters?.currentFilter?.valid !== undefined">

            <div class="f-left tabs">

                <ng-container *ngIf="listContext?.filters?.currentFilter?.paymentTypeId !== undefined">

                    <button [disabled]="listContext?.filters?.currentFilter?.paymentTypeId === 2"
                            (click)="updateFilter({paymentTypeId: 2})">
                        {{r?.translations?.payables}}
                    </button>

                    <button [disabled]="listContext?.filters?.currentFilter?.paymentTypeId === 1"
                            (click)="updateFilter({paymentTypeId: 1})">
                        {{r?.translations?.receivables}}
                    </button>


                </ng-container>

                <ng-container *ngIf="listContext?.filters?.currentFilter?.valid !== undefined">

                    <button [disabled]="listContext?.filters?.currentFilter?.valid === true"
                            (click)="updateFilter({valid: true})">
                        {{r?.translations?.current}}
                    </button>

                    <button [disabled]="listContext?.filters?.currentFilter?.valid === false"
                            (click)="updateFilter({valid: false})">
                        {{r?.translations?.all}}
                    </button>

                </ng-container>

            </div>


            <div class="f-left state-keys app-floating-label-input" *ngIf="listContext?.filters?.stateKeys !== undefined && r?.translations">

                <label class="top">{{r?.translations?.state}}</label>


                <app-select name="stateId"
                            [(ngModel)]="listContext.filters.currentFilter.stateId"
                            (ngModelChange)="updateFilter({stateId: listContext.filters.currentFilter.stateId})">

                    <app-option *ngFor="let state of listContext?.filters?.stateKeys"
                                [value]="state.id">
                        {{r?.translations[state.name]}}
                    </app-option>

                </app-select>

            </div>

        </div>

        <div class="table" *ngIf="listContext.items !== undefined">
            <app-sticky [stickyClass]="'trow thead filters flex'" *ngIf="r?.translations">

                <div *ngFor="let col of listContext.columns | iterableToArray"
                     class="tcell {{col[0]}}-col"
                     [ngClass]="{'currency-visible': col[0] === 'currency' && listContext?.filters?.currentFilter?.currencyId !== undefined}"
                     [ngStyle]="{'width.%': 100/listContext.columns.size }">


                    <ng-container *ngIf="col[1] !== ''" [ngSwitch]="true">

                        <app-floating-label-input *ngSwitchCase="col[0] === 'number' || col[0] === 'sourceNumber' || col[0] === 'name'"
                                                  #textFilterInput
                                                  [name]="col[0]"
                                                  (input)="updateFilter({filter: $event.target.value}); clearOthers(col[0])">
                            {{r?.translations[col[1]]}}
                        </app-floating-label-input>


                        <div *ngSwitchCase="listContext?.filters?.stateKeys === undefined && col[0] === 'state' && listContext?.filters?.currentFilter?.stateId !== undefined"
                             class="app-floating-label-input full">


                            <label class="top">{{r?.translations[col[1]]}}</label>

                            <app-select name="state"
                                        [(ngModel)]="listContext.filters.currentFilter.stateId"
                                        (ngModelChange)="updateFilter({stateId: listContext.filters.currentFilter.stateId})"
                                        (firstOpen)="listContext.loadStates()">

                                <app-loading class="small" *ngIf="!listContext?.filters?.states"></app-loading>

                                <app-option [value]="-1">
                                    {{r?.translations?.all}}
                                </app-option>

                                <app-option *ngFor="let s of listContext?.filters?.states"
                                            [value]="s.id">
                                    {{s.name}}
                                </app-option>

                            </app-select>

                        </div>

                        <div *ngSwitchCase="listContext?.filters?.stateKeys === undefined && (col[0] === 'status' || col[0] === 'state')  && listContext?.filters?.currentFilter?.statusId !== undefined"
                             class="app-floating-label-input full">

                            <label class="top">{{r?.translations[col[1]]}}</label>

                            <app-select name="statusId"
                                        [(ngModel)]="listContext.filters.currentFilter.statusId"
                                        (ngModelChange)="updateFilter({statusId: listContext.filters.currentFilter.statusId})"
                                        (firstOpen)="listContext.loadStates()">

                                <app-loading class="small" *ngIf="!listContext?.filters?.states"></app-loading>

                                <app-option [value]="0">
                                    {{r?.translations?.all}}
                                </app-option>

                                <app-option *ngFor="let s of listContext?.filters?.states"
                                            [value]="s.id">
                                    {{s.name}}
                                </app-option>

                            </app-select>

                        </div>

                        <div *ngSwitchCase="col[0] === 'currency' && listContext?.filters?.currentFilter?.currencyId !== undefined"
                             (click)="listContext.loadCurrency()"
                             class="app-floating-label-input full">

                            <label class="top">{{r?.translations[col[1]]}}</label>


                            <app-select name="currencyId"
                                        [(ngModel)]="listContext.filters.currentFilter.currencyId"
                                        (ngModelChange)="updateFilter({currencyId: listContext.filters.currentFilter.currencyId})"
                                        (firstOpen)="listContext.loadCurrency()">

                                <app-loading class="small" *ngIf="!listContext?.filters?.currency"></app-loading>

                                <app-option [value]="0">
                                    {{r?.translations?.all}}
                                </app-option>

                                <app-option *ngFor="let curr of listContext.filters.currency"
                                            [value]="curr.id">
                                    {{curr.name}}
                                </app-option>

                            </app-select>

                        </div>

                        <div *ngSwitchCase="col[0] === 'sourceDocumentId'"
                             class="app-floating-label-input full">

                            <label class="top">{{r?.translations[col[1]]}}</label>

                            <app-select name="sourceDocumentId"
                                        [(ngModel)]="listContext.filters.currentFilter.documentId"
                                        (ngModelChange)="updateFilter({documentId: listContext.filters.currentFilter.documentId})"
                                        (open)="listContext.loadDocuments()">

                                <app-loading class="small" *ngIf="!listContext?.filters?.documents"></app-loading>

                                <app-option [value]="0">
                                    {{r?.translations?.all}}
                                </app-option>

                                <app-option *ngFor="let s of listContext?.filters?.documents"
                                            [value]="s.id">
                                    {{s.name}}
                                </app-option>

                            </app-select>

                        </div>


                        <ng-container *ngSwitchDefault>
                            {{r?.translations[col[1]]}}
                        </ng-container>

                    </ng-container>

                </div>

            </app-sticky>



            <div class="no-results trow box-message" *ngIf="listContext?.items?.length === 0 || listContext?.items === ''">
                <i class="ti-na"></i>
                <span>{{r?.translations?.resultsNotFound}}</span>
            </div>

            <div class="tbody" *ngIf="listContext?.items?.length > 0">

                <div class="trow flex" *ngFor="let listItem of listContext.items">

                    <a class="covering-link"
                       *ngIf="url && !url?.toLowerCase()?.includes('pending') && !url?.toLowerCase()?.includes('payments')"
                       [routerLink]="['/Profile/'+url, listItem.id]">
                    </a>

                    <a class="covering-link"
                       *ngIf="configService?.permissions?.showProducts && (url?.toLowerCase()?.includes('pending') || url?.toLowerCase()?.includes('itemscomplaint'))"
                       [routerLink]="['/ItemDetails', listItem.itemId]">
                    </a>

                    <a class="covering-link"
                       *ngIf="url && url?.toLowerCase()?.includes('payments')"
                       [routerLink]="['/Profile/Payments', listItem.id, listItem.type]">
                    </a>

                    <div class="tcell {{col[0]}}-col"
                         *ngFor="let col of listContext.columns | iterableToArray"
                         [ngClass]="{'currency-visible': col[0] === 'currency' && listContext?.filters?.currentFilter?.currencyId !== undefined}"
                         [ngStyle]="{'width.%': 100/listContext.columns.size }">

                        <ng-container [ngSwitch]="col[0]">

                            <div *ngSwitchCase="'name'" class="inner-clear">

                                <div *ngIf="listContext?.details?.showImages !== undefined"
                                     class="f-left image-container small">

                                    <i class="ti-image no-photo" *ngIf="!listContext?.details?.showImages || listItem?.imageId === null"></i>

                                    <app-lazy-image *ngIf="listContext?.details?.showImages && listItem.imageId !== null"
                                                    alt="{{listItem.name}}"
                                                    src="ImageHandler.ashx?id={{listItem.imageId}}&fromBinary={{listItem.fromBinary}}&width=50&height=50">
                                    </app-lazy-image>

                                </div>

                                <span class="product-name block">{{listItem.name}}</span>
                                <span class="product-code" *ngIf="listContext?.details?.showCode">{{listItem.code}}</span>
                            </div>

                            <ng-container *ngSwitchCase="'completionEntirely'">
                                <ng-container *ngIf="listItem.completionEntirely === 0">{{r?.translations?.partialCompletion}}</ng-container>
                                <ng-container *ngIf="listItem.completionEntirely === 1">{{r?.translations?.entireCompletion}}</ng-container>
                            </ng-container>

                            <ng-container *ngSwitchCase="'orders'">

                                <a *ngFor="let doc of listItem[col[0]]"
                                   class="link-in-table"
                                   [routerLink]="['/Profile/Orders', doc.id]">

                                    {{doc.number}}
                                </a>
                            </ng-container>

                            <ng-container *ngSwitchCase="'number'">

                                <a *ngIf="url && url?.toLowerCase()?.includes('pending')"
                                   class="link-in-table"
                                   [routerLink]="['/Profile/Orders', listItem.type || listItem.id]">

                                    {{listItem.number}}
                                </a>

                                <span *ngIf="!url?.toLowerCase()?.includes('pending')">{{listItem.number}}</span>
                            </ng-container>


                            <ng-container *ngSwitchCase="'inquiryNumber'">

                                <a *ngIf="listItem.inquiryId" class="link-in-table"
                                   [routerLink]="['/Profile/Inquiries', listItem.inquiryId]">

                                    {{listItem.inquiryNumber}}
                                </a>
                            </ng-container>

                            <ng-container *ngSwitchCase="'sourceNumber'">

                                <a *ngIf="url && url?.toLowerCase()?.includes('pending')" class="link-in-table"
                                   [routerLink]="['/Profile/Orders', listItem.id]">

                                    {{listItem.sourceNumber}}
                                </a>

                                <span *ngIf="!url?.toLowerCase()?.includes('pending')">{{listItem.sourceNumber}}</span>
                            </ng-container>



                            <ng-container *ngSwitchCase="'quotes'">

                                <a *ngFor="let doc of listItem[col[0]]"
                                   class="link-in-table"
                                   [routerLink]="['/Profile/Quotes', doc.id]">

                                    {{doc.number}}
                                </a>


                            </ng-container>


                            <ng-container *ngSwitchCase="'sourceDocuments'">

                                <a *ngFor="let doc of listItem[col[0]]"
                                   class="link-in-table"
                                   [routerLink]="['/Profile/Payments', doc.id, doc.type]">

                                    {{doc.number}}
                                </a>
                            </ng-container>

                            <span *ngSwitchCase="'daysAfterDueDate'" [ngClass]="{'danger': listItem.daysAfterDueDate > 0}">

                                {{listItem.dueDate}}

                                <span class="due-days ribbon" *ngIf="listItem.daysAfterDueDate > 0">
                                    {{listItem.daysAfterDueDate}}
                                    {{r?.translations?.daysAfterDueDate?.toLowerCase()}}
                                </span>

                            </span>

                            <ng-container *ngSwitchCase="'amount'">
                                {{listItem[col[0]] | toPrice}} {{listItem[col[0]].currency}}
                            </ng-container>

                            <ng-container *ngSwitchCase="'remaining'">
                                {{listItem[col[0]] | toPrice}} {{listItem[col[0]].currency}}
                            </ng-container>


                            <ng-container *ngSwitchCase="'basicUnit'">

                                <span class="block">{{listItem.auxiliaryUnit || listItem.basicUnit}}</span>
                                <span class="block converter" *ngIf="listItem.auxiliaryUnit && listItem.auxiliaryUnit !== listItem.basicUnit">
                                    {{listItem.denominator}} {{listItem.auxiliaryUnit}} = {{listItem.numerator}} {{listItem.basicUnit}}
                                </span>

                            </ng-container>


                            <ng-container *ngSwitchCase="'complain'">

                                <a [routerLink]="['/Profile/Complaints/ComplaintSubmission/'+ (listItem.id || listItem.itemId) +':'+ (listItem.sourceDocumentId || listItem.id)]"
                                   class="link-in-table">
                                    <i class="ti-write"></i> <span class="tablet-hidden">{{r?.translations?.complain}}</span>
                                </a>

                            </ng-container>

                            <ng-container *ngSwitchCase="'sourceDocumentId'">

                                <a class="link-in-table" [routerLink]="['/Profile/Payments', listItem.sourceDocumentId, listItem.sourceDocumentType]">
                                    {{listItem.sourceDocumentName}}
                                </a>
                            </ng-container>

                            <ng-container *ngSwitchCase="'quantity'">

                                {{listItem.quantity}}

                                <span>{{listItem.auxiliaryUnit || listItem.basicUnit || listItem.unit}}</span>

                                <span class="block converter">{{listItem.converter || listItem.unitConversion}}</span>

                            </ng-container>


                            <span *ngSwitchCase="'completedQuantity'" [ngClass]="{'danger': listItem.completedQuantity === 0}">
                                {{listItem.completedQuantity}}
                            </span>

                            <ng-container *ngSwitchDefault>
                                {{listItem[col[0]]}}
                            </ng-container>


                        </ng-container>
                    </div>

                </div>
            </div>

            <div class="tfoot"
                 *ngIf="listContext?.summaries || listContext?.details?.number || listContext?.paginationRepo?.pagination?.isNextPage || listContext?.paginationRepo?.pagination?.isPrevPage">

                <span class="trow tcell products-amount" *ngIf="listContext?.details?.number">
                    {{r?.translations?.packageArticlesCount}}: {{listContext.details.number}}
                </span>


                <app-pager [page]="listContext?.paginationRepo?.pagination?.currentPage"
                           [isNextPage]="listContext?.paginationRepo?.pagination?.isNextPage"
                           [pageSize]="listContext?.paginationRepo?.pagination?.pageSize"
                           (change)="changePage($event);">
                </app-pager>

                <div class="trow flex" *ngFor="let summary of listContext?.summaries">

                    <div class="tcell {{col[0]}}-col"
                         *ngFor="let col of listContext.columns | iterableToArray"
                         [ngClass]="{'currency-visible': col[0] === 'currency' && listContext?.filters?.currentFilter?.currencyId !== undefined}"
                         [ngStyle]="{'width.%': 100/listContext.columns.size }">

                        <ng-container *ngIf="summary[col[0]]">
                            {{summary[col[0]] | toPrice}}
                        </ng-container>
                    </div>

                </div>

            </div>



        </div>
    </section>


</section>
