@import 'configuration.scss';

.app-promotions {
    display: block;

    .app-menu {
        margin-bottom: 30px;
    }


    .narrow-content:not(.trow) {
        @media (max-width: $tablet-max) {
            padding-left: 15px;
            padding-right: 0;
        }
    }

    .promo-title {
        margin: 15px 0 15px 15px;
        @media (max-width: $tablet-max) {
            margin: 15px 0 15px 0;
        }
    }


    .promotions, .app-products-table {
        @media (max-width: $tablet-max) {
            padding-top: 30px;
        }
    }

    .thead-promo {
        border-bottom: 1px solid #d9d9d9;
        padding: 15px;
    }

    .emphasised {
        margin-top: 15px;
        font-size: 16px;
        font-weight: 500;
    }

    .header-item {
        padding-right: 30px;
    }

    .ribbon {
        margin-left: auto;
        font-size: 1em;
        font-weight: inherit;
        padding: 0 10px;
        margin: 0;
        position: absolute;
        top: -1px;
        right: -10px;

        &::before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 0;
            border-color: shade($warning, 20%) transparent transparent transparent;
            left: auto;
            right: 0;
            top: 100%;
        }
    }


    .few .tns-outer {
        width: 100%;
        margin-bottom: 35px;
    }

    .tns-outer {
        margin-bottom: 75px;
    }

    .tns-nav {
        bottom: -40px;
    }

    .tns-item {
        padding: 10px 15px !important;
        border: 0 !important;
        box-shadow: none;

        .box {
            width: 100%;
            height: 100%;
            text-align: center;
        }

        &.active {

            .box {
                background: $solid-button-bg;
                border-color: $solid-button-bg;


                &, .emphasised {
                    color: $solid-button-fcolor;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 100%;
                    margin: auto;
                    display: block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 10px 0 10px;
                    border-color: $solid-button-bg transparent transparent transparent;
                }
            }

            .ribbon::before {
                z-index: -1;
            }
        }

        &:not(.active) .box {
            cursor: pointer;
        }


        .desc {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 1.5em;
            max-height: 4.5em;
            overflow: hidden;
        }

        .f-right {
            text-align: right;
        }
    }

    .tns-slider, .box {
        //slider script sometimes resizes font to 0 when route change
        font-size: inherit !important;
        width: 33.3333%;
    }

    .top-margin{
        margin-top: 40px;
    }

    .search-bar {
        position: relative;
        padding: 0;
        margin: 0 auto 8px auto;
        max-width: 500px;

        @media (max-width: $tablet-max) {
            -ms-flex-order: 10;
            @include order(10);
            padding-left: 10px;
            width: calc(100% - #{$bar-height});
            padding: 10px 0;
            z-index: 1;
            height: $bar-height;
            border-bottom: 1px solid $border-color;
            margin-right: 0;
        }

        form {
            @media (max-width: $tablet-max) {
                width: 100%;
                position: relative;
                float: right;
                padding-left: 10px;
            }
        }

        input {
            padding: 15px;
            width: 500px;
            max-width: 100%;
            padding-right: 65px;
            height: 60px;
            font-size: 1rem;

            @include input-placeholder {
                color: $search-placeholder;
            }

            @media (max-width: $tablet-max) {
                height: $bar-height - 20px;
                width: calc(100% - 60px);
                padding: 0 10px;
                border: 0;
            }
        }
/* JD */
        .search-button {
            position: absolute;
            right:0;
            top: 0;
            bottom: 0;
            width: 60px;
            font-size: 20px;
            @media (max-width: $tablet-max) {
                right: 0;
            }
        }
    }
}
