<app-menu [groupsAsDrop]="true" [initialGroupId]="product?.details?.articleGroupId"></app-menu>

<div class="item-details clear narrow-content">

    <div class="no-results box-message" *ngIf="message">
        <i class="ti-na"></i>
        <span>{{message}}</span>
    </div>

    <ng-container *ngIf="product?.details">

        <div class="site-map tablet-hidden"
             *ngIf="breadcrumbs">


            <a class="pure breadcrumb inline-block"
               [routerLink]="[menuService.routePaths.home]">

                <i class="ti-home"></i>
            </a>

            <a class="pure breadcrumb inline-block"
               *ngFor="let item of breadcrumbs.slice(1)"
               [routerLink]="[menuService.routePaths.items, item.id]">

                <i class="ti-angle-right separator"></i>
                {{item.name}}
            </a>

            <span class="breadcrumb inline-block">
                <i class="ti-angle-right separator"></i>
                {{product.details.name}}
            </span>

        </div>

        <div class="name">
            <h1>{{product.details.name}}</h1>
            <div class="product-code" *ngIf="configService?.config?.showCode && product.details.code">{{product.details.code}}</div>
        </div>


        <app-threshold-price-list *ngIf="configService.isMobile && thresholdPriceLists?.hasAnyThresholdPriceList"
                                  [thresholdPriceLists]="thresholdPriceLists"
                                  [productName]="product.details.name"
                                  [productCode]="product.details.code">
        </app-threshold-price-list>

        <app-product-flags [value]="product.details.flag"></app-product-flags>

        <div class="gallery"
             *ngIf="configService?.config?.showImages">

            <app-loading *ngIf="product?.images === undefined"></app-loading>


            <div class="image-container" *ngIf="product?.images?.length === 0">
                <i class="ti-image no-photo"></i>
            </div>

            <ng-container *ngIf="product?.images?.length > 0">

                <app-slider class="big-photo"
                            [thumbs]="true"
                            [items]="1"
                            [slideBy]="1"
                            [nav]="false"
                            [zoom]="true">

                    <div *ngFor="let image of product?.images"
                         class="image-container">

                        <img src="imagehandler.ashx?id={{image.id}}&frombinary={{image.fromBinary || product.details.fromBinary}}&width=400&height=400"
                             alt="{{product.details.name}}" />
                    </div>

                </app-slider>


            </ng-container>

        </div>

        <div>
            <app-threshold-price-list *ngIf="!configService.isMobile && thresholdPriceLists?.hasAnyThresholdPriceList"
                                      [thresholdPriceLists]="thresholdPriceLists"
                                      [productName]="product.details.name"
                                      [productCode]="product.details.code">
            </app-threshold-price-list>

            <div class="basic-details">

                <ng-container *ngIf="product?.details?.ean">
                    <p>
                        {{r?.translations?.ean}}
                    </p>

                    <p>
                        {{product.details.ean}}
                    </p>
                </ng-container>


                <ng-container *ngIf="product?.details?.manufacturer !== '' ">
                    <p>
                        {{r?.translations?.manufacturer}}
                    </p>

                    <p>

                        <a *ngIf="product.details.manufacturerUrl" href="{{product.details.manufacturerUrl}}">{{product.details.manufacturer}}</a>

                        <span *ngIf="!product.details.manufacturerUrl">{{product.details.manufacturer}}</span>

                    </p>
                </ng-container>

                <ng-container *ngIf="product?.details?.brand !== '' ">

                    <p>
                        {{r?.translations?.brand}}
                    </p>

                    <p>
                        {{product.details.brand}}
                    </p>

                </ng-container>


                <p>
                    {{r?.translations?.vat}}
                </p>

                <p>
                    {{product.details.vatValue}}%
                </p>


                <ng-container *ngIf="product?.details?.manager !== ''">
                    <p>
                        {{r?.translations?.productManager}}
                    </p>

                    <p>

                        <a *ngIf="product.details.managerMail" href="mailto://{{product.details.managerMail}}">{{product.details.manager}}</a>

                        <span *ngIf="!product.details.managerMail">{{product.details.manager}}</span>

                    </p>
                </ng-container>

                <ng-container *ngIf="product?.details?.bruttoWeight">
                    <p>
                        {{r?.translations?.weight}}
                    </p>

                    <p>
                        {{product.details.bruttoWeight}} {{r?.translations[product?.details?.weightSymbolResourceKey]}}
                    </p>
                </ng-container>


                <ng-container *ngIf="r?.translations && product?.details?.volume">
                    <p>
                        {{r?.translations?.volume}}
                    </p>

                    <p>
                        {{product.details.volume}} {{r?.translations[product?.details?.volumeSymbolResourceKey]}}
                    </p>
                </ng-container>

                <ng-container *ngIf="configService?.permissions?.hasAccessToChangeDefaultWarehouse">
                    <p>
                        {{r?.translations?.warehouse}}
                    </p>

                    <app-select name="warehouseId"
                                [disabled]="!configService?.permissions?.hasAccessToChangeDefaultWarehouse"
                                [(ngModel)]="product.config.warehouseId"
                                (changeValue)="changeWarehouse(product.config.warehouseId)"
                                (firstOpen)="loadWarehouses()">


                        <ng-container *ngIf="warehousesService.warehouses === undefined">

                            <app-loading class="small" *ngIf="warehousesService.warehouses === undefined"></app-loading>

                            <app-option [value]="configService?.config?.warehouseId">
                                {{configService?.config?.warehouseName || r?.translations?.allWarehouse}}
                            </app-option>

                        </ng-container>

                        <ng-container *ngIf="warehousesService.warehouses !== undefined">
                            <app-option [value]="'0'">
                                {{r?.translations?.allWarehouse}}
                            </app-option>

                            <app-option *ngFor="let item of warehousesService.warehouses"
                                        [value]="item.id">
                                {{item.text}}
                            </app-option>
                        </ng-container>

                    </app-select>

                </ng-container>



                <ng-container *ngIf="product.attributes">

                    <ng-container *ngFor="let attr of product.attributes.slice(0,3)">
                        <p class="attribute">
                            {{attr.name}}
                        </p>

                        <p class="attribute">
                            {{attr.value}}
                        </p>
                    </ng-container>
                </ng-container>


                <app-loading *ngIf="product.attributes === undefined"></app-loading>
            </div>
        </div>

        <div class="purchase-container"
             [ngClass]="{'with-threshold': thresholdPriceLists?.hasAnyThresholdPriceList}">
            <div class="purchase-details">

                <app-loading class="details-loader" *ngIf="detailsLoading"></app-loading>

                <div class="availability inner-clear"
                     *ngIf="configService.applicationId === 0"
                     [ngClass]="{'full': product.details.status === 0 && product.details.availableFrom,
                        'with-threshold': thresholdPriceLists?.hasAnyThresholdPriceList}">

                    <span class="pair-key">{{r?.translations?.availability}}: </span>

                    <ng-container *ngIf="product.details.status !== 1" [ngSwitch]="product.details.status">
                        <ng-container *ngSwitchCase="0">{{r?.translations?.articleStatePreview}}</ng-container>
                        <ng-container *ngSwitchCase="2">{{r?.translations?.articleStateAvaliableOnRequest}}</ng-container>
                        <ng-container *ngSwitchCase="3">{{r?.translations?.articleStateUnavailable}}</ng-container>
                    </ng-container>

                    <ng-container *ngIf="product.details.status === 1" [ngSwitch]="product.details.availability">

                        <ng-container *ngSwitchCase="1">{{r?.translations?.articleAvailabilityAvaliableNow}}</ng-container>
                        <ng-container *ngSwitchCase="2">{{r?.translations?.articleAvailabilityAvaliableIn24H}}</ng-container>
                        <ng-container *ngSwitchCase="3">{{r?.translations?.articleAvailabilityAvaliableIn48H}}</ng-container>
                        <ng-container *ngSwitchCase="4">{{r?.translations?.articleAvailabilityAvaliableFrom3To5Days}}</ng-container>
                        <ng-container *ngSwitchCase="5">{{r?.translations?.articleAvailabilityAvaliableTo7Days}}</ng-container>
                        <ng-container *ngSwitchCase="6">{{r?.translations?.articleAvailabilityAvaliableTo14Days}}</ng-container>
                        <ng-container *ngSwitchCase="7">{{r?.translations?.articleAvailabilityAvaliableToOver14Days}}</ng-container>

                    </ng-container>

                    <ng-container *ngIf="product.details.status === 1 && product.details.availability === -1">
                        {{r?.translations?.articleStateAvailable}}
                    </ng-container>

                    <div class="f-right" *ngIf="product.details.status === 0 && product.details.availableFrom">
                        <span class="pair-key">{{r?.translations?.availableFromDate}}</span>
                        {{product.details.availableFrom | date: 'yyyy-MM-dd'}}
                    </div>
                </div>

                <div class="prices clear flex flex-wrap inner-clear" *ngIf="configService?.permissions?.hasAccessToPriceList">

                    <div class="net-price f-left" *ngIf="configService?.config?.priceMode !== 1">

                        <s class="block" *ngIf="product.details.baseNetPrice > product.details.netPrice">
                            {{product.details.baseNetPrice | toPrice}} {{product.details.currency}}
                        </s>

                        <small class="brutto-netto">{{r?.translations?.net}}</small>

                        <span class="price-value net">{{product.details.netPrice | toPrice}}</span>
                        <span class="currency">{{product.details.currency}}</span>

                        <small class="pair-key converter"
                               *ngIf="product.details.unitNetPrice && product.details.unitId !== product.details.basicUnitNo">
                            {{product.details.unitNetPrice | toPrice}}/{{product.details.basicUnit}}
                        </small>
                    </div>

                    <div class="gross-price f-right" *ngIf="configService?.config?.priceMode !== 0">

                        <s class="block" *ngIf="product.details.baseGrossPrice > product.details.grossPrice">
                            {{product.details.baseGrossPrice | toPrice}} {{product.details.currency}}
                        </s>

                        <small class="brutto-netto">{{r?.translations?.gross}}</small>

                        <span class="price-value">{{product.details.grossPrice | toPrice}}</span>

                        <span class="currency">{{product.details.currency}}</span>

                        <small class="pair-key converter"
                               *ngIf="product.details.unitGrossPrice && product.details.unitId !== product.details.basicUnitNo">
                            {{product.details.unitGrossPrice | toPrice}}/{{product.details.basicUnit}}
                        </small>
                    </div>
                </div>



                <div class="adding-form inline-block">


                    <div class="inner-clear">

                        <div class="f-left stepper-group">
                            <div class="stock">
                                <div *ngIf="configService?.config?.showState && product.details.type !== 3 && product.details.type !== 4 && product.details.type !== 6">
                                    <span class="pair-key">{{r?.translations?.inStock}}:</span>
                                    <span *ngIf="configService?.config?.stateMode === true">{{product.details.stockLevel}}</span>
                                    <span *ngIf="configService?.config?.stateMode === false && product.details.stockLevelNumber > 0">{{r?.translations?.available }}</span>
                                    <span *ngIf="configService?.config?.stateMode === false && product.details.stockLevelNumber === 0">{{r?.translations?.none }}</span>
                                </div>
                            </div>

                            <app-stepper *ngIf="configService?.permissions?.hasAccessToCart && product?.details?.status !== 3"
                                         [value]="product.details.quantity"
                                         [isUnitTotal]="product.details.isUnitTotal"
                                         (changeValue)="changeQuantity(-1, $event)">
                            </app-stepper>
                        </div>

                        <div class="f-left unit-group">

                            <div class="pair-key converter">
                                <span *ngIf="product.details.converter">{{product.details.converter}}</span>
                            </div>

                            <span class="one-unit" *ngIf="product.details.unitsLength === 1">{{product.details.auxiliaryUnit}}</span>

                            <app-select *ngIf="product.details.unitsLength > 1"
                                        class="full block"
                                        [disabled]="!!product.details.unitLockChange"
                                        [(ngModel)]="product.details.unitId"
                                        (changeValue)="onProductUnitChange(product.details.unitId)">

                                <app-option *ngFor="let unitValuePair of product.details.units | keyvalue"
                                            [value]="+unitValuePair.key">

                                    {{unitValuePair.value}}

                                </app-option>
                            </app-select>
                        </div>
                    </div>


                    <div class="to-cart inline-flex"
                         *ngIf="configService?.permissions?.hasAccessToCart && product?.details?.status !== 3">

                        <app-cart-select class="choose-cart"
                                         name="cartId"
                                         [(ngModel)]="product.details.cartId">
                        </app-cart-select>

                        <button class="cart add-to-cart" (click)="addToCart();">
                            <i class="icon ti-shopping-cart"></i><span>{{r?.translations?.addToCart}}</span>
                        </button>
                    </div>

                    <div class="to-store" *ngIf="configService?.permissions?.hasAccessToStore">
                        <app-select class="choose-store"
                                    [(ngModel)]="product.details.storeId">

                            <app-option *ngFor="let store of stores"
                                        [value]="store.id">
                                {{store.name || store.id}}
                            </app-option>
                            <app-option [value]="-1"
                                        class="create-new-store-option">
                                {{r?.translations?.newStore}}
                            </app-option>
                        </app-select>

                        <div class="add-to-store" (click)="addToStore()">
                            <i class="ti-clipboard"></i>
                            <span>{{r?.translations?.toStore}}</span>
                        </div>
                    </div>

                </div>
                <div class="planned-deliveries" *ngIf="configService?.permissions?.hasAccessToPlannedDeliveries && product?.plannedDeliveries">

                    <app-dropdown>

                        <trigger class="trigger">
                            <i class="ti-truck"></i>
                            {{r?.translations?.plannedDeliveries}}
                            <i class="ti-angle-down"></i>
                        </trigger>

                        <content>

                            <div class="header">
                                <div class="header-icon">
                                    <i class="ti-truck"></i>
                                </div>
                                <div class="header-text">
                                    <div class="main-text">{{r?.translations?.plannedCommodityDelivery}}</div>
                                    <div class="emphasised">{{product.details.name}}</div>
                                    <div class="small" *ngIf="configService?.config?.showCode && product.details.code">{{product.details.code}}</div>
                                </div>
                                <div></div>
                            </div>

                            <div class="body">
                                <div class="small"><strong>{{r?.translations?.deliveryDate}}</strong></div>
                                <div class="small"><strong>{{r?.translations?.quantity}}</strong></div>
                                <ng-container *ngFor="let delivery of product.plannedDeliveries">
                                    <div>{{delivery.plannedDate | date: 'yyyy-MM-dd'}}</div>
                                    <div>{{delivery.quantityInBasicUnit}} {{delivery.basicUnit}}</div>
                                </ng-container>
                            </div>
                        </content>
                    </app-dropdown>
                </div>
            </div>
            <div class="last-order-details" *ngIf="configService?.permissions?.hasAccessToPriceList && product?.lastOrderDetails">
                <div class="inner-clear">
                    <div class="f-left" [ngClass]="{'bag-icon-group': !product?.lastOrderDetails.isOrderInBasicUnit, 'small-bag-icon-group': product?.lastOrderDetails.isOrderInBasicUnit }">
                        <i class="icon ti-bag" [ngClass]="{'align-center': !product?.lastOrderDetails.isOrderInBasicUnit}"></i>
                    </div>
                    <div class="f-left last-order-content">
                        <div>
                            <span class="last-order-label">
                                {{r?.translations?.lastOrderNumber}}:
                            </span>
                            <a [routerLink]="[menuService.routePaths.orders, product.lastOrderDetails.orderId]">
                                {{product.lastOrderDetails.orderNumber}}
                            </a>
                            <span class="last-order-label">{{r?.translations?.fromDay}}:</span> {{product.lastOrderDetails.issueDate | formatDate: 'YYYY-MM-DD'}}
                        </div>

                        <div>
                            <span class="last-order-label" *ngIf="product?.lastOrderDetails.vatDirection === 0">{{r?.translations?.price}} {{r?.translations?.netHeader.toLowerCase()}}:</span>
                            <span class="last-order-label" *ngIf="product?.lastOrderDetails.vatDirection === 1">{{r?.translations?.price}} {{r?.translations?.grossHeader.toLowerCase()}}:</span>
                            {{product.lastOrderDetails.price | toPrice}} {{product.lastOrderDetails.currency}},
                            <span class="last-order-label">{{r?.translations?.quantity}}:</span> {{product.lastOrderDetails.quantity}} {{product.lastOrderDetails.unit}}
                        </div>

                        <div *ngIf="!product?.lastOrderDetails.isOrderInBasicUnit">
                            ({{product.lastOrderDetails.basicUnitPrice | toPrice}}/{{product.lastOrderDetails.basicUnit}}) ({{product.lastOrderDetails.converter}})
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <nav class="sticky product-nav section inner-clear"
             *ngIf="tabsVisible">

            <div *ngIf="product.details.description" class="f-left item" (click)="scrollToLabel('desc')">
                <i class="ti-receipt"></i> {{r?.translations?.description}}
            </div>

            <div *ngIf="product?.attributes?.length > 0" class="f-left item" (click)="scrollToLabel('attributes')">
                <i class="ti-settings"></i> {{r?.translations?.productParameters}}
            </div>

            <div *ngIf="product?.attachments?.length > 0" class="f-left item" (click)="scrollToLabel('attachments')">
                <i class="ti-clip"></i> {{r?.translations?.attachments}}
            </div>

            <div *ngIf="product?.replacements?.length > 0" class="f-left item" (click)="scrollToLabel('replacements')">
                <i class="ti-link"></i> {{r?.translations?.substitutes}}
            </div>
        </nav>

        <div data-label="desc" class="desc section" *ngIf="product.details.description">

            <h2 class="section-title">{{r?.translations?.description}}</h2>

            <div class="inner-clear" [innerHTML]="product.details.description">
            </div>
        </div>


        <div data-label="attributes" class="section all-attributes">

            <app-loading *ngIf="product?.attributes === undefined"></app-loading>

            <ng-container *ngIf="product?.attributes?.length > 0">

                <h2 class="section-title">{{r?.translations?.productParameters}}</h2>

                <div class="attributes">
                    <ng-container *ngFor="let attr of product.attributes">
                        <p class="attribute">
                            {{attr.name}}
                        </p>

                        <p class="attribute">
                            {{attr.value}}
                        </p>
                    </ng-container>
                </div>
            </ng-container>

        </div>

        <div data-label="attachments" class="attachments section">

            <app-loading *ngIf="product.attachments === undefined"></app-loading>

            <ng-container *ngIf="product.attachments && product.attachments.length > 0">

                <h2 class="section-title">{{r?.translations?.attachments}}</h2>

                <div class="inner-clear">
                    <ul class="product.attachments pure">

                        <li class="attachment-item" *ngFor="let attachment of product.attachments">
                            <a href="filehandler.ashx?id={{attachment.id}}&fileName={{attachment.name}}.{{attachment.extension}}&fromBinary=false&customerData={{attachment.customerData}}"
                               target="{{configService.isFirefox ? '_blank' : '_self'}}">

                                <i class="ti-clip"></i>
                                {{attachment.name}}.{{attachment.extension}}
                            </a>
                        </li>

                    </ul>
                </div>
            </ng-container>
        </div>


        <div data-label="replacements" class="replacements section"
             appLazy
             [attr.fixheightwhenselectopened]="true"
             (lazyAction)="loadVisibleReplacementsAndAllUnits()"
             *ngIf="product?.replacements?.length > 0">


            <h2 class="section-title">{{r?.translations?.substitutes}}</h2>

            <app-slider [items]="2"
                        [domChanges]="true"
                        [responsive]="{'1281': {'items': 1}}"
                        (indexChange)="loadUnvisibleReplacement($event + 1)">

                <div *ngFor="let replacement of product.replacements; let i = index; trackBy: replacementTrackBy">

                    <app-loading *ngIf="!replacement.unitsLoaded || (!replacement.code && !replacement.availability)"></app-loading>

                    <div class="box inner-clear">
                        <a [routerLink]="[menuService.routePaths.itemDetails, replacement.id]" class="covering-link"></a>


                        <div class="image-container f-left">
                            <img *ngIf="replacement?.imageId > 0"
                                 alt="{{replacement.name}}"
                                 src="imagehandler.ashx?id={{replacement.imageId}}&width=300&height=300&frombinary={{replacement.fromBinary || 'False'}}" />

                            <i *ngIf="!replacement?.imageId" class="no-photo ti-image"></i>
                        </div>



                        <div class="f-right replacement-info">

                            <h3 class="subsection-title emphasised">{{replacement.name}}</h3>
                            <span class="block product-code" *ngIf="configService?.config?.showCode">{{replacement.code}}</span>

                            <div class="article-converter" *ngIf="configService.applicationId === 0">
                                <span class="howMany">({{r?.translations?.howMany}}: {{replacement.howMuch}})</span>
                                <span>({{r?.translations?.forHowMany | lowercase}}: {{replacement.forHowMuch}})</span>
                            </div>


                            <div class="prices flex flex-wrap inner-clear" *ngIf="configService?.permissions?.hasAccessToPriceList">


                                <div class="net-price f-left" *ngIf="configService?.config?.priceMode !== 1">

                                    <s class="block" *ngIf="replacement.baseNetPrice > replacement.netPrice">
                                        {{replacement.baseNetPrice | toPrice }} {{replacement.currency}}
                                    </s>

                                    <small class="brutto-netto">{{r?.translations?.net}}</small>

                                    <span class="price-value net">{{replacement.netPrice | toPrice}}</span>

                                    <span class="currency">{{replacement.currency}}</span>

                                    <small class="pair-key converter"
                                           *ngIf="replacement.unitNetPrice && replacement.unitId !== replacement.basicUnitNo">
                                        {{replacement.unitNetPrice | toPrice }}/{{replacement.basicUnit}}
                                    </small>
                                </div>

                                <div class="gross-price" [ngClass]="configService.isMobile ? 'f-left' : 'f-right'" *ngIf="configService?.config?.priceMode !== 0">


                                    <s class="block" *ngIf="replacement.baseGrossPrice > replacement.grossPrice">
                                        {{replacement.baseGrossPrice | toPrice }} {{replacement.currency}}
                                    </s>

                                    <small class="brutto-netto">{{r?.translations?.gross}}</small>

                                    <span class="price-value">{{replacement.grossPrice | toPrice}}</span>

                                    <span class="currency">{{replacement.currency}}</span>

                                    <small class="pair-key converter"
                                           *ngIf="replacement.unitGrossPrice && replacement.unitId !== replacement.basicUnitNo">
                                        {{replacement.unitGrossPrice | toPrice}}/{{replacement.basicUnit}}
                                    </small>
                                </div>

                            </div>




                            <div class="inner-clear">


                                <div class="unavailable button outline f-left stepper-group" *ngIf="replacement.status === 3">
                                    {{r?.translations?.articleStateUnavailable}}
                                </div>

                                <div class="f-left stepper-group block"
                                     *ngIf="configService?.permissions?.hasAccessToCart && replacement.status !== 3">

                                    <div class="stock" *ngIf="configService?.config?.showState && replacement.type !== 3 && replacement.type !== 4 && replacement.type !== 6">

                                        <span class="pair-key">{{r?.translations?.inStock}}:</span>

                                        <ng-container *ngIf="configService?.config?.stateMode === true">
                                            {{replacement.stockLevel}}
                                        </ng-container>

                                        <ng-container *ngIf="configService?.config?.stateMode === false && replacement.stockLevelNumber > 0">
                                            {{r?.translations?.available }}
                                        </ng-container>

                                        <ng-container *ngIf="configService?.config?.stateMode === false && replacement.stockLevelNumber === 0">
                                            {{r?.translations?.none }}
                                        </ng-container>

                                    </div>

                                    <app-stepper [isUnitTotal]="replacement.isUnitTotal"
                                                 [value]="replacement.quantity || 1"
                                                 (changeValue)="changeQuantity(i, $event)">
                                    </app-stepper>

                                </div>

                                <div class="f-left unit-group">

                                    <div class="pair-key converter">
                                        <ng-container *ngIf="replacement.converter">
                                            {{replacement.converter}}
                                        </ng-container>
                                    </div>

                                    <span class="one-unit" *ngIf="replacement.unitLockChange || replacement?.units?.size === 1">
                                        {{replacement.auxiliaryUnit}}
                                    </span>


                                    <app-select *ngIf="!replacement.unitLockChange && replacement?.units?.size > 1"
                                                [(ngModel)]="replacement.unitId"
                                                (changeValue)="onReplacementUnitChange(replacement.unitId, i)">

                                        <app-option *ngFor="let unit of replacement?.units | iterableToArray"
                                                    [value]="unit[0]">

                                            {{unit[1].auxiliaryUnit}}

                                        </app-option>
                                    </app-select>
                                </div>
                            </div>


                            <div class="to-cart inline-flex"
                                 *ngIf="configService?.permissions?.hasAccessToCart && replacement?.status !== 3">

                                <app-cart-select name="cartId"
                                                 [(ngModel)]="replacement.cartId">
                                </app-cart-select>

                                <button class="cart add-to-cart" (click)="addReplacementToCart(i);">
                                    <i class="icon ti-shopping-cart"></i><span>{{r?.translations?.addToCart}}</span>
                                </button>

                            </div>

                            <div class="unavailable button outline f-left stepper-group" *ngIf="replacement.status === 0">
                                {{r?.translations?.articleStatePreview}}
                            </div>

                        </div>

                    </div>
                </div>

            </app-slider>
        </div>
    </ng-container>
</div>

