@import 'configuration.scss';

.app-checkbox {
    display: block;

    label {
        cursor: pointer;
        padding: 10px 0;
        display: inline-block;
    }

    input {
        display: none;
    }


    .label {
        display: inline-block;
        vertical-align: middle;
    }

    .check {
        display: inline-block;
        width: 20px;
        height: 20px;
        transition: background $little-transitions-time, border $little-transitions-time;
        vertical-align: middle;
        font-size: 12px;
        text-align: center;
        line-height: 20px;
        background: $checkbox-bg;
        border: 1px solid $checkbox-border;
        color: $checkbox-check;
    }

    input:checked + .check, input:checked + [type="hidden"] + .check {
        /*secound selector is for razor*/
        background: $checkbox-active-bg;
        border-color: $checkbox-active-bg;
    }
}

