@import 'compass-mixins/lib/_compass.scss';
@import 'configuration.scss';

.app-menu {
    display: block;
    width: 100%;
    background: $bar-bg;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    height: $bar-height;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    position: relative;
    float: left;
    grid-column: 1 / -1;

    @media (max-width: $tablet-max) {
        top: -$bar-height;
        position: absolute;
        white-space: normal;
    }

    .menu-item {
        float: left;
        text-align: center;
        line-height: $bar-height;
        height: $bar-height;

        @media (max-width: $tablet-max) {
            width: 100%;
            width: $bar-height;
            text-align: center;
            padding: 0;
            min-width: 0;
        }

        &.active-top:not(.back) {
            margin-top: -14px;
            height: $bar-height + 13px;
            line-height: $bar-height + 8px;
            border-top-color: $bar-active-border;
            border-right: 1px solid $border-color;
            border-left: 1px solid $border-color;
            margin-left: -1px;
            padding: 0 20px;

            @media (max-width: $tablet-max) {
                margin: 0;
                height: $bar-height;
                line-height: $bar-height - 4px;
                border: 0;
                //margin-bottom: -1px;
                width: 100%;
            }
        }
    }

    .app-select {
        color: $inputs-fcolor;
    }

    .label {
        margin: 0;
        padding: 0;
        text-align: left;
        display: inline-block;
        vertical-align: middle;
    }

    .app-checkbox .label {
        display: inline;
    }

    .navBar-items, .back {

        &.menu-item {
            width: $sidebars-width;


            @media (max-width: $tablet-max) {
                width: $bar-height;
                min-width: 0;
                text-align: center;
                padding-left: 0;
            }
        }


        .label {
            @media (max-width: $tablet-max) {
                display: none;
            }
        }

        .navBar-item-image {
            @media (max-width: $tablet-max) {
                margin: 0;
            }
        }
    }

    .navBar-items {
        text-align: left;

        @media (max-width: $tablet-max) {
            text-align: center;
        }
    }

    .back {
        border-top: 0 !important;
        text-align: center;
    }


    .navBar-items:not(trigger), div, .opened trigger {
        &.navBar-items.menu-item {
            margin-top: -1px;
            border-top: 0;
            border-bottom: 1px solid $border-color;
            cursor: pointer;


            &, &:hover {
                background: #F5B718;
                color: inherit;

                @media (max-width: $tablet-max) {
                    background: none;
                }
            }
        }
    }

    div.navBar-items.menu-item {
        cursor: auto;
    }

    .drop-item {
        display: block;
        width: 100%;
        min-height: 50px;
        padding: 10px;
        font-size: 18px;
        border-bottom: 1px solid $border-color;

        &:first-child {
            border-top: 1px solid $border-color;
        }
    }


    .bar {
        width: calc(100% - #{$sidebars-width});
        float: left;
        height: $bar-height;

        @media (max-width: $tablet-max) {
            width: calc(100% - #{2*$bar-height});
            font-size: 16px;
        }

        .app-dropdown .close {
            display: block;
        }

        .menu-item:not(.active-top) {
            @media (max-width: $tablet-max) {
                display: none;
            }
        }
    }

    .more-drop {

        .dropdown-window {
            padding: 0;
            padding-top: $bar-height;
        }

        .app-select, button {
            height: 40px;
            vertical-align: middle;
        }
    }

    .more-drop .menu-item, .print, .attachments .menu-item, .new-complain {

        @media (max-width: $tablet-max) {
            display: block !important;
            max-width: none;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 22px;
            width: $bar-height;
            height: $bar-height;
        }

        > .ti-plus {
            margin-right: 7px;
        }
    }

    .inputs {
        margin-left: 10px;

        @media (max-width: $tablet-max) {
            margin: 0;
            max-width: 100%;
        }
    }

    .ff-date-fix {
        @-moz-document url-prefix() {
            margin: 0 5px;
        }
    }

    input {
        margin: 0 5px;

        @-moz-document url-prefix() {
            margin: 0;
        }

        @media (max-width: $tablet-max) {
            padding: 0 5px;
            margin: 0 5px;
            height: 2.5em;
        }
    }

    form.menu-item {
        padding-right: 0;

        &:hover {
            background: inherit;
        }

        .app-select {
            vertical-align: middle;
        }

        .value {
            border: 0;
        }

        button {
            padding: 0 20px;
            border: 0;
            line-height: $bar-height - 4px;
        }
    }

    .app-dropdown {
        height: $bar-height - 1px;

        @media (max-width: $tablet-max) {
            position: static;
        }
    }

    .dropdown-window {
        color: $content-fcolor;
        text-align: left;
        white-space: normal;
        font-size: 16px;

        .close {

            @media (max-width: $tablet-max) {
                display: block;
                border-left: 1px solid $border-color;
                height: $bar-height;
            }
        }
    }


    .app-dropdown.list {
        .dropdown-window {
            padding: 0;

            .label {
                display: block;
                line-height: $bar-height;

                @media (max-width: $tablet-max) {
                    margin-top: 6px;
                    border-bottom: 1px solid $border-color;
                }
            }

            .label ~ * {
                display: block;
                padding: 0 15px;
            }
        }
    }

    .items-drop {

        .label {
            top: 0;
            color: inherit;
            line-height: $bar-height;
        }

        .dropdown-window {
            padding: 0;
            top: 100%;
            right: 0;
            left: 0;
            overflow: visible;

            .app-sticky {
                background: $groups-bg;
            }
        }
    }

    .arg {
        @media (max-width: $tablet-max) {
            display: block;
        }
    }



    .import-csv-form.menu-item {
        color: inherit;
        padding: 0 15px;
    }

    .import-csv-input {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 1;
    }


    [name="cartId"] {
        z-index: 25;
        vertical-align: middle;
    }
}

.app-documents-list, .app-customer-data, .app-document-details, .app-complaint-form {

    .app-menu {
        background: $primary-color;
        color: $fcolor-for-primary;
        border-color: $primary-color;

        @media (min-width: #{$tablet-max + 1}) {
            position: relative;
        }

        .active-top:not(.back) {
            border-left-color: $bar-active-border;
            border-right-color: $bar-active-border;

            .label {
                @media (min-width: #{$tablet-max + 1}) {
                    line-height: 70px;
                    display: -ms-inline-flexbox;
                    -ms-align-items: center;
                    @include display-flex(inline-flex);
                    @include align-items(center);
                    max-width: 100%;
                }
            }
        }
    }


}


.app-cart, .app-thank-you {
    .app-menu {
        background: $secondary-color;
        color: $fcolor-for-secondary;
        border-color: $secondary-color;

        .active-top {
            border-color: $cart-button-bg !important;
            white-space: nowrap;
            padding: 0 !important;
        }

        .menu-item:hover {
            background: $cart-button-hover;
        }
    }
}


.import-csv-modal {
    white-space: normal;

    button {
        vertical-align: middle;
    }

    .modal-window {
        width: 1000px;
        min-height: 0;
    }

    .modal-content {
        text-align: left;
    }

    .emphasised-section {
        margin-bottom: 0.5em;

        &:not(:first-child) {
            margin-top: 25px;
        }
    }

    .emphasised-section, [class*="separator"] {
        padding-left: 20px;
        padding-right: 20px;
    }
}
