<nav class="inner-clear nav-container" *ngIf="r?.translations">

    <ng-container *ngIf="menuItems && menuItems.length > 0">

        <ng-container *ngIf="menuItems[0]?.url === configService.routePaths.items || menuItems[0]?.cssClass?.includes('back'); else simpleItem">


            <a *ngIf="menuItems[0]?.cssClass?.includes('back')" class="f-left button menu-item {{menuItems[0].cssClass}}"
               [routerLink]="'/'+menuItems[0]?.url"
               routerLinkActive="active-top">
                <i class="navBar-item-image ti-menu {{menuItems[0].cssClass}}"></i>
                <p class="label">{{r?.translations[menuItems[0].resourceKey]}}</p>
            </a>

            <button *ngIf="!menuItems[0]?.cssClass?.includes('back') && !groupsAsDrop && configService.isMobile"
                 (click)="toggleExternalGroups.emit()"
                 class="f-left button menu-item {{menuItems[0].cssClass}}">

                <i class="navBar-item-image ti-menu {{menuItems[0].cssClass}}"></i>
                <p class="label">{{r?.translations[menuItems[0].resourceKey]}}</p>
            </button>

            <a *ngIf="!menuItems[0]?.cssClass?.includes('back') && !groupsAsDrop && !configService.isMobile"
               [routerLink]="configService?.routePaths?.home"
               class="f-left button menu-item {{menuItems[0].cssClass}}">

                <i class="navBar-item-image ti-menu {{menuItems[0].cssClass}}"></i>
                <p class="label">{{r?.translations[menuItems[0].resourceKey]}}</p>
            </a>

            <app-dropdown *ngIf="!menuItems[0]?.cssClass?.includes('back') && groupsAsDrop" class="items-drop f-left bg-yellow">

                <trigger class="menu-item {{menuItems[0].cssClass}}">
                    <i class="navBar-item-image ti-menu {{menuItems[0].cssClass}}"></i>
                    <p class="label">{{r?.translations[menuItems[0].resourceKey]}}</p>
                </trigger>

                <content class="sidebar">
                    <div class="groups-wrapper sticky">
                        <app-groups [initialGroupId]="initialGroupId"></app-groups>
                    </div>
                </content>

            </app-dropdown>

        </ng-container>

        <ng-template #simpleItem>
            <a class="f-left menu-item button {{menuItems[0]?.cssClass}}"
               [routerLink]="['/'+menuItems[0].url]"
               routerLinkActive="active-top">

                <i class="navBar-item-image ti-menu {{menuItems[0]?.cssClass}}"></i>

                <p class="label">
                    {{r?.translations[menuItems[0]?.resourceKey]}}<span *ngIf="menuItems[0]?.params?.id">: {{menuItems[0]?.params.id}}</span>
                </p>

            </a>
        </ng-template>

    </ng-container>

    <div class="inner-clear bar flex">


        <ng-container *ngIf="menuItems?.length > 1">


            <button *ngFor="let item of menuItems.slice(1)"
               class="f-left menu-item button {{item.cssClass}}"
               [routerLink]="['/'+item.url]"
               routerLinkActive="active-top">

                <i class="navBar-item-image ti-menu {{item.cssClass}}"></i>

                <p class="label">
                    {{r?.translations[item?.resourceKey]}}<span *ngIf="item?.params?.id">: {{item?.params?.id}}</span>
                </p>

            </button>

        </ng-container>


        <form class="menu-item import-csv-form"
              *ngIf="isDefaultMenu && cartsService?.allCarts?.length > 0 && configService.permissions.showCarts && configService.permissions.showProducts"
              #importCsvForm="ngForm"
              (ngSubmit)="importCsv(importCsvForm.valid, importCsvForm.value)">

            <i class="navBar-item-image ti-import"></i>

            <span class="label">{{r?.translations?.importToCart}}</span>

            <input type="file" class="import-csv-input" name="csvFile" accept=".csv" required ngModel (change)="importCsv($event.target.files, importCsvForm)">

            <app-select name="cartId" ngModel required>
                <app-option *ngFor="let cart of cartsService?.allCarts" [value]="cart">{{cart}}</app-option>
            </app-select>
        </form>


        <ng-content></ng-content>

    </div>



</nav>


<app-modal class="import-csv-modal"
           *ngIf="!router?.url?.includes(configService.routePaths.fileImportResult) && isDefaultMenu && cartsService?.allCarts?.length > 0 && configService.permissions.showCarts && configService.permissions.showProducts"
           [isOpened]="!!menuService?.cartImportedResponse"
           [autoClose]="false"
           (close)="closeImportResponseModal()">

    <app-import-cart-results [cartId]="importCsvForm?.value?.cartId"
                             (closeMiddleware)="closeImportResponseModal()">

    </app-import-cart-results>
</app-modal>
