@import 'compass-mixins/lib/_compass.scss';
@import 'configuration.scss';

.app-documents-list {

    .app-menu {

        .bar {
            @media (max-width: $tablet-max) {
                width: calc(100% - 97px);
            }

            .menu-item {
                @media (max-width: $tablet-max) {
                    padding: 0 !important;
                }
            }

            .new-complain {

                @media (max-width: $tablet-max) {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 37px;
                }

                a {
                    width: 37px;
                }
            }
        }

        .label, input {
            @media (max-width: $tablet-max) {
                font-size: 12px;
                text-align: center;
                margin: 0;
                padding: 0 2px;
            }
        }
    }

    .box-message:not(.no-results) {
        margin-bottom: 15px;
    }

    .aditional-filters {
        padding: 0 10px 30px;

        @media (max-width: $tablet-max) {
            font-size: 14px;
        }
    }


    .image-container {
        width: 50px;
        height: 50px;
        margin-right: 10px;

        @media (max-width: $tablet-max) {
            width: 25px;
            height: 40px;
        }
    }


    .table {
        font-size: 0.9rem;
    }

    .table, .product-name {
        @media (max-width: $tablet-max) {
            font-size: 12px;
        }
    }

    .tcell {
        padding: 10px;

        @media (max-width: $tablet-max) {
            padding: 10px 5px;
        }

        &:not(.number-col):not(.state-col):not(.stateId-col):not(.status-col):not(.issueDate-col):not(.createdDate-col):not(.name-col):not(.complain-col):not(.sourceDocumentId-col):not(.products-amount) {

            @media (max-width: $tablet-max) {
                display: none;
            }
        }

        &.orders-col, &.quotes-col, &.inquiryNumber-col {
            word-break: break-all;
        }
    }

    .thead, .tcell {
        @media (max-width: $tablet-max) {
            min-height: 0;
            min-width: 85px;
        }
    }

    .number-col {
        flex-grow: 1;
        word-break: break-all;
    }

    .tfoot {

        .products-amount {
            @media (max-width: $tablet-max) {
                line-height: 50px;
            }
        }
    }

    .filter-row-item {
        padding: 15px;
    }

    .trigger-container, .app-radio {
        padding: 0 15px;
    }

    .main-column:not(.no-results) {
        padding-left: 30px;
        padding-right: 30px;

        @media (max-width: $tablet-max) {
            padding: 0;
            padding-top: 30px;
        }
    }

    .price {
        padding-right: 30px;
    }

    .currency-col {
        &, .price {
            text-align: left;
        }
    }

    .state-keys {
        margin-left: 30px;

        @media (max-width: $tablet-max) {
            margin: 0;
            margin-top: 15px;
        }

        &, .app-select {
            @media (max-width: $tablet-max) {
                width: 100%;
            }
        }
    }

    .sidebar {
        @media (max-width: $tablet-max) {
            display: none;
        }
    }

    .state-col, .status-col, .amount-col, .name-col, .stateId-col {
        @media (max-width: $tablet-max) {
            -ms-flex-grow: 1;
            @include flex-grow(1);
            margin-right: auto;
        }
    }

    .trow {

        &, &.trow:not(.pager-col) {
            @media (max-width: $tablet-max) {
                padding: 0 5px;
            }

            &.no-results {
                padding: 20px 0;
                margin-top: 10px;
            }
        }
    }
}
