Szczegóły reklamacji @number@ z dnia: @date@@topic@
<p>
    Dziękujemy za zgłoszenie reklamacji w dniu: <b> @date@</b>.<br/>
    Państwa reklamacja o numerze:<b> @number@ </b>została zarejestrowana przez: <b>@contact@</b>.<br/>
</p>
<p>
    <b>INFORMACJA O REKLAMACJI</b><br/>
    <b>Reklamacja nr:</b> @number@<br/>
    <b>Data wystawienia:</b> @date@<br/>
    <b>Stan reklamacji:</b> @state@<br/>
</p>
<b>ELEMENTY REKLAMACJI:</b>
<style>
    th {
        border-bottom: 1px solid black;
    }

    th, td {
        border-right: 1px solid black;
    }

    .ten-left {
        width: 10px;
        text-align: left;
    }

    .twohundredandfifty-left {
        width: 250px;
        text-align: left;
    }

    .fifty-center {
        width: 50px;
        text-align: center;
    }

    .onehundredand-center {
        width: 100px;
        text-align: center;
    }

    .left {
        margin: 0 auto;
        text-align: left;
    }

    .center {
        margin: auto auto;
        text-align: center;
    }    
</style>
<table>
    <thead>
        <tr>
            <th class="ten-left">Lp.</th>
            <th class="twohundredandfifty-left">Nazwa</th>
            <th class="fifty-center">Ilość</th>
            <th class="fifty-center">Jm.</th>
            <th class="onehundredand-center">Moje żądanie</th>
            <th class="onehundredand-center">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="left">
                @no@
            </td>
            <td class="left">
                @name@
            </td>
            <td class="center">
                @quantity@
            </td>
            <td class="center">
                @unit@
            </td>
            <td class="center">
                @myRequest@
            </td>
            <td class="center">
                @status@
            </td>
        </tr>
    </tbody>
</table>
<p>
    <b>INFORMACJE DODATKOWE:</b><br/>
    Reklamacja została zarejestrowana w Comarch B2B.
</p>