Anfrage @number@ vom: @issueDate@@topic@
<p>
    Wir bedanken uns für Ihre Anfrage vom: <b>@issueDate@</b>.<br/>
    Ihre Anfrage mit der Nummer:<b> @number@ </b>wurde von: <b>@contact@</b> registriert.<br/>
</p>
<p>
    <b> ANGABEN ZUR ANFRAGE</b><br/>
    <b>Anfrage Nr.:</b> @number@<br/>
    <b>Anfragenummer in Ihrem System:</b> @sourceNumber@<br/>
    <b>Ausstellungsdatum:</b> @issueDate@<br/>
    <b>Anfragestatus:</b> @state@<br/>
</p>
<p>
    <b>INHALT DER ANFRAGE:</b><br/>
    @description@
</p>
<p>
    <b>ZUSÄTZLICHE INFORMATIONEN:</b><br/>
    Die Anfrage wurde Comarch B2B registriert.
</p>