Demande @number@ du: @issueDate@@topic@
<p>
    Merci d’avoir envoyé votre demande le: <b>@issueDate@</b>.<br/>
    Votre demande n°:<b> @number@ </b>a été enregistrée par: <b>@contact@</b>.<br/>
</p>
<p>
    <b>INFORMATION SUR LA DEMANDE</b><br/>
    <b>Demande n°:</b> @number@<br/>
    <b>N° de la demande dans votre système:</b> @sourceNumber@<br/>
    <b>Date d’émission:</b> @issueDate@<br/>
    <b>Statut de la demande:</b> @state@<br/>
</p>
<p>
    <b>CONTENU DE LA DEMANDE:</b><br/>
    @description@
</p>
<p>
    <b>INFORMATIONS SUPPLÉMENTAIRES:</b><br/>
    La demande a été enregistrée dans Comarch B2B.
</p>