Zapytanie @number@ z dnia: @issueDate@@topic@
<p>
    Dziękujemy za wysłanie zapytania w dniu: <b>@issueDate@</b>.<br/>
    Państwa zapytanie o numerze:<b> @number@ </b>zostało zarejestrowane przez: <b>@contact@</b>.<br/>
</p>
<p>
    <b>INFORMACJA O ZAPYTANIU</b><br/>
    <b>Zapytanie nr:</b> @number@<br/>
    <b>Numer zapytania w Państwa systemie:</b> @sourceNumber@<br/>
    <b>Data wystawienia:</b> @issueDate@<br/>
    <b>Stan zapytania:</b> @state@<br/>
</p>
<p>
    <b>TREŚĆ ZAPYTANIA:</b><br/>
    @description@
</p>
<p>
    <b>INFORMACJE DODATKOWE:</b><br/>
    Zapytanie zostało zarejestrowane w Comarch B2B.
</p>