Détails de la commande @number@ du @issueDate@ @topic@
<p>
    Merci d’avoir passé votre commande le: <b> @issueDate@</b>.<br/>
    Votre commande n°:<b> @number@ </b> a été enregistrée par: <b>@contact@</b>.<br/>
</p>
<p class="info-section">
    <b>INFORMATION SUR LA COMMANDE</b><br/>
    <b>Commande n°:</b> @number@<br/>
    <b>Date:</b> @issueDate@<br/>
    <b>Adresse de livraison:</b> @address@<br/>
    <div style="display:@delivery@"><b>Mode de livraison:</b> @deliveryMethod@<br/></div>   
    <b>Statut de la commande:</b> @state@</br>
    <div style="display:@price@"><b>Montant HT:</b> @netValue@ @valueCurrency@<br/></div>
    <div style="display:@price@"><b>Montant TTC:</b> @grossValue@ @valueCurrency@<br/></div>
</p>
<style>
  .info-section {
        margin: 0px;
    }

   .elements-section {
        margin-bottom: 1px;
    }

    th {               
         border-bottom: 1px solid black;         
    }

    th, td {
        border-right: 1px solid black;        
    }

    .ten-left {
        width:10px;
        text-align: left;
    }

    .twohundredandfifty-left {
        width:250px;
        text-align: left;
    }

    .fifty-center {
        width:50px;
        text-align:center;
    }
    
    .onehundredand-right {
        width: 100px;
        text-align: right;
    }

    .left {
        margin: 0 auto; 
        text-align: left;
    }

    .center {
        margin: auto auto; 
        text-align:center;
    }

    .right {        
        margin: auto 0; 
        text-align: right;
    }
</style>
<p class="elements-section"><b>ÉLÉMENTS DE LA COMMANDE:</b></p>
<table>
    <thead>
        <tr>
            <th class="ten-left">N°</th>
            <th class="twohundredandfifty-left">Désignation</th>
            <th class="fifty-center">Quantité</th>
            <th class="fifty-center">Unité de mesure</th>
            <th style="display:@price@; border:@price@" class="onehundredand-right">Prix HT</th>
            <th style="display:@price@; border:@price@" class="onehundredand-right">Prix TTC</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="left">
                @no@
            </td>
            <td class="left">
                @name@
            </td>
            <td class="center">
                @quantity@
            </td>
            <td class="center">
                @unit@
            </td>
            <td style="display:@price@; border:@price@" class="right">
                @netPrice@ @currency@
            </td>
            <td style="display:@price@; border:@price@" class="right">
                @grossPrice@ @currency@
            </td>
        </tr>
    </tbody>
</table>
<p style="display:@display@">
    <b>REMARQUES CONCERNANT LA COMMANDE:</b><br />
    @description@
</p>
<p>
    <b>INFORMATIONS SUPPLÉMENTAIRES:</b><br/>
    La commande a été enregistrée dans Comarch B2B.
</p>