Angaben zum Auftrag @number@ vom @issueDate@ @topic@
<p>
    Wir bedanken uns für Ihren Auftrag vom: <b> @issueDate@</b>.<br/>
    Ihr Auftrag mit der Nummer:<b> @number@ </b>wurde von: <b>@contact@</b> registriert.<br/>
</p>
<p class="info-section">
    <b>ANGABEN ZUM AUFTRAG</b><br/>
    <b>Auftrag Nr.:</b> @number@<br/>
    <b>Datum:</b> @issueDate@<br/>
    <b>Versandadresse:</b> @address@<br/>
    <div style="display:@delivery@"><b>Lieferart:</b> @deliveryMethod@<br/></div>
    <b>Auftragsstatus:</b> @state@<br/>
    <div style="display:@price@"><b>Nettowert:</b> @netValue@ @valueCurrency@<br/></div>
    <div style="display:@price@"><b>Bruttowert:</b> @grossValue@ @valueCurrency@<br/></div>
</p>
<style>
	.info-section {
        margin: 0px;
    }

    .elements-section {
        margin-bottom: 1px;
    }
	
    th {               
         border-bottom: 1px solid black;         
    }

    th, td {
        border-right: 1px solid black;        
    }

    .ten-left {
        width:10px;
        text-align: left;
    }

    .twohundredandfifty-left {
        width:250px;
        text-align: left;
    }

    .fifty-center {
        width:50px;
        text-align:center;
    }
    
    .onehundredand-right {
        width: 100px;
        text-align: right;
    }

    .left {
        margin: 0 auto; 
        text-align: left;
    }

    .center {
        margin: auto auto; 
        text-align:center;
    }

    .right {        
        margin: auto 0; 
        text-align: right;
    }
</style>
<p class="elements-section"><b>AUFTRAGSPOSITIONEN:</b></p>
<table>
    <thead>
        <tr>
            <th class="ten-left">Lp.</th>
            <th class="twohundredandfifty-left">Nazwa</th>
            <th class="fifty-center">Ilość</th>
            <th class="fifty-center">Jm.</th>
            <th style="display:@price@; border:@price@" class="onehundredand-right">Cena netto</th>
            <th style="display:@price@; border:@price@" class="onehundredand-right">Cena brutto</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="left">
                @no@
            </td>
            <td class="left">
                @name@
            </td>
            <td class="center">
                @quantity@
            </td>
            <td class="center">
                @unit@
            </td>
            <td style="display:@price@; border:@price@" class="right">
                @netPrice@ @currency@
            </td>
            <td style="display:@price@; border:@price@" class="right">
                @grossPrice@ @currency@
            </td>
        </tr>
    </tbody>
</table>
<p style="display:@display@">
    <b>BEMERKUNGEN ZUM AUFTRAG:</b><br />
    @description@
</p>
<p>
    <b>ZUSÄTZLICHE INFORMATIONEN:</b><br/>
    Der Auftrag wurde in Comarch B2B registriert.
</p>