Details of Order @number@ from @issueDate@ @topic@
<p>
    Thank you for submitting the order on: <b> @issueDate@</b>.<br/>
    Your order no.:<b> @number@ </b>has been registered by: <b>@contact@</b>.<br/>
</p>
<p class="info-section">
    <b>ORDER DETAILS</b><br/>
    <b>Order No.:</b> @number@<br/>
    <b>Date:</b> @issueDate@<br/>
    <b>Shipping Address:</b> @address@<br/>
    <div style="display:@delivery@"><b>Method of Delivery:</b> @deliveryMethod@<br/></div>
    <b>Order Status:</b> @state@<br/>
    <div style="display:@price@"><b>Subtotal Value:</b> @netValue@ @valueCurrency@<br/></div>
    <div style="display:@price@"><b>Total Value:</b> @grossValue@ @valueCurrency@<br/></div>
</p>
<style>
   .info-section {
        margin: 0px;
    }

   .elements-section {
        margin-bottom: 1px;
    }

    th {               
         border-bottom: 1px solid black;         
    }

    th, td {
        border-right: 1px solid black;        
    }

    .ten-left {
        width:10px;
        text-align: left;
    }

    .twohundredandfifty-left {
        width:250px;
        text-align: left;
    }

    .fifty-center {
        width:50px;
        text-align:center;
    }
    
    .onehundredand-right {
        width: 100px;
        text-align: right;
    }

    .left {
        margin: 0 auto; 
        text-align: left;
    }

    .center {
        margin: auto auto; 
        text-align:center;
    }

    .right {        
        margin: auto 0; 
        text-align: right;
    }
</style>
<p class="elements-section"><b>ORDER ITEMS:</b></p>
<table>
    <thead>
        <tr>
            <th class="ten-left">No.</th>
            <th class="twohundredandfifty-left">Name</th>
            <th class="fifty-center">Quantity</th>
            <th class="fifty-center">UOM</th>
            <th style="display:@price@; border:@price@" class="onehundredand-right">Subtotal Price</th>
            <th style="display:@price@; border:@price@" class="onehundredand-right">Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="left">
                @no@
            </td>
            <td class="left">
                @name@
            </td>
            <td class="center">
                @quantity@
            </td>
            <td class="center">
                @unit@
            </td>
            <td style="display:@price@; border:@price@" class="right">
                @netPrice@ @currency@
            </td>
            <td style="display:@price@; border:@price@" class="right">
                @grossPrice@ @currency@
            </td>
        </tr>
    </tbody>
</table>
<p style="display:@display@">
    <b>REMARKS TO ORDER:</b><br />
    @description@
</p>
<p>
    <b>ADDITIONAL INFORMATION:</b><br/>
    The order has been registered in Comarch B2B.
</p>