<nav class="nav-container">

    <ng-container *ngIf="menuItems && menuItems.length > 0 && r?.translations">

        <ng-container *ngIf="menuItems[0]?.url === menuService.routePaths.items; else simpleItem">

            <app-dropdown *ngIf="groupsAsDrop; else noDrop" class="items-drop">

                <trigger class="covered menu-item {{menuItems[0].cssClass}}">
                    <i class="navBar-item-image ti-menu {{menuItems[0].cssClass}}"></i>
                    <p class="label tablet-hidden">{{r?.translations[menuItems[0].resourceKey]}}</p>
                </trigger>

                <content class="sidebar">
                    <div class="groups-wrapper sticky">
                        <app-groups [initialGroupId]="initialGroupId"></app-groups>
                    </div>
                </content>

            </app-dropdown>

            <ng-template #noDrop>

                <button *ngIf="configService.isMobile"
                        (click)="toggleExternalGroups.emit()"
                        class="button menu-item {{menuItems[0].cssClass}}">

                    <i class="navBar-item-image ti-menu {{menuItems[0].cssClass}}"></i>
                </button>

                <div *ngIf="!configService.isMobile"
                     class="menu-item {{menuItems[0].cssClass}} as-sidebar-label">

                    <i class="navBar-item-image ti-menu {{menuItems[0].cssClass}}"></i>
                    <p class="label">{{r?.translations[menuItems[0].resourceKey]}}</p>
                </div>
            </ng-template>
            

        </ng-container>

        <ng-template #simpleItem>
            <a class="menu-item button {{menuItems[0]?.cssClass}}"
               [routerLink]="['/'+menuItems[0].url]"
               routerLinkActive="active-top">

                <i class="navBar-item-image ti-menu {{menuItems[0]?.cssClass}}"></i>

                <p class="label tablet-hidden">
                    {{r?.translations[menuItems[0]?.resourceKey]}}<span *ngIf="menuItems[0]?.params?.id">: {{menuItems[0]?.params.id}}</span>
                </p>

            </a>
        </ng-template>

    </ng-container>


    <ng-container *ngIf="menuItems?.length > 1 && r?.translations">

        <a *ngFor="let item of menuItems.slice(1)"
           class="menu-item button {{item.cssClass}}"
           [routerLink]="['/'+item.url]"
           routerLinkActive="active-top">

            <i class="navBar-item-image ti-menu {{item.cssClass}}"></i>

            <p class="label">
                {{r?.translations[item?.resourceKey]}}<span *ngIf="item?.params?.id">: {{item?.params?.id}}</span>
            </p>

        </a>

    </ng-container>

    <form class="menu-item import-csv-form"
          *ngIf="isDefaultMenu && configService?.permissions?.hasAccessToCartImport"
          #importCsvForm="ngForm"
          (ngSubmit)="importCsv(importCsvForm.valid, importCsvForm.value)">

        <i class="navBar-item-image ti-import"></i>

        <span class="label">{{r?.translations?.importToCart}}</span>

        <input type="file" class="import-csv-input" name="csvFile" accept=".csv" required ngModel (change)="importCsv($event.target.files, importToCartId)">

        <app-select name="cartId"
                    [(ngModel)]="importToCartId"
                    required
                    (open)="onOpenAddToCartSelect(importToCartId)">

            <app-option *ngFor="let cartId of cartsToAdd" [value]="cartId">{{cartId}}</app-option>

        </app-select>

    </form>

    <ng-content></ng-content>

</nav>


<app-modal class="import-csv-modal"
           *ngIf="!router?.url?.includes(menuService.routePaths.fileImportResult) && isDefaultMenu && configService?.permissions?.hasAccessToCart && configService?.permissions?.hasAccessToArticleList"
           [isOpened]="!!menuService?.cartImportedResponse"
           [autoClose]="false"
           (close)="closeImportResponseModal()">

    <app-import-cart-results [cartId]="importCsvForm?.value?.cartId"
                             (closeMiddleware)="closeImportResponseModal()">

    </app-import-cart-results>
</app-modal>
