<app-menu *ngIf="backMenuItem" [menuItems]="[backMenuItem]">

    <div class="menu-item active-top">

        {{r?.translations?.selectedCart}}:

        <app-select name="choosenCartId"
                    [(ngModel)]="id"
                    (ngModelChange)="changeCart(id)">

            <app-option *ngFor="let cartItem of cartsService?.carts | iterableToArray"
                        [value]="cartItem[0]">
                {{cartItem[0]}}
            </app-option>

        </app-select>


    </div>

</app-menu>


<div class="cart block clear">

    <div class="box-message"
         *ngIf="cart?.products?.length === 0 ">

        <i class="ti-na"></i>
        {{r?.translations?.emptyCartsMessage}}

    </div>

    <div class="no-results box-message" *ngIf="message">
        <i class="ti-na"></i>
        <span>{{message}}</span>
    </div>

    <div class="no-results box-message" *ngIf="cart?.forbiddenOrder">
        <i class="ti-na"></i>
        <span>{{r?.translations?.forbiddenOrder}}</span>
    </div>

    <div class="no-results box-message danger" *ngIf="cart?.forbiddenProducts?.length > 0">
        <i class="ti-na"></i>
        <span>{{r?.translations?.forbiddenProducts}}</span>
    </div>


    <form #cartForm="ngForm" name="cartForm" *ngIf="cart?.products?.length > 0">


        <div class="box-message"
             [ngClass]="{'danger': cart?.headerData?.stockLevelMode === 2,
                     'warning': cart?.headerData?.stockLevelMode === 1}"
             *ngIf="cart?.selectedDocumentId === 0 && cart?.headerData?.stockLevelMode > 0 && cart?.exceededStates">

            <span *ngIf="cart?.headerData?.stockLevelMode === 2">
                <i class="ti-na"></i>
                {{r?.translations?.stockLockMessage}}.
                {{r?.translations?.removePositions}}, {{r?.translations?.changeQuantity?.toLowerCase()}} {{r?.translations?.or?.toLowerCase()}}
                <strong class="link" (click)="cart.selectDocument(1)">{{r?.translations?.placeInquiry?.toLowerCase()}}</strong>.
            </span>


            <span *ngIf="cart?.headerData?.stockLevelMode === 1">
                <i class="ti-alert"></i>
                {{r?.translations?.stockErrorMessage}}.
            </span>

        </div>

        <div class="box-message"
             *ngIf="cart?.selectedDocumentId === 0 && cart?.headerData?.creditLimitMode < 2 && cart?.exceededCreditLimit && cart?.headerData?.isConfirm === 1"
             [ngClass]="{'danger': cart?.headerData?.creditLimitMode === 0,
                     'warning': cart?.headerData?.creditLimitMode === 1}">

            <span *ngIf="cart?.headerData?.creditLimitMode === 0">
                <i class="ti-na"></i>
                {{r?.translations?.creditLimitLock}}.
            </span>

            <span *ngIf="cart?.headerData?.creditLimitMode === 1">
                <i class="ti-alert"></i>
                {{r?.translations?.creditLimitMessage}}.
            </span>



        </div>

        <div class="documents narrow-content tabs clear" *ngIf="configService?.permissions?.createInquiries">

            <button [disabled]="cart?.selectedDocumentId === 0"
                    (click)="cart.selectDocument(0)">

                <i class="ti-bag"></i>
                <span>{{r?.translations?.sO}}</span>
            </button>

            <button [disabled]="cart?.selectedDocumentId === 1"
                    (click)="cart.selectDocument(1)">

                <i class="ti-pin-alt"></i>
                <span>{{r?.translations?.sI}}</span>
            </button>

        </div>

        <app-products-table *ngIf="productTableConfig"
                            [disabled]="!configService?.isOnline"
                            [products]="cart.products"
                            [summaries]="cart.summaries"
                            [columns]="cart.columns"
                            [config]="productTableConfig"
                            [isStepper]="true"
                            [pagination]="cart.paginationRepo.pagination"
                            [weight]="cart.weight"
                            (changePage)="changePage($event);"
                            (removeItem)="removeItem($event);"
                            (changeQuantity)="changeItemQuantity($event)">
        </app-products-table>


        <div class="cart-options" *ngIf="cart?.headerData">

            <div class="narrow-content">


                <div class="gr-larger f-left immediately-required-form">

                    <div class="f-left delivery half">

                        <label class="subsection-title" for="sourceNumber">{{r?.translations?.myNumber}}</label>

                        <input name="sourceNumber"
                               id="sourceNumber"
                               type="text"
                               [disabled]="!configService?.isOnline"
                               [maxlength]="configService?.applicationId === 0 ? 40 : 50"
                               [(ngModel)]="cart.headerData.sourceNumber"
                               (input)="updateTextField(0)" />
                    </div>

                    <div class="order-part" *ngIf="cart?.selectedDocumentId === 0 && (!collapsedOptions || configService.isMobile)">

                        <div *ngIf="configService?.applicationId === 0" class="f-left complection half">

                            <h3 class="subsection-title">
                                {{r?.translations?.completion}}<i class="required mark"></i>
                            </h3>

                            <app-select name="completionEntirely"
                                        required
                                        [disabled]="configService?.config?.onlyEntirelyCompletion || !configService?.permissions?.showCompletion || !configService?.isOnline"
                                        [(ngModel)]="cart.headerData.completionEntirely"
                                        (changeValue)="selectComplection();">
                                <app-option [value]="0">{{r?.translations?.partialCompletion}}</app-option>
                                <app-option [value]="1">{{r?.translations?.entireCompletion}}</app-option>
                            </app-select>
                        </div>

                        <div class="f-left delivery half" [ngClass]="{'clear': configService?.applicationId === 1}">

                            <h3 class="subsection-title">{{r?.translations?.delivery}}</h3>

                            <div class="box">

                                <div class="delivery-method" *ngIf="configService?.permissions?.showDeliveryMethod">

                                    <label class="pair-key">{{r?.translations?.shippingMethod}}<i class="required mark"></i></label>


                                    <app-select name="deliveryMethodId"
                                                required
                                                [(ngModel)]="cart.headerData.deliveryMethod"
                                                [disabled]="!configService?.permissions?.deliveryMethodChange || !configService?.isOnline"
                                                (changeValue)="selectDelivery()"
                                                (firstOpen)="cart.loadDeliveryMethods()">

                                        <app-loading class="small" *ngIf="!cart.deliveryLoaded"></app-loading>

                                        <app-option *ngFor="let item of cart.deliveryMethods"
                                                    [value]="item.name">
                                            {{item.translationName}}
                                        </app-option>
                                    </app-select>
                                </div>

                                <div class="expected-date">

                                    <label class="pair-key" for="expectedDate">
                                        {{r?.translations?.expectedDate}}<i class="required mark"></i>
                                    </label>

                                    <div class="ff-date-fix">
                                        <input name="receiptDate"
                                               id="expectedDate"
                                               required
                                               #receiptDate
                                               type="date"
                                               [min]="configService?.now | date: 'yyyy-MM-dd'"
                                               [ngModel]="cart.headerData.receiptDate | date: 'yyyy-MM-dd'"
                                               (ngModelChange)="datesInputGuardian($event, 'receiptDate')"
                                               (change)="updateHeader(2)"
                                               required
                                               [disabled]="!configService?.permissions?.receiptDateChange || !configService?.isOnline" />
                                    </div>
                                </div>



                            </div>

                        </div>


                        <div class="f-left half payment">

                            <h3 class="subsection-title">{{r?.translations?.payment}}</h3>

                            <div class="box">


                                <div class="payment-form">

                                    <label class="pair-key">{{r?.translations?.paymentForm}}<i class="required mark"></i></label>


                                    <app-select name="paymentFormId"
                                                required
                                                [(ngModel)]="cart.headerData.paymentFormId"
                                                [disabled]="!configService?.permissions?.paymentFormChange || !configService?.isOnline"
                                                (changeValue)="selectPayment()"
                                                (firstOpen)="cart.loadPaymentForms()">

                                        <app-loading class="small" *ngIf="!cart.paymentsLoaded"></app-loading>

                                        <app-option *ngFor="let item of cart.paymentForms"
                                                    [value]="item.id">
                                            {{item.name}}
                                        </app-option>
                                    </app-select>

                                </div>

                                <div class="due-date">
                                    <label class="pair-key" for="dueDate">{{r?.translations?.dueDate}}<i class="required mark"></i></label>

                                    <div class="ff-date-fix">
                                        <input name="dueDate"
                                               id="dueDate"
                                               required
                                               #dueDate
                                               type="date"
                                               [min]="configService?.now | date: 'yyyy-MM-dd'"
                                               [ngModel]="cart.headerData.dueDate | date: 'yyyy-MM-dd'"
                                               (ngModelChange)="datesInputGuardian($event, 'dueDate')"
                                               (change)="updateHeader(6)"
                                               required
                                               [disabled]="!configService?.permissions?.paymentDateChange || !configService?.isOnline" />
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="f-left addresses half">

                            <h3 class="subsection-title">{{r?.translations?.shippingAddress}}<i class="required mark"></i></h3>

                            <app-select name="shippingAddress"
                                        required
                                        [(ngModel)]="cart.headerData.addressId"
                                        [disabled]="!configService?.isOnline"
                                        (changeValue)="selectShippingAddress()"
                                        (firstOpen)="cart.loadShippingAddresses()">

                                <app-loading class="small" *ngIf="!cart.adressesLoaded"></app-loading>

                                <app-option *ngFor="let item of cart.shippingAddresses" [value]="item.id">{{item.name}}</app-option>
                            </app-select>

                        </div>



                        <div class="f-left warehouses half">

                            <h3 class="subsection-title">{{r?.translations?.warehouse}}<i class="required mark"></i></h3>


                            <app-select name="warehouseId"
                                        required
                                        [(ngModel)]="cart.headerData.warehouseId"
                                        [disabled]="!configService?.permissions?.canChangeDefaultWarehouse
                                                    || !configService?.permissions?.canChangeDefaultWarehouseCart
                                                    || !cart.headerData.warehouseChangeEnabled
                                                    || !configService?.isOnline"
                                        (changeValue)="selectWarehouse()"
                                        (firstOpen)="cart.warehousesService.loadWarehouses()">

                                <ng-container *ngIf="cart.warehousesService.warehouses === undefined">

                                    <app-loading class="small"></app-loading>

                                    <app-option [value]="cart.headerData.warehouseId">
                                        {{cart.headerData.warehouseName || r?.translations?.allWarehouses}}
                                    </app-option>

                                </ng-container>

                                <ng-container *ngIf="cart.warehousesService.warehouses !== undefined">

                                    <app-option [value]="'0'"
                                                [selected]="cart.headerData.warehouseId === '0'">
                                        {{r?.translations?.allWarehouse}}
                                    </app-option>

                                    <app-option *ngFor="let item of cart.warehousesService.warehouses"
                                                [value]="item.id"
                                                [selected]="cart.headerData.warehouseId === item.id">
                                        {{item.text}}
                                    </app-option>

                                </ng-container>




                            </app-select>

                        </div>
                    </div>



                </div>

                <div class="gr-smaller f-right">

                    <div class="note inner-clear" role="form" [attr.aria-label]="r?.translations?.note">



                        <button id="toggleNote"
                                class="pure f-left"
                                [disabled]="!configService.isOnline"
                                aria-controls="noteForm"
                                [attr.aria-expanded]="noteFormDisplay"
                                [attr.aria-describedby]="cart.headerData.description !== undefined && cart.headerData.description !== '' && !noteFormDisplay
                                                             ? 'appliedNote' : null"
                                (click)="changeNoteDisplay()">

                            <ng-container *ngIf="!noteFormDisplay">

                                <span *ngIf="cart.headerData.description === null || cart.headerData.description === ''">
                                    <i class="ti-notepad"></i> {{r?.translations?.addNote}}
                                </span>
                                <span *ngIf="cart.headerData.description !== null && cart.headerData.description !== ''">
                                    <i class="ti-pencil"></i> {{r?.translations?.editNote}}
                                </span>

                            </ng-container>

                            <ng-container *ngIf="noteFormDisplay">
                                <span *ngIf="cart.headerData.description === null || cart.headerData.description === ''">
                                    <i class="ti-notepad"></i> {{r?.translations?.collapseNote}}
                                </span>
                                <span *ngIf="cart.headerData.description !== null && cart.headerData.description !== ''">
                                    <i class="ti-pencil"></i> {{r?.translations?.applyNote}}
                                </span>
                            </ng-container>

                        </button>



                        <div id="noteForm" *ngIf="noteFormDisplay">

                            <textarea name="note"
                                      class="clear"
                                      [disabled]="!configService.isOnline"
                                      [attr.aria-label]="r?.translations?.note"
                                      aria-describedby="noteMaxLengthTip"
                                      [maxlength]="2000"
                                      [(ngModel)]="cart.headerData.description"
                                      (input)="updateTextField(0)">
                            </textarea>

                            <small class="remaining-chars pair-key" id="noteMaxLengthTip">
                                {{r?.translations?.charactersLeft | format: (2000 - cart?.headerData?.description?.length)}}.
                            </small>

                        </div>


                        <div class="note-added clear"
                             id="appliedNote"
                             *ngIf="cart.headerData.description !== undefined && cart.headerData.description !== '' && !noteFormDisplay"
                             role="region"
                             [attr.aria-label]="r?.translations?.appliedNote">

                            {{cart.headerData.description}}
                        </div>

                    </div>


                    <div ngModelGroup="attributesForm"
                         class="box attributes-form inner-clear immediately-required-form"
                         *ngIf="cart?.attributes && cart?.attributes?.length > 0">

                        <div class="f-left half cart-attributes" *ngFor="let i of keys(cart.attributes)">

                            <div [ngSwitch]="cart.attributes[i].type">

                                <div class="app-floating-label-input full" *ngSwitchCase="'1'">

                                    <label class="floating-label pair-key top">
                                        {{cart.attributes[i].traslateName}}
                                        <i class="required mark" *ngIf="cart.attributes[i].required === 1"></i>
                                    </label>


                                    <app-select name="{{cart.attributes[i].name}}"
                                                [(ngModel)]="cart.attributes[i].value"
                                                [disabled]="!configService?.isOnline"
                                                [required]="cart.attributes[i].required === 1"
                                                (changeValue)="updateHeaderAttribute(i)">

                                        <app-option [value]="'1'">{{r?.translations?.trueString}}</app-option>
                                        <app-option [value]="'0'">{{r?.translations?.falseString}}</app-option>

                                    </app-select>


                                </div>

                                <div *ngSwitchCase="'2'">

                                    <app-floating-label-input name="{{cart.attributes[i].name}}"
                                                              [(ngModel)]="cart.attributes[i].value"
                                                              class="full"
                                                              type="text"
                                                              [maxlength]="100"
                                                              [disabled]="!configService?.isOnline"
                                                              [required]="cart.attributes[i].required === 1"
                                                              (inputChanged)="updateHeaderAttribute(i)">

                                        {{cart.attributes[i].traslateName}}

                                    </app-floating-label-input>

                                </div>

                                <div class="app-floating-label-input full" *ngSwitchCase="'3'">

                                    <label class="floating-label pair-key top">
                                        {{cart.attributes[i].traslateName}} <i class="required mark" *ngIf="cart.attributes[i].required === 1"></i>
                                    </label>

                                    <app-stepper [name]="cart.attributes[i].name"
                                                 [disabled]="!configService?.isOnline"
                                                 [value]="cart.attributes[i].value"
                                                 [required]="cart.attributes[i].required === 1"
                                                 (changeValue)="updateHeaderAttribute(i, $event)">
                                    </app-stepper>
                                </div>
                            </div>
                        </div>

                        <small class="clear block"><i class="required mark"></i> {{r?.translations?.requiredFields}}</small>

                    </div>

                    <div *ngIf="(!collapsedOptions || configService.isMobile) && configService?.permissions?.pricesVisibility && cart?.selectedDocumentId === 0" class="box summary">

                        <div [ngClass]="{'many': cart?.summaries?.length > 1}" *ngFor="let summary of cart?.summaries">

                            <span class="currency-label block" *ngIf="cart?.summaries?.length > 1">{{summary?.currency}}</span>

                            <div class="inner-clear" *ngIf="configService?.config?.priceMode !== 1">
                                <span class="f-left pair-key">{{r?.translations?.subtotalOrderValue}}:</span>
                                <span class="f-right net">{{summary.netAmount}} {{summary.currency}}</span>
                            </div>

                            <div class="inner-clear" *ngIf="configService?.config?.priceMode !== 0">
                                <span class="f-left pair-key">{{r?.translations?.totalOrderValue}}:</span>
                                <span class="f-right">{{summary.grossAmount}} {{summary.currency}}</span>
                            </div>

                            <div class="inner-clear">
                                <span class="f-left pair-key">{{r?.translations?.vatValue}}:</span>
                                <span class="f-right">{{summary.vatValue}} {{summary.currency}}</span>
                            </div>

                        </div>

                        <div class="delivery-cost" *ngIf="cart?.weight?.costValue && cart?.config?.isDeliveryCost">
                            <div class="inner-clear">
                                <span class="f-left pair-key">{{r?.translations?.deliveryCost}}:</span>
                                <span class="f-right">{{cart?.weight?.costValue}}</span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="form-bottom-bar" [ngClass]="{expanded: !collapsedOptions}">

            <div class="narrow-content" *ngIf="cart?.selectedDocumentId === 0">

                <div class="to-pay box f-right gr-smaller"
                     *ngIf="cart?.summaries && configService?.permissions?.pricesVisibility && (configService?.config?.priceMode !== 0 || cart?.weight?.costValue)">

                    <div *ngIf="cart?.summaries && cart.summaries[0].grossAmount && configService?.config?.priceMode !== 0">
                        <div class="inner-clear" *ngFor="let summary of cart?.summaries">
                            <span class="f-left" *ngIf="summary.currency === cart.summaries[0].currency">{{r?.translations?.totalToPay}}:</span>
                            <span class="f-right">{{summary.grossAmount}} {{summary.currency}}</span>
                        </div>
                    </div>

                    <div class="delivery-cost clear inner-clear" *ngIf="cart?.weight?.costValue && cart?.config?.getDeliveryCost">
                        <div class="inner-clear">
                            <span class="f-left pair-key">+ {{r?.translations?.deliveryCost}}:</span>
                            <span class="f-right">{{cart?.weight?.costValue}}</span>
                        </div>
                    </div>

                </div>

            </div>

            <div class="action-buttons">

                <div class="narrow-content inner-clear">

                    <button class="collapse-cart-options pure f-left gr-larger"
                            *ngIf="cart?.selectedDocumentId === 0  && !configService.isMobile"
                            (click)="collapseOptions()">

                        <i class="arrow ti-angle-down"></i>
                        <span *ngIf="!collapsedOptions">{{r?.translations?.collapse}} </span>
                        <span *ngIf="collapsedOptions">{{r?.translations?.show}} </span>
                        <span>{{r?.translations?.defaultDeliveryAndPayment | lowercase}}</span>

                    </button>

                    <button class="add-order gr-smaller f-right"
                            [disabled]="savingData || !configService?.isOnline || !cart?.isValid
                                        || (noteFormDisplay && cart?.headerData?.description?.length)"
                            (click)="addDocument()">

                        <ng-container *ngIf="savingData">
                            {{r?.translations?.saving}}
                        </ng-container>

                        <ng-container *ngIf="!savingData">
                            {{cart?.selectedDocumentId ? r?.translations?.placeInquiry : r?.translations?.placeOrder}}
                        </ng-container>

                    </button>

                </div>

            </div>
        </div>
    </form>

</div>
