@import 'compass-mixins/lib/_compass.scss';
@import 'configuration.scss';

.app-document-details { 
    display: block;


    .app-sticky {
        z-index: 19;
    }


    .profile-container {
        padding-left: 0;
        padding-right: 0;

        @media (max-width: $tablet-max) {
            padding-top: 30px;
        }

        button {
            @media (max-width: $tablet-max) {
                font-size: 14px;
            }
        }
        .search-bar {
            position: relative;
            padding: 0;
            margin: auto;
            max-width: 45%;
    
            @media (max-width: $tablet-max) {
                -ms-flex-order: 10;
                @include order(10);
                padding-left: 10px;
                width: calc(100% - #{$bar-height});
                padding: 10px 0;
                z-index: 1;
                height: $bar-height;
                border-bottom: 1px solid $border-color;
                margin-right: 0;
            }
    
            form {
                @media (max-width: $tablet-max) {
                    width: 100%;
                    position: relative;
                    float: right;
                    padding-left: 10px;
                }
            }
    
            input {
                padding: 15px;
                width: 500px;
                max-width: 100%;
                padding-right: 65px;
                height: 60px;
                font-size: 1rem;
    
                @include input-placeholder {
                    color: $search-placeholder;
                }
    
                @media (max-width: $tablet-max) {
                    height: $bar-height - 20px;
                    width: calc(100% - 60px);
                    padding: 0 10px;
                    border: 0;
                }
            }
    
            .search-button {
                position: absolute;
                right: 27%;
                top: 0;
                bottom: 0;
                width: 60px;
                font-size: 20px;
                @media (max-width: $tablet-max) {
                    right: 0;
                }
            }
        }
    }


    .box-message {
        margin-bottom: 30px;
    }



    .state {
        margin: 15px 15px 15px 0;
        font-size: 20px;

        @media (max-width: $tablet-max) {
            width: 100%;
            margin: 0;
            margin-bottom: 20px;
            font-size: 16px;
        }

        ~ button {
            margin-bottom: 15px;
        }
    }

    .header-data p:not(.state) {
        margin: 0;
        margin-bottom: 10px;
    }

    .header-item {
        min-width: 180px;
        max-width: 100%;
        margin-bottom: 15px;
        padding-right: 20px;

        @media (max-width: $tablet-max) {
            max-width: 50%;
            min-width: 170px;
            margin-bottom: 15px;
            margin-bottom: 5px;
            font-size: 14px;
        }
    }

    .desc {
        background: $detailsDescBg;
        padding: 15px;

        @media (max-width: $tablet-max) {
            padding: 5px;
            font-size: 12px;
        }
    }

    .header-data {

        @media (max-width: $tablet-max) {
            -ms-flex-order: 1;
            @include order(1);
        }
    }

    .infos {
        position: relative;

        @media (max-width: $tablet-max) {
            padding-bottom: 25px;
        }
    }

    .top-summary {
        border: 1px solid $border-color;
        padding: 15px;
        margin-bottom: 20px;

        .half {
            width: 50%;
        }

        &:not(:first-child) {
            margin-top: -21px;
        }

        .f-right {
            text-align: right;
        }

        p {
            margin: 0;
        }

        @media (max-width: $tablet-max) {
            padding: 10px;
        }
    }

    .toggle-visibility {
        @media (max-width: $tablet-max) {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .products-amount {
        color: tint($content-fcolor, 50%);
        text-align: right;

        .amount {
            line-height: 1em;
            font-size: 2rem;
            display: block;
        }
    }


    .untill {
        text-align: right;
        margin-bottom: 10px;
        background: $discounts-color;
        color: tint($discounts-color, 90%);
        padding: 5px 10px;
        font-size: 1.2rem;
    }
}
