<app-menu [groupsAsDrop]="true" [initialGroupId]="product?.details?.articleGroupId"></app-menu>

<div class="item-details clear narrow-content">

    <div class="no-results box-message" *ngIf="message">
        <i class="ti-na"></i>
        <span>{{message}}</span>
    </div>

    <ng-container *ngIf="product?.details">

        <div class="inner-clear top-section section flex flex-wrap">

            <div class="site-map full inner-clear tablet-hidden"
                 *ngIf="breadcrumbs">


                <a class="pure breadcrumb inline-block"
                   [routerLink]="[configService.routePaths.home]">

                    <i class="ti-home"></i>
                </a>

                <a class="pure breadcrumb inline-block"
                   *ngFor="let item of breadcrumbs.slice(1)"
                   [routerLink]="[configService.routePaths.items, item.id]">

                    <i class="ti-angle-right separator"></i>
                    {{item.name}}
                </a>

                <span class="breadcrumb inline-block">
                    <i class="ti-angle-right separator"></i>
                    {{product.details.name}}
                </span>

            </div>

            <div class="name full gr-larger">
                <h1>{{product.details.name}}</h1>
                <div class="product-code" *ngIf="configService?.config?.showCode && product.details.code">{{product.details.code}}</div>
            </div>

            <app-product-flags class="gr-smaller" [value]="product.details.flag"></app-product-flags>

            <div class="gallery clear f-left gr-smaller"
                 *ngIf="product?.images">

                <div class="image-container" *ngIf="!configService?.config?.showImages || product.images.length === 0">
                    <i class="ti-image no-photo"></i>
                </div>

                <ng-container *ngIf="configService?.config?.showImages && product.images.length > 0">

                    <app-slider [items]="1"
                                [slideBy]="1"
                                [zoom]="true"
                                [areThumbs]="true"
                                class="big-photo">

                        <div *ngFor="let image of product.images"
                             class="image-container f-left">

                            <img src="imagehandler.ashx?id={{image.id}}&frombinary={{image.fromBinary || product.details.fromBinary}}&width=400&height=400"
                                 alt="{{product.details.name}}" />
                        </div>

                    </app-slider>

                </ng-container>

            </div>


            <div class="details f-right inner-clear gr-larger">

                <div class="basic-details f-left half">

                    <div class="inner-clear" *ngIf="product?.details?.ean">
                        <p class="f-left half-always">
                            {{r?.translations?.ean}}
                        </p>

                        <p class="f-right half-always">
                            {{product.details.ean}}
                        </p>
                    </div>


                    <div class="inner-clear" *ngIf="product?.details?.manufacturer !== '' ">
                        <p class="f-left half-always">
                            {{r?.translations?.manufacturer}}
                        </p>

                        <p class="f-right half-always">

                            <a *ngIf="product.details.manufacturerUrl" href="product.details.manufacturerUrl">{{product.details.manufacturer}}</a>

                            <span *ngIf="!product.details.manufacturerUrl">{{product.details.manufacturer}}</span>

                        </p>
                    </div>

                    <div class="inner-clear" *ngIf="product?.details?.brand !== '' ">
                        <p class="f-left half-always">
                            {{r?.translations?.brand}}
                        </p>

                        <p class="f-right half-always">
                            {{product.details.brand}}
                        </p>
                    </div>

                    <div class="inner-clear">
                        <p class="f-left half-always">
                            {{r?.translations?.vat}}
                        </p>

                        <p class="f-right half-always">
                            {{product.details.vatRate}}%
                        </p>
                    </div>

                    <div class="inner-clear" *ngIf="product?.details?.manager !== ''">
                        <p class="f-left half-always">
                            {{r?.translations?.productManager}}
                        </p>

                        <p class="f-right half-always">

                            <a *ngIf="product.details.managerMail" href="mailto://{{product.details.managerMail}}">{{product.details.manager}}</a>

                            <span *ngIf="!product.details.managerMail">{{product.details.manager}}</span>

                        </p>
                    </div>

                    <div class="inner-clear" *ngIf="product?.details?.bruttoWeight">
                        <p class="f-left half-always">
                            {{r?.translations?.weight}}
                        </p>

                        <p class="f-right half-always">
                            {{product.details.bruttoWeight}} {{r?.translations[product?.details?.weightSymbolResourceKey]}}
                        </p>
                    </div>


                    <div class="inner-clear" *ngIf="r?.translations && product?.details?.volume">
                        <p class="f-left half-always">
                            {{r?.translations?.volume}}
                        </p>

                        <p class="f-right half-always">
                            {{product.details.volume}} {{r?.translations[product?.details?.volumeSymbolResourceKey]}}
                        </p>
                    </div>

                    <div class="inner-clear">
                        <p class="f-left half-always">
                            {{r?.translations?.warehouse}}
                        </p>

                        <app-select name="warehouseId"
                                    class="f-right half-always"
                                    [disabled]="!product.changeWarehouseLocal || !configService?.permissions?.canChangeDefaultWarehouse"
                                    [(ngModel)]="product.config.warehouseId"
                                    (changeValue)="selectWarehouse($event)"
                                    (firstOpen)="warehousesService.loadWarehouses()">


                            <ng-container *ngIf="warehousesService.warehouses === undefined">

                                <app-loading class="small" *ngIf="warehousesService.warehouses === undefined"></app-loading>

                                <app-option [value]="configService?.config?.warehouseId">
                                    {{configService?.config?.warehouseName || r?.translations?.allWarehouse}}
                                </app-option>

                            </ng-container>

                            <ng-container *ngIf="warehousesService.warehouses !== undefined">
                                <app-option [value]="'0'">
                                    {{r?.translations?.allWarehouse}}
                                </app-option>

                                <app-option *ngFor="let item of warehousesService.warehouses"
                                            [value]="item.id">
                                    {{item.text}}
                                </app-option>
                            </ng-container>

                        </app-select>
                    </div>

                    <div *ngIf="product.attributes" class="attributes">

                        <div class="trow" *ngFor="let attr of product.attributes.slice(0,3)">
                            <p class="f-left half-always">
                                {{attr.name}}
                            </p>

                            <p class="f-right half-always">
                                {{attr.value}}
                            </p>
                        </div>

                    </div>

                </div>

                <div class="purchase-details f-left half">

                    <app-loading class="details-loader" *ngIf="detailsLoading"></app-loading>

                    <div class="availability inner-clear"
                         *ngIf="configService.applicationId === 0"
                         [ngClass]="{'full': product.details.status === 0 && product.details.availableFrom}">

                        <span class="pair-key">{{r?.translations?.availability}}: </span>

                        <ng-container *ngIf="product.details.status !== 1" [ngSwitch]="product.details.status">
                            <ng-container *ngSwitchCase="0">{{r?.translations?.articleStatePreview}}</ng-container>
                            <ng-container *ngSwitchCase="2">{{r?.translations?.articleStateAvaliableOnRequest}}</ng-container>
                            <ng-container *ngSwitchCase="3">{{r?.translations?.articleStateUnavailable}}</ng-container>
                        </ng-container>

                        <ng-container *ngIf="product.details.status === 1" [ngSwitch]="product.details.availability">
                            <ng-container *ngSwitchCase="0">{{r?.translations?.articleAvailabilityAvaliableNow}}</ng-container>
                            <ng-container *ngSwitchCase="1">{{r?.translations?.articleAvailabilityAvaliableIn24H}}</ng-container>
                            <ng-container *ngSwitchCase="2">{{r?.translations?.articleAvailabilityAvaliableIn48H}}</ng-container>
                            <ng-container *ngSwitchCase="3">{{r?.translations?.articleAvailabilityAvaliableFrom3To5Day}}</ng-container>
                            <ng-container *ngSwitchCase="4">{{r?.translations?.articleAvailabilityAvaliableTo7Days}}</ng-container>
                            <ng-container *ngSwitchCase="5">{{r?.translations?.articleAvailabilityAvaliableTo14Days}}</ng-container>
                            <ng-container *ngSwitchCase="6">{{r?.translations?.articleAvailabilityAvaliableToOver14Days}}</ng-container>
                        </ng-container>

                        <ng-container *ngIf="product.details.status === 1 && product.details.availability === -1">
                            {{r?.translations?.articleStateAvailable}}
                        </ng-container>

                        <div class="f-right" *ngIf="product.details.status === 0 && product.details.availableFrom">
                            <span class="pair-key">{{r?.translations?.availableFromDate}}</span>
                            {{product.details.availableFrom | date: 'yyyy-MM-dd'}}
                        </div>
                    </div>



                    <div class="prices clear flex flex-wrap inner-clear" *ngIf="configService?.permissions?.pricesVisibility">

                        <div class="net-price f-left" *ngIf="configService?.config?.priceMode !== 1">
                            <small class="brutto-netto">{{r?.translations?.net}}</small>
                            <span class="price-value net">{{product.details.netPrice}}</span>
                            <span class="currency">{{product.details.currency}}</span>

                            <small class="pair-key converter" *ngIf="product.details.subtotalBasicPrice">
                                {{product.details.subtotalBasicPrice | toPrice}}/{{product.details.basicUnit}}
                            </small>
                        </div>

                        <div class="gross-price f-right" *ngIf="configService?.config?.priceMode !== 0">
                            <small class="brutto-netto">{{r?.translations?.gross}}</small>
                            <span class="price-value">{{product.details.grossPrice}}</span>
                            <span class="currency">{{product.details.currency}}</span>

                            <small class="pair-key converter" *ngIf="product.details.totalBasicPrice">
                                {{product.details.totalBasicPrice | toPrice}}/{{product.details.basicUnit}}
                            </small>
                        </div>
                    </div>



                    <div class="adding-form inline-block">


                        <div class="inner-clear">

                            <div class="f-left stepper-group">
                                <div class="stock">
                                    <div *ngIf="configService?.config?.showState && product.details.type !== 3 && product.details.type !== 4 && product.details.type !== 6">
                                        <span class="pair-key">{{r?.translations?.inStock}}:</span>
                                        <span *ngIf="configService?.config?.stateMode === true">{{product.details.stockLevel}}</span>
                                        <span *ngIf="configService?.config?.stateMode === false && product.details.max > 0">{{r?.translations?.available }}</span>
                                        <span *ngIf="configService?.config?.stateMode === false && product.details.max === 0">{{r?.translations?.none }}</span>
                                    </div>
                                </div>

                                <app-stepper *ngIf="configService?.permissions?.showCarts && product?.details?.status !== 3"
                                             [value]="product.details.quantity"
                                             [isUnitTotal]="product.details.isUnitTotal"
                                             (changeValue)="changeQuantity(-1, $event)">
                                </app-stepper>
                            </div>

                            <div class="f-left unit-group">

                                <div class="pair-key converter">
                                    <span *ngIf="product.details.converter">{{product.details.converter}}</span>
                                </div>

                                <span class="one-unit" *ngIf="product.details.units.size === 1">{{product.details.auxiliaryUnit}}</span>

                                <app-select *ngIf="product.details.units.size > 1"
                                            class="full block"
                                            [disabled]="!!product.details.unitLockChange"
                                            [(ngModel)]="product.details.unitId"
                                            (changeValue)="onUnitChange(product.details.unitId)">

                                    <app-option *ngFor="let unit of product.details.units | iterableToArray"
                                                [value]="unit[0]">

                                        {{unit[1].auxiliaryUnit}}

                                    </app-option>
                                </app-select>
                            </div>
                        </div>


                        <div class="to-cart inline-flex"
                             *ngIf="configService?.permissions?.showCarts && product?.details?.status !== 3">

                            <app-select name="cartId" [(ngModel)]="product.details.cartId">
                                <app-option *ngFor="let id of product.config.cartCount" [value]="id">{{id}}</app-option>
                            </app-select>

                            <button class="cart add-to-cart" (click)="addToCart();">
                                <i class="icon ti-shopping-cart"></i><span>{{r?.translations?.addToCart}}</span>
                            </button>
                        </div>

                    </div>

                </div>
            </div>



        </div>


        <nav class="sticky product-nav section inner-clear"
             *ngIf="tabsVisible">

            <div *ngIf="product.details.description" class="f-left item" (click)="scrollToLabel('desc')">
                <i class="ti-receipt"></i> {{r?.translations?.description}}
            </div>

            <div *ngIf="product?.attributes?.length > 0" class="f-left item" (click)="scrollToLabel('attributes')">
                <i class="ti-settings"></i> {{r?.translations?.productParameters}}
            </div>

            <div *ngIf="product?.attachments?.length > 0" class="f-left item" (click)="scrollToLabel('attachments')">
                <i class="ti-clip"></i> {{r?.translations?.attachments}}
            </div>

            <div *ngIf="product?.replacements?.length > 0" class="f-left item" (click)="scrollToLabel('replacements')">
                <i class="ti-link"></i> {{r?.translations?.substitutes}}
            </div>
        </nav>

        <div data-label="desc" class="desc section" *ngIf="product.details.description">

            <h2 class="section-title">{{r?.translations?.description}}</h2>

            <div class="inner-clear" [innerHTML]="product.details.description">
            </div>
        </div>


        <div data-label="attributes" *ngIf="product?.attributes?.length > 0" class="section all-attributes attributes inner-clear">

            <h2 class="section-title">{{r?.translations?.productParameters}}</h2>

            <div class="attribute f-left inner-clear" *ngFor="let attr of product.attributes">
                <p class="f-left half">
                    {{attr.name}}
                </p>

                <p class="f-right half">
                    {{attr.value}}
                </p>
            </div>

        </div>

        <div data-label="attachments" class="attachments section" *ngIf="product.attachments && product.attachments.length > 0">

            <h2 class="section-title">{{r?.translations?.attachments}}</h2>

            <div class="inner-clear">
                <ul class="product.attachments pure">

                    <li class="attachment-item" *ngFor="let attachment of product.attachments">
                        <a href="filehandler.ashx?id={{attachment.id}}&fileName={{attachment.name}}.{{attachment.extension}}&fromBinary=false&customerData={{attachment.customerData}}"
                           target="{{configService.isFirefox ? '_blank' : '_self'}}">

                            <i class="ti-clip"></i>
                            {{attachment.name}}.{{attachment.extension}}
                        </a>
                    </li>

                </ul>
            </div>
        </div>


        <div data-label="replacements" class="replacements section"
             *ngIf="product?.replacements?.length > 0">

            <h2 class="section-title">{{r?.translations?.substitutes}}</h2>

            <app-slider class="flex inner-clear flex-wrap" [loop]="false" [responsive]="{'0': {'items': 1}, '1281': {'items': 2}}">

                <div class="f-left slide" *ngFor="let replacement of product.replacements; let i = index;">

                    <app-loading *ngIf="!replacement.unitsLoaded"></app-loading>

                    <div class="box inner-clear">
                        <a [routerLink]="[configService.routePaths.itemDetails, replacement.id]" class="covering-link"></a>


                        <div class="image-container f-left">
                            <img *ngIf="replacement?.imageId > 0"
                                 alt="{{replacement.name}}"
                                 src="imagehandler.ashx?id={{replacement.imageId}}&width=300&height=300&frombinary={{replacement.fromBinary || 'False'}}" />

                            <i *ngIf="!replacement?.imageId" class="no-photo ti-image"></i>
                        </div>



                        <div class="f-right replacement-info">

                            <h3 class="subsection-title emphasised">{{replacement.name}}</h3>
                            <span class="block product-code" *ngIf="configService?.config?.showCode">{{replacement.code}}</span>

                            <div class="article-converter" *ngIf="product.config.showHowMany">
                                <span class="howMany">{{r?.translations?.howMany}}: {{replacement.howMuch}}</span>
                                <span>{{r?.translations?.forHowMany}}: {{replacement.forHowMuch}}</span>
                            </div>


                            <div class="prices flex flex-wrap inner-clear" *ngIf="configService?.permissions?.pricesVisibility">


                                <div class="net-price f-left" *ngIf="configService?.config?.priceMode !== 1">
                                    <small class="brutto-netto">{{r?.translations?.net}}</small>
                                    <span class="price-value net">{{replacement.netPrice}}</span>
                                    <span class="currency">{{replacement.currency}}</span>

                                    <small class="pair-key converter" *ngIf="replacement.subtotalBasicPrice">
                                        {{replacement.subtotalBasicPrice | toPrice}}/{{replacement.basicUnit}}
                                    </small>
                                </div>

                                <div class="gross-price" [ngClass]="isMobile ? 'f-left' : 'f-right'" *ngIf="configService?.config?.priceMode !== 0">
                                    <small class="brutto-netto">{{r?.translations?.gross}}</small>
                                    <span class="price-value">{{replacement.grossPrice}}</span>
                                    <span class="currency">{{replacement.currency}}</span>

                                    <small class="pair-key converter" *ngIf="replacement.subtotalBasicPrice">
                                        {{replacement.totalBasicPrice | toPrice}}/{{replacement.basicUnit}}
                                    </small>
                                </div>

                            </div>

                            <div class="inner-clear">
                                <div class="f-left stepper-group block" *ngIf="replacement.status === 1 || replacement.status === 2">

                                    <div class="stock" *ngIf="configService?.config?.showState && replacement.type !== 3 && replacement.type !== 4 && replacement.type !== 6">

                                        <span class="pair-key">{{r?.translations?.inStock}}:</span>

                                        <ng-container *ngIf="configService?.config?.stateMode === true">
                                            {{replacement.stockLevel}}
                                        </ng-container>

                                        <ng-container *ngIf="configService?.config?.stateMode === false && product.details.max > 0">
                                            {{r?.translations?.available }}
                                        </ng-container>

                                        <ng-container *ngIf="configService?.config?.stateMode === false && product.details.max === 0">
                                            {{r?.translations?.none }}
                                        </ng-container>

                                    </div>

                                    <app-stepper *ngIf="configService?.permissions?.showCarts && replacement?.status !== 3"
                                                 [isUnitTotal]="replacement.isUnitTotal"
                                                 [value]="replacement.quantity || 1"
                                                 (changeValue)="changeQuantity(i, $event)">
                                    </app-stepper>

                                </div>

                                <div class="f-left unit-group">

                                    <div class="pair-key converter">
                                        <ng-container *ngIf="replacement.converter">
                                            {{replacement.converter}}
                                        </ng-container>
                                    </div>

                                    <span class="one-unit" *ngIf="replacement.units.size === 1">
                                        {{replacement.auxiliaryUnit}}
                                    </span>


                                    <app-select *ngIf="replacement.units.size > 1"
                                                [(ngModel)]="replacement.unitId"
                                                (changeValue)="onUnitChange(replacement.unitId, i)">

                                        <app-option *ngFor="let unit of replacement.units | iterableToArray"
                                                    [value]="unit[0]">

                                            {{unit[1].auxiliaryUnit}}

                                        </app-option>
                                    </app-select>
                                </div>

                            </div>


                            <div class="to-cart inline-flex"
                                 *ngIf="configService?.permissions?.showCarts && replacement?.status !== 3">

                                <app-select name="cartId" [(ngModel)]="replacement.cartId">
                                    <app-option *ngFor="let id of product.config.cartCount" [value]="id">{{id}}</app-option>
                                </app-select>

                                <button class="cart add-to-cart" (click)="addToCart(i);">
                                    <i class="icon ti-shopping-cart"></i><span>{{r?.translations?.addToCart}}</span>
                                </button>

                            </div>

                            <div class="unavailable button outline" *ngIf="replacement.status === 0">
                                {{r?.translations?.articleStatePreview}}
                            </div>

                            <div class="unavailable button outline" *ngIf="replacement.status === 3">
                                {{r?.translations?.articleStateUnavailable}}
                            </div>

                        </div>

                    </div>
                </div>

            </app-slider>
        </div>

    </ng-container>


</div>

