<app-menu [groupsAsDrop]="false" (toggleExternalGroups)="handleVisibility('groups')"></app-menu>

<app-loading *ngIf="loadingList"></app-loading>

<app-sticky class="left sidebar visible" [fixedHeight]="true">

    <div class="groups-wrapper" [ngClass]="{'tablet-hidden': !groupsOpened}">

        <button class="ti-close close" (click)="handleVisibility('groups', false)"></button>

        <app-groups *ngIf="groupId !== undefined"
                    [initialGroupId]="groupId"
                    [isProductsPage]="true">

        </app-groups>

    </div>


    <div class="filters-section"
         [ngClass]="{'tablet-hidden': !filtersOpened}">

        <button class="ti-close close" (click)="handleVisibility('filters', false)"></button>

        <h2 class="section-title">{{r?.translations?.filtersHeader}}</h2>

        <button class="outline reset tablet-block"
                *ngIf="!areNoFilters"
                (click)="resetAllFilters(); handleVisibility('filters', false)">
            {{r?.translations?.clearFilters}}
        </button>

        <h3 class="subsection-title saved-filters-title">{{r?.translations?.filterProfiles}}</h3>

        <nav class="main-profiles main-profiles-items-list">

            <ng-container *ngIf="productsList?.filters?.filterProfiles">

                <ul>
                    <li *ngFor="let prof of productsList.filters.filterProfiles.slice(0,3)"
                        class="filter-profile inner-clear"
                        [ngClass]="{'global': prof.isGlobal,
                                'active-left': prof.id === productsList.filters.currentFilter.filterId,
                                'full': !configService?.permissions?.creatingGlobalFilters && prof.isGlobal}">

                        <button class="outline name f-left" (click)="selectFilterProfile(prof.id);">{{prof.name}}</button>

                        <button class="outline remove ti-trash f-right"
                                (click)="productsList.removeFilterProfile(prof.id);"
                                *ngIf="configService?.permissions?.creatingGlobalFilters && prof.isGlobal || !prof.isGlobal"></button>
                    </li>
                </ul>

                <app-collapser *ngIf="productsList.filters.filterProfiles !== undefined"
                               class="bottom-trigger"
                               [whenCollapsing]="productsList.filters.filterProfiles.length > 3">

                    <collapsing>
                        <ul>
                            <li *ngFor="let prof of productsList.filters.filterProfiles.slice(3)"
                                class="filter-profile inner-clear"
                                [ngClass]="{'global': prof.isGlobal,
                                        'active-left': prof.id === productsList.filters.currentFilter.filterId}">

                                <button class="outline name f-left"
                                        (click)="selectFilterProfile(prof.id);">
                                    {{prof.name}}
                                </button>

                                <button class="outline remove ti-trash f-right"
                                        (click)="productsList.removeFilterProfile(prof.id);"
                                        *ngIf="productsList.filters.config.creatingGlobalFilters && prof.isGlobal || !prof.isGlobal"></button>
                            </li>
                        </ul>
                    </collapsing>

                    <trigger>
                        <span class="open-label">... {{r?.translations?.showMore}}</span>
                        <span class="close-label">
                            <i class="ti-angle-up"></i>
                            {{r?.translations?.collapse}}
                        </span>
                    </trigger>

                </app-collapser>

            </ng-container>

        </nav>

        <nav class="main-filters" *ngIf="productsList?.filters">

            <app-collapser (firstOpen)="productsList.warehousesRepo.loadWarehouses()">

                <trigger>
                    <span class="f-left">{{r?.translations?.warehouse}}</span> <i class="arrow ti-angle-down f-right"></i>
                </trigger>

                <collapsing>

                    <app-loading class="small" *ngIf="productsList.warehousesRepo.warehouses === undefined"></app-loading>

                    <div *ngIf="productsList?.warehousesRepo?.warehouses">
                        <app-radio [name]="'warehouse'"
                                   [value]="'0'"
                                   [checked]="productsList.filters.currentFilter.warehouse.id === '0'"
                                   (changeValue)="updateCurrentFilter({warehouse: {id: '0', text:''}})">
                            {{r?.translations?.allWarehouse}}
                        </app-radio>


                        <app-radio *ngFor="let w of productsList?.warehousesRepo?.warehouses"
                                   [name]="'warehouse'"
                                   [value]="w.id"
                                   [checked]="productsList.filters.currentFilter.warehouse.id === w.id"
                                   (changeValue)="updateCurrentFilter({warehouse: {id: w.id, text:w.text}})">
                            {{w.text}}
                        </app-radio>
                    </div>
                </collapsing>
            </app-collapser>

            <div *ngIf="productsList?.config?.showFeatures && productsList.filters?.features">

                <app-collapser (firstOpen)="productsList.loadParameterValues(key, productsList.filters.features[key].type)"
                               *ngFor="let key of keys(productsList.filters.features)">

                    <trigger>
                        <span class="f-left">{{productsList.filters.features[key].name}}</span> <i class="arrow ti-angle-down f-right"></i>
                    </trigger>

                    <collapsing>

                        <app-loading class="small" *ngIf="!productsList.filters.features[key]?.values"></app-loading>

                        <div *ngIf="productsList.filters.features[key]?.values">
                            <app-checkbox *ngFor="let valueKey of keys(productsList.filters.features[key]?.values)"
                                          (change)="updateParameterValue(key, valueKey, 1)"
                                          [checked]="productsList.filters.features[key].values[valueKey].checked">
                                {{productsList.filters.features[key].values[valueKey].name}}
                            </app-checkbox>
                        </div>
                    </collapsing>

                </app-collapser>
            </div>

            <app-collapser>

                <trigger>
                    <span class="f-left">{{r?.translations?.other}}</span> <i class="arrow ti-angle-down f-right"></i>
                </trigger>

                <collapsing>

                    <app-checkbox [checked]="productsList.filters.currentFilter.onlyAvailable"
                                  (change)="updateCurrentFilter({onlyAvailable: !productsList.filters.currentFilter.onlyAvailable})">
                        {{r?.translations?.onlyAvailable}}
                    </app-checkbox>

                </collapsing>
            </app-collapser>

            <div class="save-filter">
                <form #saveFilterProfile="ngForm" novalidate name="saveFilterProfile" (ngSubmit)="addFilterProfile(saveFilterProfile)">

                    <h3 class="subsection-title f-left">{{r?.translations?.addFilterProfileHeader}}</h3>

                    <app-checkbox *ngIf="configService?.permissions?.creatingGlobalFilters"
                                  [name]="'isGlobalFilter'"
                                  [checked]="productsList.filters.currentFilter.isGlobalFilter"
                                  (change)="updateCurrentFilter({isGlobalFilter: !productsList.filters.currentFilter.isGlobalFilter})"
                                  class="f-right">

                        {{r?.translations?.globalFilter}}

                    </app-checkbox>

                    <div class="input-with-icon">

                        <input type="text"
                               name="profileName"
                               placeholder="{{r?.translations?.addFilter}}"
                               required
                               [(ngModel)]="productsList.filters.currentFilter.profileName" />

                        <button class="pure ti-save icon" [disabled]="saveFilterProfile.invalid"></button>

                    </div>

                    <span class="danger"
                          *ngIf="saveFilterProfile?.invalid && !saveFilterProfile?.controls?.profileName?.pristine">
                        {{r?.translations?.fieldRequired}}
                    </span>

                </form>

            </div>
        </nav>
    </div>

</app-sticky>




<div class="content main-column products-list">

    <header class="inner-clear list-header">

        <div class="site-map f-left inner-clear"
             *ngIf="breadcrumbs && groupId !== groups.rootGroupId">

            <a [routerLink]="'/'" class="pure breadcrumb inline-block ti-home"></a>

            <div class="pure breadcrumb inline-block" *ngFor="let item of breadcrumbs.slice(1, breadcrumbs.length - 1)">

                <i class="ti-angle-right separator"></i>
                <button class="pure" (click)="groups.goToNewList(item.id, 1);">{{item.name}}</button>

            </div>

            <div class="pure breadcrumb inline-block">

                <i class="ti-angle-right separator"></i>
                {{breadcrumbs[breadcrumbs.length - 1].name}}

            </div>

        </div>

        <div class="f-right list-views">

            <button class="view-type secondary 0" [ngClass]="{'active': productsList.config.displayType === 0}" (click)="productsList.changeView(0)">
                <i class="ti-view-list"></i>
            </button>

            <button class="view-type secondary 1" [ngClass]="{'active': productsList.config.displayType === 1}" (click)="productsList.changeView(1)">
                <i class="ti-view-list-alt"></i>
            </button>

            <button class="view-type secondary 2 tablet-hidden" [ngClass]="{'active': productsList.config.displayType === 2}" (click)="productsList.changeView(2)">
                <i class="ti-view-grid"></i>
            </button>
        </div>

        <button class="outline filters-button f-right tablet-inline-block" (click)="handleVisibility('filters', true)">
            <i class="ti-filter"></i>
            {{r?.translations?.filter}}
        </button>

    </header>

    <div class="selected-filters inner-clear tablet-hidden" *ngIf="!areNoFilters">

        <button class="secondary clear-filter" (click)="resetAllFilters()">
            <i class="ti-close"></i> <span class="name">{{r?.translations?.clearFilters}}</span>
        </button>

        <button class="clear-filter search-mark" *ngIf="productsList.filters.currentFilter.filter !== ''"
                (click)="updateCurrentFilter({filter: ''})">

            <i class="ti-close"></i> <span class="name">
                {{r?.translations?.search | lowercase}}:
            </span>
            <span class="value">
                {{productsList.filters.currentFilter.filter}}
            </span>

        </button>

        <button class="secondary clear-filter" *ngIf="productsList.filters.currentFilter.warehouse.id > 0"
                (click)="updateCurrentFilter({warehouse: {id: '0', text:''}})">
            <i class="ti-close"></i> <span class="name">{{r?.translations?.warehouse | lowercase}}:</span> <span class="value">{{productsList.filters.currentFilter.warehouse.text}}</span>
        </button>

        <button class="secondary clear-filter" *ngFor="let feature of productsList.filters.currentFilter.features"
                (click)="updateParameterValue(feature.id, feature.valueId, 0)">
            <i class="ti-close"></i> <span class="name">{{feature.name}}:</span> <span class="value">{{feature.value}}</span>
        </button>

        <button class="secondary clear-filter" *ngIf="productsList.filters.currentFilter.onlyAvailable === true"
                (click)="updateCurrentFilter({onlyAvailable: false})">
            <i class="ti-close"></i> <span class="name">{{r?.translations?.onlyAvailable}}</span>
        </button>

    </div>


    <div class="no-results box-message" *ngIf="!loadingList && productsList.products.length === 0">
        <i class="ti-na"></i>
        <span>{{r?.translations?.resultsNotFound}}</span>
    </div>

    <div class="list-container display-type-{{productsList?.config?.displayType}}" *ngIf="productsList?.products?.length > 0">

        <app-sticky [stickyClass]="'thead'" *ngIf="productsList.config.displayType === 0" style="height: 50px">

            <div class="item-info name">
                {{r?.translations?.codeName}}
            </div>

            <div class="item-info subtotal-price" *ngIf="configService?.permissions?.pricesVisibility && productsList.config.priceMode !== 1">
                {{r?.translations?.netPrice}}
            </div>

            <div class="item-info total-price" *ngIf="configService?.permissions?.pricesVisibility && productsList.config.priceMode !== 0">
                {{r?.translations?.grossPrice}}
            </div>

            <div class="item-info stock" *ngIf="productsList.config.showState">
                {{r?.translations?.inStock}}
            </div>


            <form class="item-info add-column to-cart flex"
                  #addManyForm="ngForm"
                  novalidate
                  name="addManyForm"
                  (ngSubmit)="addManyToCart(addManyForm.value.cartId)">

                <ng-container *ngIf="configService?.permissions?.showCarts">
                    <app-select class="choose-cart"
                                *ngIf="productsList.cartNumbers"
                                name="cartId"
                                [ngModel]="globalCartId">
                        <app-option *ngFor="let el of productsList.cartNumbers" [value]="el">{{el}}</app-option>
                    </app-select>

                    <button class="cart add-to-cart">
                        <i class="icon ti-shopping-cart"></i><span>{{r?.translations?.addToCart}}</span>
                    </button>
                </ng-container>
            </form>


        </app-sticky>

        <ul class="pure">

            <li class="list-item" *ngFor="let i of keys(productsList.products); trackBy: trackByFn">

                <div *ngIf="!loadingList && productsList.products[i]"
                     class="item-row inner-clear"
                     appLazy
                     (lazyAction)="pricesAsync(i); productsList.loadUnits(i);">

                    <app-loading class="waiting-price"
                                 [ngClass]="{'small': productsList?.config?.displayType === 0}"
                                 *ngIf="!(productsList?.products[i]?.pricesLoaded && productsList?.products[i]?.unitsLoaded
            && (productsList?.products[i]?.imageLoaded || productsList?.config?.displayType === 0))">
                    </app-loading>

                    <a class="covering-link" [routerLink]="['/ItemDetails', productsList.products[i].id]"></a>

                    <div class="item-info name">

                        <p class="emphasised product-name"
                           *ngIf="productsList.filters.currentFilter?.filter !== undefined && productsList.filters.currentFilter?.filter === ''">
                            {{productsList.products[i].name}}
                        </p>

                        <p class="emphasised"
                           *ngIf="productsList.filters.currentFilter?.filter !== undefined && productsList.filters.currentFilter?.filter !== ''"
                           [innerHTML]="productsList.products[i].name | highlight: productsList.filters.currentFilter.filter">
                        </p>

                        <p class="product-code" *ngIf="productsList.config.showCode">{{productsList.products[i].code}}</p>

                        <div *ngIf="productsList.config.displayType !== 0" class="image-container">

                            <img appLazy
                                 (load)="imageLoaded(i)"
                                 *ngIf="productsList.config.showImages && productsList.products[i].imageId !== null"
                                 alt="{{productsList.products[i].name}}"
                                 lazySrc="ImageHandler.ashx?id={{productsList.products[i].imageId}}&fromBinary={{productsList.products[i].fromBinary}}&width=320&height=320" />

                            <i class="ti-image no-photo"
                               *ngIf="productsList.products[i].imageId === null || !productsList.config.showImages">
                            </i>
                        </div>
                    </div>



                    <div class="item-info subtotal-price" *ngIf="configService?.permissions?.pricesVisibility && productsList.config.priceMode !== 1">

                        <small class="brutto-netto" [ngClass]="{'tablet-inline-block': productsList.config.displayType === 0}">{{r?.translations?.net}}</small>
                        <span class="net">{{productsList.products[i].netPrice}} {{productsList.products[i].currency}}</span>

                    </div>

                    <div class="item-info total-price" *ngIf="configService?.permissions?.pricesVisibility && productsList.config.priceMode !== 0">

                        <small class="brutto-netto" [ngClass]="{'tablet-inline-block': productsList.config.displayType === 0}">{{r?.translations?.gross}}</small>
                        {{productsList.products[i].grossPrice}} {{productsList.products[i].currency}}

                    </div>

                    <div class="item-info stock"
                         *ngIf="productsList.config.showState && productsList.products[i]?.type !== 3 && productsList.products[i]?.type !== 4 && productsList.products[i]?.type !== 6">

                        <span class="pair-key" [ngClass]="{'tablet-block': productsList.config.displayType === 0}">{{r?.translations?.inStock}}:</span>

                        <ng-container *ngIf="productsList.config.stateMode === true">
                            {{productsList.products[i]?.stockLevel}}
                        </ng-container>

                        <ng-container *ngIf="productsList.config.stateMode === false && productsList.products[i].max > 0">
                            {{r?.translations?.available }}
                        </ng-container>

                        <ng-container *ngIf="productsList.config.stateMode === false && productsList.products[i].max === 0">
                            {{r?.translations?.none }}
                        </ng-container>

                    </div>

                    <div class="item-info add-column flex flex-wrap">

                        <span class="block converter" *ngIf="productsList.products[i].converter">
                            {{productsList.products[i].converter}}
                        </span>

                        <div class="amount-section" [ngClass]="{'mlauto': !configService?.permissions?.showCarts}">

                            <app-stepper *ngIf="configService?.permissions?.showCarts"
                                         [ngClass]="{'responsive': productsList?.config?.displayType === 0}"
                                         [min]="productsList.products[i].min"
                                         [value]="productsList.products[i].quantity"
                                         [isUnitTotal]="productsList.products[i].isUnitTotal"
                                         (valueChange)="productsList.changeQuantity(i, $event)">
                            </app-stepper>

                            <span class="one-unit"
                                  *ngIf="productsList.products[i]?.units?.size === 1"
                                  [ngClass]="{'mlauto': !configService?.permissions?.showCarts}">
                                {{productsList.products[i]?.auxiliaryUnit}}
                            </span>


                            <app-select *ngIf="productsList.products[i]?.units?.size > 1"
                                        class="unit"
                                        [(ngModel)]="productsList.products[i].unitId"
                                        (ngModelChange)="productsList.unitConverter(i);">

                                <app-option *ngFor="let el of productsList.products[i].units | iterableToArray"
                                            [value]="el[0]">

                                    {{el[1].auxiliaryUnit}}

                                </app-option>
                            </app-select>

                        </div>

                        <div class="to-cart flex" *ngIf="configService?.permissions?.showCarts && productsList?.config?.displayType !== 0">

                            <app-select *ngIf="productsList.cartNumbers"
                                        class="choose-cart inline-block"
                                        name="cartId"
                                        [(ngModel)]="productsList.products[i].cartId">

                                <app-option *ngFor="let el of productsList.cartNumbers" [value]="el">{{el}}</app-option>
                            </app-select>

                            <button class="cart add-to-cart" (click)="addToCart(productsList.products[i]);">
                                <i class="icon ti-shopping-cart"></i><span>{{r?.translations?.addToCart}}</span>
                            </button>

                        </div>

                    </div>
                </div>

            </li>
        </ul>
    </div>




    <app-pager *ngIf="productsList.products"
               [page]="productsList.paginationRepo.pagination.currentPage"
               [isPrevPage]="productsList.paginationRepo.pagination.isPrevPage"
               [isNextPage]="productsList.paginationRepo.pagination.isNextPage"
               [pageSize]="productsList.paginationRepo.pagination.pageSize"
               (change)="changePage($event);">
    </app-pager>
</div>


<app-modal [type]="'singleToastr'"
           [isOpened]="filterMessageOpened"
           (close)="handleVisibility('filterMessage', false)">

    {{r?.translations?.filterSaved}}
</app-modal>
