
<button id="{{name}}-trigger"
        class="trigger-wrapper"
        (click)="changeDisplay()"
        *ngIf="whenCollapsing"
        [attr.aria-label]="ariaLabel"
        [attr.aria-haspopup]="ariaHaspopup"
        [attr.aria-expanded]="isOpen"
        [attr.aria-controls]="name + '-content'">

    <ng-content select="trigger" [attr.aria-hidden]="!!ariaLabel"></ng-content>
</button>


<div id="{{name}}-content"
     *ngIf="isOpen"
     class="content-container">
    <ng-content select="collapsing"></ng-content>
</div>

