<button class="value flex align-items-center"
        tabindex="0"
        type="button"
        #trigger
        (click)="changeVisibility()"
        [id]="name + '-select'"
        [attr.aria-controls]="name + '-options'"
        aria-haspopup="listbox"
        [attr.aria-expanded]="isOpened"
        [attr.aria-disabled]="disabled">

    <span>
        {{label || initialLabel}}
    </span>
    <i class="ti-angle-down" aria-hidden="true"></i>
</button>

<div class="outside" *ngIf="isOpened && !disabled" (click)="changeVisibility(false)" aria-hidden="true"></div>


<div class="options flex"
     #optionsContainer
     [hidden]="!isOpened"
     (click)="changeVisibility(false)">

    <div class="centering-wrapper mauto pure"
        [id]="name + '-options'"
        role="listbox"
        [attr.aria-activedescendant]="activeDescendantId"
        [attr.aria-label]="ariaLabel">
        <ng-content></ng-content>
    </div>
</div>

