<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- Oznaczenie systemu Comarch ERP, 0 - XL, 1 - ALTUM -->
  <add key="ApplicationId" value="0" />
  <!-- Oznaczenie ilości koszyków dostępnych dla użytkownika, domyślnie 5, liczba od 1 - 99 -->
  <add key="CartCount" value="5" />
  <!-- Oznaczenie katalogu w którym jest zainstalowana aplikacja Comarch ERP XL lub Comarch ERP Altum w zależności od ApplicationId-->
  <add key="ERPDirectory" value=""/>
  <!-- Serwer SQL Menadżera Klucza -->
  <add key="LicenseServer" value=""/>
  <!--Nr licencji klucza wirtualnego -->
  <add key="LicenseServerNumber" value=""/>
  <!-- Oznaczenie czy aplikacja działa po SSL, 0 - nie 1 - tak -->
  <add key="SSL" value="0"/>
  <!-- Oznaczenie działania w oparciu o nowy sposób zapisu haseł 0 - nie, 1 - tak -->
  <add key="NewUserVerification" value="1"/>
  <!-- Oznaczenie po ilu nieudanych próbach logowania zablokowane zostanie konto -->
  <add key="NumberOfAcceptableIncorrectLogin" value="5"/>
  <!-- Oznaczenie jaki klucz odpowiada za pojawienie się check-a przy logowaniu, check uzupełnia się w bazie - CustomerPanel.Translations dla klucza TOS -->
  <add key="ResourceKeyOfLoginConfirmation" value="TOS"/>
  
  <!-- Klucze dla Altum -->
  <!-- Oznaczenie dla Comarch ERP Altum, nazwa firmy / centrum. Pozostawienie go pustego oznacza że użytkownik będzie mógł wybrać w kontekście jakiej firmy pracuje -->
  <add key="CompanyName" value="" />
  <!-- koniec kluczy dla Altum -->
  
  
</appSettings>