<printSettings>
  <prints> <!-- Cała sekcja dotyczy Comarch ERP XL. W tym miejscu można skonfigurować różne wydruki dla różnych wersji językowych zarówno dla zamówienia sprzedaży jak i faktury-->
    <print name="ZS-pl">
      <field name="SourceId" value="0" /> <!--Identyfikator źródło wydruku (ID źródła) -->
      <field name="FormatId" value="0" /> <!--Identyfikator formatu wydruku (ID Formatu)-->
      <field name="PrintId" value="0" /> <!--Identyfikator wydruku (ID wydruku)-->
    </print>
    <print name="ZS-en">
      <field name="SourceId" value="0" />
      <field name="FormatId" value="0" />
      <field name="PrintId" value="0" />
    </print>
    <print name="ZS-fr">
      <field name="SourceId" value="0" />
      <field name="FormatId" value="0" />
      <field name="PrintId" value="0" />
    </print>
    <print name="ZS-de">
      <field name="SourceId" value="0" />
      <field name="FormatId" value="0" />
      <field name="PrintId" value="0" />
    </print>
    <print name="FS-pl">
      <field name="SourceId" value="0" />
      <field name="FormatId" value="0" />
      <field name="PrintId" value="0" />
    </print>
    <print name="FS-en">
      <field name="SourceId" value="0" />
      <field name="FormatId" value="0" />
      <field name="PrintId" value="0" />
    </print>
    <print name="FS-fr">
      <field name="SourceId" value="0" />
      <field name="FormatId" value="0" />
      <field name="PrintId" value="0" />
    </print>
    <print name="FS-de">
      <field name="SourceId" value="0" />
      <field name="FormatId" value="0" />
      <field name="PrintId" value="0" />
    </print>
    <print name="RLS-pl">
      <field name="SourceId" value="0" />
      <field name="FormatId" value="0" />
      <field name="PrintId" value="0" />
    </print>
    <print name="RLS-en">
      <field name="SourceId" value="0" />
      <field name="FormatId" value="0" />
      <field name="PrintId" value="0" />
    </print>
    <print name="RLS-fr">
      <field name="SourceId" value="0" />
      <field name="FormatId" value="0" />
      <field name="PrintId" value="0" />
    </print>
    <print name="RLS-de">
      <field name="SourceId" value="0" />
      <field name="FormatId" value="0" />
      <field name="PrintId" value="0" />
    </print>
  </prints>
</printSettings>