@import 'configuration.scss';

.app-footer {
    display: block;
    clear: both;
    background: $primary-color;
    color: $fcolor-for-primary;
    padding: 20px 0;
    height: $footer-height;
    margin-top: 40px;
    //z-index: 1;

    @media (max-width: $tablet-max) {
        font-size: 14px;
        padding: 10px 0;
    }

    &.main-column {
        left: $sidebars-width;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-top: 0;

        @media (max-width: $tablet-max) {
            position: static;
        }
    }

    &.with-offline-msg {
        bottom: $offline-message-height;
    }

    a {
        color: inherit !important;
    }
}

.app-account + .app-footer {
    z-index: 10;
}
