<app-menu *ngIf="product?.details" [groupsAsDrop]="true" [initialGroupId]="product?.details?.articleGroupId"></app-menu>

<app-loading *ngIf="product?.details === undefined"></app-loading>

<div class="item-details clear narrow-content" *ngIf="product?.details">

    

    <div class="inner-clear top-section section flex flex-wrap">

        <div class="site-map f-left inner-clear tablet-hidden"
             *ngIf="groupsService.history">


            <a class="pure breadcrumb inline-block"
               [routerLink]="['/Items', 0]">

                <i class="ti-home"></i>
            </a>

            <a class="pure breadcrumb inline-block"
               *ngFor="let item of groupsService.history.slice(1)"
               [routerLink]="['/Items', item.id]">

                <i class="ti-angle-right separator"></i>
                {{item.name}}
            </a>

            <span class="breadcrumb inline-block">
                <i class="ti-angle-right separator"></i>
                {{product.details.name}}
            </span>

        </div>

        <div class="name">
            <h1>{{product.details.name}}</h1>
            <div class="product-code" *ngIf="product.config.showCode && product.details.code">{{product.details.code}}</div>
        </div>


        <div class="gallery clear f-left gr-smaller" *ngIf="product?.images">

            <div class="image-container" *ngIf="!product.config.showImages || product.images.length === 0">
                <i class="ti-image no-photo"></i>
            </div>

            <div *ngIf="product.config.showImages && product.images.length > 0">

                <app-slider [items]="1"
                            [slideBy]="1"
                            [navContainer]="'#thumbnails'"
                            class="flex big-photo">

                    <div *ngFor="let i of keys(product.images)"
                         class="image-container f-left">

                        <img src="ImageHandler.ashx?id={{product.images[i].id}}&fromBinary={{product.images[i].fromBinary || product.details.fromBinary}}&width=400&height=400"
                             alt="{{product.details.name}}" />
                    </div>
                </app-slider>

                <div id="thumbnails" class="thumbnails tns-nav flex-equalize flex" *ngIf="product.images.length > 1">

                    <div *ngFor="let i of keys(product.images)"
                         class="image-container inline-flex">

                        <img src="ImageHandler.ashx?id={{product.images[i].id}}&fromBinary={{product.images[i].fromBinary || product.details.fromBinary}}&width=100&height=100"
                             alt="{{product.details.name}}" />
                    </div>

                </div>

            </div>

        </div>


        <div class="details f-right inner-clear gr-larger">

            <div class="basic-details f-left half">

                <div class="inner-clear" *ngIf="product?.details?.manufacturer !== '' ">
                    <p class="f-left half-always">
                        {{r?.translations?.manufacturer}}
                    </p>

                    <p class="f-right half-always">

                        <a *ngIf="product.details.manufacturerUrl" href="product.details.manufacturerUrl">{{product.details.manufacturer}}</a>

                        <span *ngIf="!product.details.manufacturerUrl">{{product.details.manufacturer}}</span>

                    </p>
                </div>

                <div class="inner-clear" *ngIf="product?.details?.brand !== '' ">
                    <p class="f-left half-always">
                        {{r?.translations?.brand}}
                    </p>

                    <p class="f-right half-always">

                        {{product.details.brand}}

                    </p>
                </div>

                <div class="inner-clear">
                    <p class="f-left half-always">
                        {{r?.translations?.vat}}
                    </p>

                    <p class="f-right half-always">

                        {{product.details.vatRate}}%
                    </p>
                </div>

                <div class="inner-clear" *ngIf="product?.details?.manager !== '' && product?.details?.manager !== ' '">
                    <p class="f-left half-always">
                        {{r?.translations?.productManager}}
                    </p>

                    <p class="f-right half-always">

                        <a *ngIf="product.details.managerMail" href="mailto://{{product.details.managerMail}}">{{product.details.manager}}</a>

                        <span *ngIf="!product.details.managerMail">{{product.details.manager}}</span>

                    </p>
                </div>

                <div *ngIf="product.attributes" class="attributes">

                    <div class="trow" *ngFor="let attr of product.attributes.slice(0,3)">
                        <p class="f-left half-always">
                            {{attr.name}}
                        </p>

                        <p class="f-right half-always">
                            {{attr.value}}
                        </p>
                    </div>

                </div>

            </div>

            <div class="purchase-details f-left half">

                <div class="prices flex flex-wrap inner-clear" *ngIf="configService?.permissions?.pricesVisibility">

                    <div class="net-price f-left" *ngIf="configService?.config?.priceMode !== 1">
                        <small class="brutto-netto">{{r?.translations?.net}}</small>
                        <span class="price-value net">{{product.details.netPrice}}</span>
                        <span class="currency">{{product.details.currency}}</span>
                    </div>

                    <div class="gross-price f-right" *ngIf="configService?.config?.priceMode !== 0">
                        <small class="brutto-netto">{{r?.translations?.gross}}</small>
                        <span class="price-value">{{product.details.grossPrice}}</span>
                        <span class="currency">{{product.details.currency}}</span>
                    </div>
                </div>



                <div class="adding-form inline-block">


                    <div class="inner-clear">

                        <div class="f-left stepper-group">
                            <div class="stock">
                                <div *ngIf="product.config.showState && product.details.type !== 3 && product.details.type !== 4 && product.details.type !== 6">
                                    <span class="pair-key">{{r?.translations?.inStock}}:</span>
                                    <span *ngIf="product.config.stateMode === true">{{product.details.stockLevel}}</span>
                                    <span *ngIf="product.config.stateMode === false && product.details.max > 0">{{r?.translations?.available }}</span>
                                    <span *ngIf="product.config.stateMode === false && product.details.max === 0">{{r?.translations?.none }}</span>
                                </div>
                            </div>

                            <app-stepper [value]="product.details.quantity"
                                         [isUnitTotal]="product.details.isUnitTotal"
                                         (valueChange)="changeQuantity(-1, $event)">
                            </app-stepper>
                        </div>

                        <div class="f-left unit-group">

                            <div class="pair-key converter">
                                <span *ngIf="product.details.converter">{{product.details.converter}}</span>
                            </div>

                            <span class="one-unit" *ngIf="product.details.units.size === 1">{{product.details.auxiliaryUnit}}</span>

                            <app-select *ngIf="product.details.units.size > 1"
                                        class="full block"
                                        [disabled]="!!product.details.unitLockChange"
                                        [(ngModel)]="product.details.unitId"
                                        (ngModelChange)="onUnitChange(product.details.unitId)">

                                <app-option *ngFor="let unit of product.details.units | iterableToArray"
                                            [value]="unit[0]">

                                    {{unit[1].auxiliaryUnit}}

                                </app-option>
                            </app-select>
                        </div>
                    </div>


                    <div class="to-cart flex">

                        <app-select name="cartId" [(ngModel)]="product.details.cartId">
                            <app-option *ngFor="let id of product.config.cartCount" [value]="id">{{id}}</app-option>
                        </app-select>

                        <button class="cart add-to-cart" (click)="addToCart();">
                            <i class="icon ti-shopping-cart"></i><span>{{r?.translations?.addToCart}}</span>
                        </button>
                    </div>

                </div>

            </div>
        </div>



    </div>


    <app-sticky class="product-nav section"
                *ngIf="tabsVisible">

        <div *ngIf="product.details.description" class="f-left item" (click)="scrollToLabel('desc')">
            <i class="ti-receipt"></i> {{r?.translations?.description}}
        </div>

        <div *ngIf="product?.attributes?.length > 0" class="f-left item" (click)="scrollToLabel('attributes')">
            <i class="ti-settings"></i> {{r?.translations?.productParameters}}
        </div>

        <div *ngIf="product?.attachments?.length > 0" class="f-left item" (click)="scrollToLabel('attachments')">
            <i class="ti-clip"></i> {{r?.translations?.attachments}}
        </div>

        <div *ngIf="product?.replacements?.length > 0" class="f-left item" (click)="scrollToLabel('replacements')">
            <i class="ti-link"></i> {{r?.translations?.substitutes}}
        </div>
    </app-sticky>

    <div data-label="desc" class="desc section" *ngIf="product.details.description">

        <h2 class="section-title">{{r?.translations?.description}}</h2>

        <div class="inner-clear" [innerHTML]="product.details.description">
        </div>
    </div>


    <div data-label="attributes" *ngIf="product?.attributes?.length > 0" class="section all-attributes attributes inner-clear">

        <h2 class="section-title">{{r?.translations?.productParameters}}</h2>

        <div class="attribute f-left inner-clear" *ngFor="let attr of product.attributes">
            <p class="f-left half">
                {{attr.name}}
            </p>

            <p class="f-right half">
                {{attr.value}}
            </p>
        </div>

    </div>

    <div data-label="attachments" class="attachments section" *ngIf="product.attachments && product.attachments.length > 0">

        <h2 class="section-title">{{r?.translations?.attachments}}</h2>

        <div class="inner-clear">
            <ul class="product.attachments pure">

                <li class="attachment-item" *ngFor="let attachment of product.attachments">
                    <a href="FileHandler.ashx?id={{attachment.id}}&fileName={{attachment.name}}.{{attachment.extension}}&fromBinary=false" target="_self">

                        <i class="ti-clip"></i>
                        {{attachment.name}}.{{attachment.extension}}
                    </a>
                </li>

            </ul>
        </div>
    </div>


    <div data-label="replacements" class="replacements section"
         *ngIf="product?.replacements?.length > 0">

        <h2 class="section-title">{{r?.translations?.substitutes}}</h2>

        <app-slider class="flex inner-clear flex-wrap" [loop]="false" [responsive]="{'0': {'items': 1}, '1281': {'items': 2}}">

            <div class="f-left" *ngFor="let i of keys(product.replacements)">

                <div class="box inner-clear">
                    <a [routerLink]="['/ItemDetails', product.replacements[i].id]" class="covering-link"></a>


                    <div class="image-container f-left">
                        <img *ngIf="product.replacements[i].imageId"
                             alt="{{product.replacements[i].name}}"
                             src="ImageHandler.ashx?id={{product.replacements[i].imageId}}&width=300&height=300&fromBinary={{product.replacements[i].fromBinary || 'False'}}" />

                        <i *ngIf="!product.replacements[i].imageId" class="no-photo ti-image"></i>
                    </div>

                    

                    <div class="f-right replacement-info">

                        <h3 class="subsection-title emphasised">{{product.replacements[i].name}}</h3>
                        <span class="block product-code" *ngIf="product.config.showCode">{{product.replacements[i].code}}</span>

                        <div class="article-converter" *ngIf="product.config.showHowMany">
                            <span class="howMany">{{r?.translations?.howMany}}: {{product.replacements[i].howMuch}}</span>
                            <span>{{r?.translations?.forHowMany}}: {{product.replacements[i].forHowMuch}}</span>
                        </div>


                        <div class="prices flex flex-wrap inner-clear" *ngIf="configService?.permissions?.pricesVisibility">


                            <div class="net-price f-left" *ngIf="configService?.config?.priceMode !== 1">
                                <small class="brutto-netto">{{r?.translations?.net}}</small>
                                <span class="price-value net">{{product.replacements[i].netPrice}}</span>
                                <span class="currency">{{product.replacements[i].currency}}</span>
                            </div>

                            <div class="gross-price f-right" *ngIf="configService?.config?.priceMode !== 0">
                                <small class="brutto-netto">{{r?.translations?.gross}}</small>
                                <span class="price-value">{{product.replacements[i].grossPrice}}</span>
                                <span class="currency">{{product.replacements[i].currency}}</span>

                            </div>

                        </div>

                        <div class="inner-clear">
                            <div class="f-left stepper-group block">

                                <div class="stock" *ngIf="product.config.showState && product.replacements[i].type !== 3 && product.replacements[i].type !== 4 && product.replacements[i].type !== 6">

                                    <span class="pair-key">{{r?.translations?.inStock}}:</span>

                                    <ng-container *ngIf="product.config.stateMode === true">
                                        {{product.replacements[i].stockLevel}}
                                    </ng-container>

                                    <ng-container *ngIf="product.config.stateMode === false && product.details.max > 0">
                                        {{r?.translations?.available }}
                                    </ng-container>

                                    <ng-container *ngIf="product.config.stateMode === false && product.details.max === 0">
                                        {{r?.translations?.none }}
                                    </ng-container>

                                </div>

                                <app-stepper *ngIf="product.replacements[i].max > 0"
                                             [isUnitTotal]="product.replacements[i].isUnitTotal"
                                             [value]="product.replacements[i].quantity || 1"
                                             (valueChange)="changeQuantity(i, $event)">
                                </app-stepper>

                            </div>

                            <div class="f-left unit-group">

                                <div class="pair-key converter">
                                    <ng-container *ngIf="product.replacements[i].converter">
                                        {{product.replacements[i].converter}}
                                    </ng-container>
                                </div>

                                <span class="one-unit" *ngIf="product.replacements[i].units.size === 1">
                                    {{product.replacements[i].auxiliaryUnit}}
                                </span>


                                <app-select *ngIf="product.replacements[i].units.size > 1"
                                            [(ngModel)]="product.replacements[i].unitId"
                                            (ngModelChange)="onUnitChange(product.replacements[i].unitId, i)">

                                    <app-option *ngFor="let unit of product.replacements[i].units | iterableToArray"
                                                [value]="unit[0]">

                                        {{unit[1].auxiliaryUnit}}

                                    </app-option>
                                </app-select>
                            </div>

                        </div>


                        <div class="to-cart flex" *ngIf="product.replacements[i].max > 0">

                            <app-select name="cartId" [(ngModel)]="product.replacements[i].cartId">
                                <app-option *ngFor="let id of product.config.cartCount" [value]="id">{{id}}</app-option>
                            </app-select>

                            <button class="cart add-to-cart" (click)="addToCart(i);">
                                <i class="icon ti-shopping-cart"></i><span>{{r?.translations?.addToCart}}</span>
                            </button>

                        </div>

                    </div>

                </div>
            </div>

        </app-slider>
    </div>

</div>


