@import 'configuration.scss';

.app-slider {

    &:not(.flex):not(.inline-flex) {
        display: block;
    }

    .box {
        margin: 0;
    }


    .close {
        font-size: 35px;
        z-index: 20;
    }



    .loupe-hover {
        opacity: 1;
        cursor: pointer;

        &::before {
            opacity: 0;
            position: absolute;
            z-index: 2;
            top: calc(50% - 0.5em);
            text-align: center;
            left: 0;
            right: 0;
            font-size: 2rem;
            color: $primary-color;
            transition: opacity $little-transitions-time;
            text-shadow: 0px -2px 0px $fcolor-for-primary;
        }

        &:hover {
            opacity: 0.7;

            &::before {
                opacity: 1;
            }
        }
    }


    app-slider-slides, app-slider-thumbs, app-slider-zoom {
        display: block;
        display: flex;
        justify-content: center;
        position: relative;
        margin: auto;
    }

    img {
        max-height: 80vh;
    }

    .thumbs-wrapper {
        .tns-item {
            width: 100px;
            height: 100px;
            cursor: pointer;
            border: 4px solid transparent;
            padding: 5px;
            box-sizing: border-box;
            overflow: hidden;

            img {
                max-height: 100%;
            }

            &.real-active {
                border: 4px solid $primary-color;
            }
        }
    }


    [id] {
        font-size: inherit;
    }

    &.in-zoom .thumbs-wrapper {
        position: fixed;
        z-index: 1001;
        margin: auto;
        left: 20px;
        right: 20px;
        bottom: 20px;
        max-width: 521px;
        background: $background;
        height: 110px;
    }


    .zoom-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        background: $background;
        padding: 25px;
        padding-bottom: 130px;

        .tns-controls [data-controls] {
            font-size: 60px;
            top: 0;
            bottom: 0;
        }
    }

    .tns-item, .tns-outer, .tns-ovh, .tns-inner, .tns-slider {
        height: 100%;
    }
}
