@import 'configuration.scss';

.app-cart {
    display: block;

    .cart {
        padding-top: 30px;

        @media (max-width: $tablet-max) {
            padding: 0;
        }
    }

    .tabs {
        i {
            padding-right: 5px;
        }
    }

    .box-message, .documents {
        margin-bottom: 20px;
    }

    .documents {
        padding-top: 20px;
    }

    .cart-options {
        padding-top: 30px;

        .box {
            margin-bottom: 0;
        }

        select, textarea, input:not([type="checkbox"]):not([type="radio"]), .app-select, .ff-date-fix {
            width: 100%;
        }

        .half {
            margin-bottom: 20px;
            padding-right: 20px;

            @media (max-width: $tablet-max) {
                padding-right: 0;
            }
        }

        .note {
            margin-bottom: 20px;

            @media (max-width: $tablet-max) {
                margin: 20px 0;
            }

            textarea {
                margin-top: 10px;
            }
        }

        .attributes-form, .summary {
            margin-bottom: 30px;
        }

        .attributes-form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;

            .app-stepper {
                width: 100%;
            }

            .legend {
                grid-column: 1 / -1;
            }
        }

        .subsection-title {
            @media (max-width: $tablet-max) {
                font-size: 14px;
                opacity: 0.7;
            }
        }
    }

    .to-pay {
        font-weight: 600;
        margin: 0;
        clear: both;
        border-bottom: none;
    }

    .expected-date, .due-date {
        margin-top: 15px;
    }

    .collapse-cart-options {
        text-align: left;

        i {
            padding: 0 5px;
        }
    }

    .action-buttons .narrow-content {
        @media (max-width: $tablet-max) {
            padding: 0;
        }
    }

    .remove-item[disabled], .note button[disabled] {
        color: #d9d9d9;
    }
}
