<app-menu [groupsAsDrop]="true" [initialGroupId]="0"></app-menu>

    <div class="business-terms-container">

            <img src="ClientApp/assets/images/banner_contact.png">


        <div class="flex flex-equalize space-between margin-fix my-data">


            <div class="f-left box left">

                <p class="label bold no-margin">BRUK-BET Sp. z o.o.</p>

                <a href="ClientApp/assets/Ogolne-Warunki-Sprzedazy-Bruk-Bet.pdf">
                    <img class="icon" src="ClientApp/assets/images/pdf_file_icon.png">
                    <p class="bold">
                        Pobierz warunki handlowe dla Bruk-Bet Sp. z o.o.
                    </p>
                </a>
            </div>

            <div class="f-left box right">

                <p class="label bold no-margin">BRUK-BET Solar</p>

                <a href="ClientApp/assets/Ogolne-Warunki-Sprzedazy-Bruk-Bet-Solar.pdf">
                    <img class="icon" src="ClientApp/assets/images/pdf_file_icon.png">
                    <p class="bold">
                        Pobierz warunki handlowe dla Bruk-Bet SOLAR
                    </p>
                </a>

            </div>



        </div>

    </div>

