<app-menu class="profile-bar" [menuItems]="[backMenuItem]" *ngIf="currentMenuItem && r?.translations">

    <div class="menu-item active-top">


        <i class="label-icon navBar-item-image ti-menu files" *ngIf="url.includes(menuService.routePaths.files)"></i>

        <p class="label">
            {{r?.translations[currentMenuItem.resourceKey]}}
        </p>

        <div class="flex align-items-center" *ngIf="listContext?.filters?.currentFilter?.dateFrom || listContext?.filters?.currentFilter?.dateTo">

            <span class="label tablet-hidden" aria-hidden="true">{{r?.translations?.fromDate?.toLowerCase()}}</span>

            <div class="ff-date-fix">
                <input type="date"
                       name="dateFrom"
                       [attr.aria-label]="r?.translations?.selectStartDate"
                       #dateFrom
                       required
                       [value]="listContext?.filters?.currentFilter?.dateFrom | date: 'yyyy-MM-dd'"
                       (input)="updateDateWithGuardian($event.target.value, 'dateFrom')" />
            </div>

            <span class="label">{{r?.translations?.toDate?.toLowerCase()}}</span>

            <div class="ff-date-fix">
                <input type="date"
                       name="dateTo"
                       [attr.aria-label]="r?.translations?.selectEndDate"
                       #dateTo
                       required
                       [value]="listContext?.filters?.currentFilter?.dateTo | date: 'yyyy-MM-dd'"
                       (input)="updateDateWithGuardian($event.target.value, 'dateTo')" />
            </div>

        </div>

    </div>

    <a class="menu-item new-complain button"
       *ngIf="url === menuService.routePaths.complaints && configService?.permissions?.hasAccessToCreateComplaints"
       [routerLink]="[menuService.routePaths.complaintItems]">

        <i class="ti-plus"></i>
        <span class="tablet-hidden">{{r?.translations?.newComplaint}}</span>
    </a>

</app-menu>

<nav class="sidebar filters-section" *ngIf="!configService.isMobile && url !== menuService.routePaths.pending">
    <app-profile-menu class="sticky"></app-profile-menu>
</nav>

<section class="profile-container"
         [ngClass]="{
                'narrow-content clear': url === menuService.routePaths.pending
             }">

    <div *ngIf="listContext?.loadedDocumentsDateRange && listContext?.items?.length > 0"
         class="box-message warning">
        {{r?.translations?.chooseItemComplaint}}
    </div>

    <div class="inner-clear aditional-filters f-left"
         *ngIf="listContext?.filters?.currentFilter?.paymentTypeId !== undefined || listContext?.filters?.currentFilter?.valid !== undefined">

        <div class="f-left tabs">

            <ng-container *ngIf="listContext?.filters?.currentFilter?.paymentTypeId !== undefined">

                <button [disabled]="listContext?.filters?.currentFilter?.paymentTypeId === 2"
                        (click)="updateFilter('paymentTypeId', 2)">
                    {{r?.translations?.payables}}
                </button>

                <button [disabled]="listContext?.filters?.currentFilter?.paymentTypeId === 1"
                        (click)="updateFilter('paymentTypeId', 1)">
                    {{r?.translations?.receivables}}
                </button>


            </ng-container>

            <ng-container *ngIf="listContext?.filters?.currentFilter?.valid !== undefined">

                <button [disabled]="listContext?.filters?.currentFilter?.valid === true"
                        (click)="updateFilter('valid', true)">
                    {{r?.translations?.current}}
                </button>

                <button [disabled]="listContext?.filters?.currentFilter?.valid === false"
                        (click)="updateFilter('valid', false)">
                    {{r?.translations?.all}}
                </button>

            </ng-container>

        </div>

    </div>

    <button *ngIf="listContext?.filters && listContext?.isAnyFilterChanged()"
            type="button"
            class="reset-button secondary"
            (click)="resetAllFilters()">

        <i class="ti-close"></i>
        {{r?.translations?.clearFilters}}

    </button>

    <div class="table">

        <div class="sticky trow thead filters flex"
             *ngIf="r?.translations && listContext?.columns && (listContext?.items?.length > 0 || (listContext.filters && listContext.isAnyFilterChanged()))">

            <div *ngFor="let col of listContext?.columns; trackBy: trackByFn"
                 class="tcell {{col.property}}-col"
                 [ngClass]="{'currency-visible': col.property === 'currency' && listContext?.filters?.currentFilter?.currencyId !== undefined}"
                 [ngStyle]="{'width.%': 100/listContext.columns.length }"
                 [ngSwitch]="col.filter?.type">


                <app-floating-label-input *ngSwitchCase="'text'"
                                          [name]="col.filter.property"
                                          [ngModel]="listContext.filters.currentFilter[col.filter.property]"
                                          (ngModelChange)="updateFilter(col.filter.property, $event)">
                    {{r?.translations[col.translation || col.property]}}
                </app-floating-label-input>


                <ng-container *ngSwitchCase="'select'">

                    <div class="app-floating-label-input">

                        <label class="top floating-label">{{r?.translations[col.translation || col.property]}}</label>

                        <app-select [name]="col.filter.property"
                                    [ngModel]="listContext.filters.currentFilter[col.filter.property]"
                                    (ngModelChange)="updateFilter(col.filter.property, $event)"
                                    (labelChange)="changeDetector.markForCheck()"
                                    (firstOpen)="lazyLoadFilterValues(col.filter.valuesLoader)">

                            <app-loading class="small" *ngIf="!listContext?.filters[col.filter.valuesProperty]"></app-loading>

                            <app-option [value]="col.filter.defaultValue">
                                {{r?.translations?.all}}
                            </app-option>

                            <app-option *ngFor="let s of listContext?.filters[col.filter.valuesProperty]"
                                        [value]="s.id">
                                {{s.name || s.value || r?.translations[s.name] || r?.translations[s.resourceKey]}}
                            </app-option>

                        </app-select>


                    </div>

                </ng-container>

                <div class="app-floating-label-input" *ngSwitchCase="'date'">

                    <label class="top floating-label">{{r?.translations[col.translation || col.property]}}</label>

                    <input *ngSwitchCase="'date'"
                           type="date"
                           [name]="col.property"
                           [ngModel]="listContext.filters.currentFilter[col.filter.property]"
                           (input)="updateFilter(col.filter.property, $event.target.value)" />

                </div>

                <ng-container *ngSwitchDefault>
                    {{r?.translations[col.translation || col.property]}}
                </ng-container>

            </div>
        </div>

        <div class="no-results-with-svg trow"
             *ngIf="emptyListMessage">

            <app-svg-image [svgId]="emptyListMessage?.svgId"></app-svg-image>

            <div class="no-results-message">
                <p>{{r?.translations[emptyListMessage?.resx]}}</p>
                <ng-container *ngIf="listContext.items">{{r?.translations?.messageForChoosenFilters | format: ''}}</ng-container>
            </div>

            <a class="button back-button"
               [routerLink]="menuService?.routePaths?.home">
                {{r?.translations?.backToShop}}
            </a>

        </div>

        <div class="tbody"
             *ngIf="listContext?.items?.length > 0">

            <div class="trow flex" *ngFor="let listItem of listContext.items; trackBy: trackByFn">


                <ng-container *ngIf="getItemHref(listItem) as itemLink">
                    <a class="covering-link"
                       *ngIf="!url.includes(this.menuService.routePaths.files)"
                       [routerLink]="itemLink">
                    </a>

                    <a class="covering-link"
                       *ngIf="url.includes(this.menuService.routePaths.files)"
                       [attr.href]="itemLink">
                    </a>
                </ng-container>


                <div class="tcell {{col.property}}-col"
                     *ngFor="let col of listContext.columns; trackBy: trackByFn"
                     [ngStyle]="{'width.%': 100/listContext.columns.length }"
                     [ngSwitch]="col.type">


                    <div *ngSwitchCase="'productName'" class="inner-clear">

                        <div class="f-left small">

                            <i class="ti-image no-photo" *ngIf="!configService?.config?.showImages || !listItem?.imageId"></i>


                            <app-lazy-image *ngIf="configService?.config?.showImages && listItem?.imageId > 0"
                                            [id]="listItem.imageId"
                                            [fromBinary]="listItem.fromBinary"
                                            [width]="50"
                                            [height]="50"
                                            [alt]="listItem.name">
                            </app-lazy-image>


                        </div>

                        <span class="product-name block">{{listItem.name}}</span>
                        <span class="product-code" *ngIf="configService?.config?.showCode">{{listItem.code}}</span>
                    </div>

                    <ng-container *ngSwitchCase="'productNameWithoutPhoto'">

                        <span class="product-name block">{{listItem.name}}</span>
                        <span class="product-code" *ngIf="configService?.config?.showCode">{{listItem.code}}</span>

                    </ng-container>

                    <ng-container *ngSwitchCase="'translation'">
                        {{r?.translations[listItem[col.property]]}}
                    </ng-container>

                    <ng-container *ngSwitchCase="'cases'">
                        <ng-container *ngFor="let case of col.cases">
                            <ng-container *ngIf="r?.translations && case.case === listItem[col.property]">
                                {{r?.translations[case.translation]}}
                            </ng-container>
                        </ng-container>
                    </ng-container>


                    <ng-template #linkContent>
                        <i *ngIf="col.link.labelIcon" class="{{col.link.labelIcon}}"></i>
                        {{listItem[col.link.labelProperty] || r?.translations[col.link.labelResource]}}
                    </ng-template>


                    <ng-container *ngSwitchCase="'linkedDocumentsArray'">

                        <ng-container *ngFor="let document of listItem[col.property]">
                            <a class="link-in-table"
                               *ngIf="col.link.type === 'href'; else noHref"
                               [attr.href]="col.link.hrefCreator(document)">

                                <ng-container *ngTemplateOutlet="linkContent"></ng-container>
                            </a>

                            <ng-template #noHref>
                                <a class="link-in-table"
                                   [routerLink]="col.link.hrefCreator(document)">
                                    <ng-container *ngTemplateOutlet="linkContent"></ng-container>
                                </a>
                            </ng-template>
                        </ng-container>

                    </ng-container>

                    <ng-container *ngSwitchCase="'linkedDocument'">

                        <a class="link-in-table"
                           *ngIf="col.link.type === 'href'; else noHref"
                           [attr.href]="col.link.hrefCreator(listItem)">

                            <ng-container *ngTemplateOutlet="linkContent"></ng-container>
                        </a>

                        <ng-template #noHref>
                            <a class="link-in-table"
                               [routerLink]="col.link.hrefCreator(listItem)">

                                <ng-container *ngTemplateOutlet="linkContent"></ng-container>
                            </a>
                        </ng-template>

                    </ng-container>


                    <span *ngSwitchCase="'daysAfterDueDate'" [ngClass]="{'danger': listItem.daysAfterDueDate > 0}">

                        {{listItem.dueDate}}

                        <span class="due-days ribbon" *ngIf="listItem.daysAfterDueDate > 0">
                            {{listItem.daysAfterDueDate}}
                            {{r?.translations?.daysAfterDueDate?.toLowerCase()}}
                        </span>

                    </span>

                    <ng-container *ngSwitchCase="'price'">
                        {{listItem[col.property] | toPrice}}
                    </ng-container>

                    <ng-container *ngSwitchCase="'priceWithCurrency'">
                        {{listItem[col.property] | toPrice}} {{listItem.currency}}
                    </ng-container>

                    <ng-container *ngSwitchCase="'unit'">

                        <span class="block">{{listItem.auxiliaryUnit || listItem.basicUnit}}</span>
                        <span class="block converter" *ngIf="listItem.auxiliaryUnit && listItem.auxiliaryUnit !== listItem.basicUnit">
                            {{listItem.denominator}} {{listItem.auxiliaryUnit}} = {{listItem.numerator}} {{listItem.basicUnit}}
                        </span>

                    </ng-container>

                    <ng-container *ngSwitchCase="'complain'">

                        <a [routerLink]="[menuService.routePaths.complaintForm, (listItem.id || listItem.itemId) +':'+ listItem.sourceDocumentId +':' + listItem.no]"
                           class="link-in-table">
                            <i class="ti-write"></i> <span class="tablet-hidden">{{r?.translations?.complain}}</span>
                        </a>

                    </ng-container>


                    <ng-container *ngSwitchCase="'quantity'">

                        {{listItem.quantity}}

                        <span>{{listItem.auxiliaryUnit || listItem.basicUnit || listItem.unit}}</span>

                        <span class="block converter">{{listItem.converter || listItem.unitConversion}}</span>

                    </ng-container>


                    <ng-container *ngSwitchCase="'percent'">

                        {{listItem[col.property] | percentOrEmpty}}

                    </ng-container>

                    <ng-container *ngSwitchCase="'fileName'">

                        <app-file-icon [extension]="listItem[col.extensionProperty]"></app-file-icon>
                        {{listItem[col.property]}}.{{listItem[col.extensionProperty]}}

                    </ng-container>

                    <ng-container *ngSwitchCase="'dateWithTime'">

                        {{listItem[col.property] | removeTime}}

                    </ng-container>

                    <ng-container *ngSwitchCase="'valueWithUnit'">

                        {{listItem[col.property]}} {{listItem[col.unitProperty]}}

                    </ng-container>

                    <ng-container *ngSwitchCase="'noValueSymbol'">

                        {{r?.translations?.noValueSymbol}}

                    </ng-container>

                    <ng-container *ngSwitchDefault>
                        {{listItem[col.property]}}
                    </ng-container>


                </div>

            </div>
        </div>

        <div class="tfoot"
             *ngIf="listContext?.items?.length > 0 &&
             (listContext?.summaries || listContext?.details?.number || listContext?.pagination?.buildPager)">

            <span class="trow tcell products-amount" *ngIf="listContext?.details?.number">
                {{r?.translations?.packageArticlesCount}}: {{listContext.details.number}}
            </span>


            <app-pager *ngIf="listContext?.pagination?.buildPager"
                       [currentPage]="listContext.pagination.currentPage"
                       [totalPages]="listContext.pagination.totalPages"
                       [buildPager]="listContext.pagination.buildPager"
                       (changePage)="changePage($event);">
            </app-pager>

            <app-old-pager *ngIf="listContext?.pagination?.pageSize && (listContext.pagination.hasMore || listContext.pagination.currentPage > 0)"
                           [currentPage]="listContext.pagination.currentPage"
                           [pageSize]="listContext.pagination.pageSize"
                           [isNextPage]="listContext.pagination.hasMore"
                           (changePage)="changePage($event);">
            </app-old-pager>

            <div class="trow flex" *ngFor="let summary of listContext?.summaries">

                <div class="tcell {{col.property}}-col"
                     *ngFor="let col of listContext.columns; trackBy: trackByFn"
                     [ngClass]="{'currency-visible': col.property === 'currency' && listContext?.filters?.currentFilter?.currencyId !== undefined}"
                     [ngStyle]="{'width.%': 100/listContext.columns.length }">

                    <ng-container *ngIf="summary[col.summaryProperty || col.property]">
                        {{summary[col.summaryProperty || col.property] | toPrice}}
                    </ng-container>
                </div>

            </div>

        </div>



    </div>
</section>
