<app-menu [groupsAsDrop]="false" (toggleExternalGroups)="handleVisibility('groups')"></app-menu>

<div class="sidebar">
    <div class="sticky">

        <div class="groups-wrapper" [ngClass]="{'tablet-hidden': !groupsOpened}">

            <button class="ti-close close" (click)="handleVisibility('groups', false)"></button>

            <app-groups *ngIf="groupId !== undefined"
                        [initialGroupId]="!forbiddenGroup ? groupId : 0"
                        [isProductsPage]="true">

            </app-groups>

        </div>


        <div class="filters-section"
             [ngClass]="{'tablet-hidden': !filtersOpened}">

            <button class="ti-close close" (click)="handleVisibility('filters', false)"></button>

            <h2 class="section-title">{{r?.translations?.filtersHeader}}</h2>

            <button class="outline reset tablet-block"
                    *ngIf="visibleCurrentFilter"
                    (click)="resetAllFilters(); handleVisibility('filters', false)">
                {{r?.translations?.clearFilters}}
            </button>

            <h3 class="subsection-title saved-filters-title">{{r?.translations?.filterProfiles}}</h3>

            <nav class="main-profiles main-profiles-items-list">

                <ng-container *ngIf="productsList?.filters?.filterProfiles">

                    <ul>
                        <li *ngFor="let prof of productsList.filters.filterProfiles.slice(0,3)"
                            class="filter-profile inner-clear"
                            [ngClass]="{'global': prof.isGlobal,
                                'active-left': prof.id === productsList.filters.currentFilter.filterId,
                                'full': !configService?.permissions?.creatingGlobalFilters && prof.isGlobal}">

                            <button class="outline name f-left" (click)="selectFilterProfile(prof.id);">{{prof.name}}</button>

                            <button class="outline remove ti-trash f-right"
                                    (click)="removeFilterProfile(prof.id);"
                                    *ngIf="configService?.permissions?.creatingGlobalFilters && prof.isGlobal || !prof.isGlobal"></button>
                        </li>
                    </ul>

                    <app-collapser *ngIf="productsList.filters.filterProfiles !== undefined"
                                   class="bottom-trigger"
                                   name="filterProfiles"
                                   [whenCollapsing]="productsList.filters.filterProfiles.length > 3">

                        <collapsing>
                            <ul>
                                <li *ngFor="let prof of productsList.filters.filterProfiles.slice(3)"
                                    class="filter-profile inner-clear"
                                    [ngClass]="{'global': prof.isGlobal,
                                        'active-left': prof.id === productsList.filters.currentFilter.filterId}">

                                    <button class="outline name f-left"
                                            (click)="selectFilterProfile(prof.id);">
                                        {{prof.name}}
                                    </button>

                                    <button class="outline remove ti-trash f-right"
                                            (click)="productsList.removeFilterProfile(prof.id);"
                                            *ngIf="productsList.filters.config.creatingGlobalFilters && prof.isGlobal || !prof.isGlobal"></button>
                                </li>
                            </ul>
                        </collapsing>

                        <trigger>
                            <span class="open-label">... {{r?.translations?.showMore}}</span>
                            <span class="close-label">
                                <i class="ti-angle-up"></i>
                                {{r?.translations?.collapse}}
                            </span>
                        </trigger>

                    </app-collapser>

                </ng-container>

            </nav>

            <nav class="main-filters" *ngIf="productsList?.filters">

                <form #filtersForm="ngForm" novalidate name="filtersForm">

                    <app-collapser name="warehouse"
                                   *ngIf="configService?.permissions?.hasAccessToChangeDefaultWarehouse && productsList.changeWarehouseLocal"
                                   (firstOpen)="loadWarehouses()">

                        <trigger>
                            <span class="f-left">{{r?.translations?.warehouse}}</span> <i class="arrow ti-angle-down f-right" aria-hidden="true"></i>
                        </trigger>

                        <collapsing>

                            <app-loading class="small" *ngIf="productsList.warehousesService.warehouses === undefined"></app-loading>

                            <div *ngIf="productsList?.warehousesService?.warehouses">
                                <app-radio [name]="'warehouse'"
                                           [value]="'0'"
                                           [disabled]="!configService?.isOnline"
                                           [ngModel]="productsList.filters.currentFilter.warehouse.id"
                                           (changeValue)="changeDetector.markForCheck()"
                                           (ngModelChange)="updateCurrentFilter({warehouse: {id: '0', text:''}});">
                                    {{r?.translations?.allWarehouse}}
                                </app-radio>


                                <app-radio *ngFor="let w of productsList?.warehousesService?.warehouses"
                                           [name]="'warehouse'"
                                           [value]="w.id"
                                           [disabled]="!configService?.isOnline"
                                           [ngModel]="productsList.filters.currentFilter.warehouse.id"
                                           (ngModelChange)="updateCurrentFilter({warehouse: {id: w.id, text:w.text}});">
                                    {{w.text}}
                                </app-radio>
                            </div>
                        </collapsing>
                    </app-collapser>

                    <ng-container *ngIf="productsList?.filters?.features?.size > 0">

                        <app-collapser *ngFor="let filter of productsList.filters?.features | iterableToArray"
                                       [name]="'filter-' + filter[0]"
                                       [ariaHaspopup]="'listbox'"
                                       (firstOpen)="loadParameterValues(filter[0], filter[1].type)">

                            <trigger>
                                <span class="f-left">{{filter[1].name}}</span> <i class="arrow ti-angle-down f-right" aria-hidden="true"></i>
                            </trigger>

                            <collapsing>

                                <app-loading class="small" *ngIf="!filter[1]?.values"></app-loading>

                                <app-navigable-by-keyboard *ngIf="filter[1]?.values"
                                                           role="listbox"
                                                           aria-multiselectable="true"
                                                           [focusablePropName]="'focusableRef'"
                                                           [focusFirst]="true">
                                    <app-checkbox *ngFor="let filterValue of filter[1]?.values; let valueKey = index"
                                                  #navigable
                                                  [name]="filter[0] + '-' + valueKey"
                                                  [disabled]="!configService?.isOnline"
                                                  (changeValue)="updateParameterValue(filter[0], valueKey, !filterValue.checked)"
                                                  [(ngModel)]="filterValue.checked">
                                        {{filterValue.name}}
                                    </app-checkbox>
                                </app-navigable-by-keyboard>
                            </collapsing>

                        </app-collapser>
                    </ng-container>

                    <app-collapser name="onlyAvailable">

                        <trigger>
                            <span class="f-left">{{r?.translations?.other}}</span> <i class="arrow ti-angle-down f-right" aria-hidden="true"></i>
                        </trigger>

                        <collapsing>

                            <app-checkbox [name]="'onlyAvailable'"
                                          [disabled]="!configService?.isOnline"
                                          [(ngModel)]="productsList.filters.currentFilter.onlyAvailable"
                                          (changeValue)="updateCurrentFilter({onlyAvailable: !productsList.filters.currentFilter.onlyAvailable})">
                                {{r?.translations?.onlyAvailable}}
                            </app-checkbox>

                        </collapsing>
                    </app-collapser>
                </form>

                <div class="save-filter">
                    <form #saveFilterProfile="ngForm" novalidate name="saveFilterProfile" (ngSubmit)="addFilterProfile(saveFilterProfile)">

                        <h3 class="subsection-title f-left">{{r?.translations?.addFilterProfileHeader}}</h3>

                        <app-checkbox *ngIf="configService?.permissions?.creatingGlobalFilters"
                                      [name]="'isGlobalFilter'"
                                      [value]="productsList.filters.currentFilter.isGlobalFilter"
                                      [disabled]="!configService?.isOnline"
                                      (changeValue)="updateCurrentFilter({isGlobalFilter: !productsList.filters.currentFilter.isGlobalFilter})"
                                      class="f-right">

                            {{r?.translations?.globalFilter}}

                        </app-checkbox>

                        <div class="input-with-icon">

                            <input type="text"
                                   name="profileName"
                                   placeholder="{{r?.translations?.addFilter}}"
                                   required
                                   [disabled]="!configService?.isOnline"
                                   [(ngModel)]="productsList.filters.currentFilter.profileName" />

                            <button class="pure ti-save icon" [disabled]="saveFilterProfile.invalid && !configService?.isOnline"></button>

                        </div>

                        <span class="danger"
                              *ngIf="saveFilterProfile?.invalid && !saveFilterProfile?.controls?.profileName?.pristine">
                            {{r?.translations?.fieldRequired}}
                        </span>

                    </form>

                </div>


                <button class="cart filter-button"
                        *ngIf="filtersForm.dirty"
                        [disabled]="!this.configService.isOnline"
                        (click)="filter(); handleVisibility('filters', false);">
                    {{r?.translations?.filter}}
                </button>
            </nav>
        </div>

    </div>

</div>


<div class="content products-list">

    <header class="inner-clear list-header">

        <div class="site-map f-left inner-clear"
             *ngIf="breadcrumbs && groupId !== groups.rootGroupId">

            <a [routerLink]="menuService.routePaths.home" class="pure breadcrumb inline-block ti-home"></a>

            <div class="pure breadcrumb inline-block" *ngFor="let item of breadcrumbs.slice(1, breadcrumbs.length - 1)">

                <i class="ti-angle-right separator"></i>
                <button class="pure" (click)="groups.goToNewList(item.id, 1);">{{item.name}}</button>

            </div>

            <div class="pure breadcrumb inline-block" *ngIf="breadcrumbs[breadcrumbs.length - 1]">

                <i class="ti-angle-right separator"></i>
                {{breadcrumbs[breadcrumbs.length - 1].name}}

            </div>

        </div>

        <div class="f-right list-views" *ngIf="productsList?.products?.length > 0">

            <button class="view-type 0"
                    [ngClass]="{'active': productsList.config.displayType === 0, 'outline': configService.isMobile, 'secondary': !configService.isMobile}"
                    (click)="productsList.changeView(0)">
                <i class="ti-view-list"></i>
            </button>

            <button class="view-type secondary 1"
                    [ngClass]="{'active': productsList.config.displayType === 1, 'outline': configService.isMobile, 'secondary': !configService.isMobile}"
                    (click)="productsList.changeView(1)">
                <i class="ti-view-list-alt"></i>
            </button>

            <button class="view-type secondary 2 tablet-hidden"
                    [ngClass]="{'active': productsList.config.displayType === 2, 'outline': configService.isMobile, 'secondary': !configService.isMobile}"
                    (click)="productsList.changeView(2)">
                <i class="ti-view-grid"></i>
            </button>
        </div>

        <button class="outline filters-button f-right tablet-inline-block" (click)="handleVisibility('filters', true)">
            <i class="ti-filter"></i>
            {{r?.translations?.filter}}
        </button>

    </header>

    <div class="selected-filters inner-clear tablet-hidden" *ngIf="visibleCurrentFilter">

        <button class="secondary clear-filter" (click)="resetAllFilters()">
            <i class="ti-close"></i> <span class="name">{{r?.translations?.clearFilters}}</span>
        </button>

        <button class="clear-filter search-mark" *ngIf="visibleCurrentFilter.filter !== ''"
                (click)="updateCurrentFilter({filter: ''})">

            <i class="ti-close"></i> <span class="name">
                {{r?.translations?.search | lowercase}}:
            </span>
            <span class="value">
                {{productsList.filters.currentFilter.filter}}
            </span>

        </button>

        <button class="secondary clear-filter" *ngIf="visibleCurrentFilter.warehouse.id !== productsList.filters.default.warehouse.id"
                (click)="updateCurrentFilter({warehouse: {id: productsList.filters.default.warehouse.id, text: productsList.filters.default.warehouse.text}}); filter();">
            <i class="ti-close"></i> <span class="name">{{r?.translations?.warehouse | lowercase}}:</span>
            <span class="value">{{visibleCurrentFilter.warehouse.text || r?.translations?.allWarehouse}}</span>
        </button>

        <button class="secondary clear-filter" *ngFor="let feature of visibleCurrentFilter.features | iterableToArray"
                (click)="updateParameterValue(feature[1].id, feature[1].valueId, false); filter();">
            <i class="ti-close"></i> <span class="name">{{feature[1].name}}:</span> <span class="value">{{feature[1].value}}</span>
        </button>

        <button class="secondary clear-filter"
                *ngIf="visibleCurrentFilter.onlyAvailable === true"
                (click)="updateCurrentFilter({onlyAvailable: false}); filter();">
            <i class="ti-close"></i> <span class="name">{{r?.translations?.onlyAvailable}}</span>
        </button>

    </div>


    <div class="no-results box-message" *ngIf="message">
        <i class="ti-na"></i>
        <span>{{message}}</span>
    </div>

    <div class="list-container display-type-{{productsList?.config?.displayType}}" *ngIf="productsList?.products?.length > 0">
    <!-- JD -->
        <div class="thead sticky bg-navy-thead" *ngIf="productsList.config.displayType === 0" style="height: 50px">

            <div class="item-info name">
                {{r?.translations?.codeName}}
            </div>

            <div class="item-info subtotal-price" *ngIf="configService?.permissions?.hasAccessToPriceList && configService?.config?.priceMode !== 1">
                {{r?.translations?.netPrice}}
            </div>

            <div class="item-info total-price" *ngIf="configService?.permissions?.hasAccessToPriceList && configService?.config?.priceMode !== 0">
                {{r?.translations?.grossPrice}}
            </div>

            <div class="item-info stock" *ngIf="configService?.config?.showState">
                {{r?.translations?.inStock}}
            </div>


            <form class="item-info add-column to-cart flex"
                  #addManyForm="ngForm"
                  novalidate
                  name="addManyForm"
                  (ngSubmit)="addManyToCart(addManyForm?.value?.cartId)">

                <ng-container *ngIf="configService?.permissions?.hasAccessToCart">
                    <app-select class="choose-cart"
                                [disabled]="!configService?.isOnline"
                                name="cartId"
                                [ngModel]="globalCartId"
                                (open)="onOpenAddToCartSelect(addManyForm?.value?.cartId)">
                        <app-option *ngFor="let cartId of cartsToAdd" [value]="cartId">{{cartId}}</app-option>
                    </app-select>

                    <button class="cart add-to-cart" [disabled]="!configService?.isOnline">
                        <i class="icon ti-shopping-cart"></i><span>{{r?.translations?.addToCart}}</span>
                    </button>
                </ng-container>
            </form>


        </div>

        <ul class="pure">

            <li class="list-item item-row inner-clear"
                *ngFor="let product of productsList.products; let i = index; trackBy: trackByFn"
                [ngClass]="{'with-flags': product.flag !== undefined,
                'small': productsList?.config?.displayType === 0,
                'loader-before': !(productsList?.products[i]?.pricesLoaded && productsList?.products[i]?.unitsLoaded && productsList?.unitsLoaded
                                    && (productsList?.products[i]?.imageLoaded || productsList?.config?.displayType === 0))}"
                appLazy
                (lazyAction)="pricesAsync(i);"
                [attr.data-no-discount]="showUnacceptableDiscounts && product.discountAllowed === false ? r.translations?.noDiscount : null">

                <a class="covering-link" *ngIf="!product.noLink" [routerLink]="[menuService.routePaths.itemDetails, product.id]"></a>

                <div class="item-info name">

                    <p class="emphasised product-name"
                       *ngIf="productsList.filters.currentFilter?.filter !== undefined && productsList.filters.currentFilter?.filter === ''">
                        {{product.name}}
                    </p>

                    <p class="emphasised"
                       *ngIf="productsList.filters.currentFilter?.filter !== undefined && productsList.filters.currentFilter?.filter !== ''"
                       [innerHTML]="product.name | highlight: productsList.filters.currentFilter.filter">
                    </p>

                    <p class="product-code" *ngIf="configService?.config?.showCode">{{product.code}}</p>

                    <div *ngIf="productsList.config.displayType !== 0" class="image-container">

                        <app-product-flags [value]="product.flag" [amount]="3"></app-product-flags>

                        <img appLazy
                             (load)="imageLoaded(i)"
                             *ngIf="configService?.config?.showImages && product?.imageId > 0"
                             alt="{{product.name}}"
                             lazySrc="imagehandler.ashx?id={{product.imageId}}&frombinary={{product.fromBinary}}&width=320&height=320" />

                        <i class="ti-image no-photo"
                           *ngIf="!product?.imageId || !configService?.config?.showImages">
                        </i>
                    </div>
                </div>



                <div class="item-info subtotal-price" *ngIf="configService?.permissions?.hasAccessToPriceList && configService?.config?.priceMode !== 1">

                    <s class="pair-key basic-price" *ngIf="product.netPrice < product.baseNetPrice">
                        {{ product.baseNetPrice | toPrice }} {{product.currency}}
                    </s>

                    <small class="brutto-netto"
                           *ngIf="product.netPrice"
                           [ngClass]="{'tablet-inline-block': productsList.config.displayType === 0}">
                        {{r?.translations?.net}}
                    </small>

                    <span class="net">{{product.netPrice | toPrice}} {{product.currency}}</span>

                    <span class="pair-key basic-price" *ngIf="product.unitNetPrice && product.unitId !== product.basicUnitNo">
                        {{ product.unitNetPrice | toPrice }} {{product.currency}}/{{product.basicUnit}}
                    </span>

                </div>

                <div class="item-info total-price" *ngIf="configService?.permissions?.hasAccessToPriceList && configService?.config?.priceMode !== 0">

                    <s class="pair-key basic-price" *ngIf="product.grossPrice < product.baseGrossPrice">
                        {{ product.baseGrossPrice | toPrice }} {{product.currency}}
                    </s>

                    <small class="brutto-netto"
                           *ngIf="product.grossPrice"
                           [ngClass]="{'tablet-inline-block': productsList.config.displayType === 0}">
                        {{r?.translations?.gross}}
                    </small>

                    {{product.grossPrice | toPrice}} {{product.currency}}


                    <span class="pair-key basic-price" *ngIf="product.unitGrossPrice && product.unitId !== product.basicUnitNo">
                        {{product.unitGrossPrice | toPrice }} {{product.currency}}/{{product.basicUnit}}
                    </span>

                </div>

                <div class="item-info stock"
                     *ngIf="configService?.config?.showState && product?.type !== 3 && product?.type !== 4 && product?.type !== 6">

                    <span class="pair-key"
                          *ngIf="product.stockLevel"
                          [ngClass]="{'tablet-block': productsList.config.displayType === 0}">{{r?.translations?.inStock}}:</span>

                    <ng-container *ngIf="configService?.config?.stateMode === true">
                        {{product?.stockLevel}}
                    </ng-container>

                    <ng-container *ngIf="configService?.config?.stateMode === false && product.max > 0">
                        {{r?.translations?.available }}
                    </ng-container>

                    <ng-container *ngIf="configService?.config?.stateMode === false && product.max === 0">
                        {{r?.translations?.none }}
                    </ng-container>

                </div>

                <div class="item-info add-column flex flex-wrap">

                    <span class="block converter"
                          *ngIf="product.converter"
                          [ngClass]="{'with-unavailable': product.status === 3}">
                        {{product.converter}}
                    </span>

                    <div class="amount-section" [ngClass]="{'mlauto': !configService?.permissions?.hasAccessToCart}">

                        <app-stepper *ngIf="configService?.permissions?.hasAccessToCart && product.status !== 3"
                                     [ngClass]="{'responsive': productsList?.config?.displayType === 0}"
                                     [min]="product.min"
                                     [value]="product.quantity"
                                     [disabled]="!configService?.isOnline"
                                     [isUnitTotal]="product.isUnitTotal"
                                     (changeValue)="productsList.changeQuantity(i, $event)">
                        </app-stepper>

                        <div class="unavailable button outline" *ngIf="product.status === 3 && product.itemExistsInCurrentPriceList">
                            {{r?.translations?.articleStateUnavailable}}
                        </div>

                        <div class="unavailable button outline" *ngIf="product.status === 3 && !product.itemExistsInCurrentPriceList">
                            {{r?.translations?.notInPriceList}}
                        </div>

                        <ng-container *ngIf="product?.units?.size > 0">

                            <span class="one-unit"
                                  *ngIf="product?.units?.size === 1"
                                  [ngClass]="{'mlauto': !configService?.permissions?.hasAccessToCart}">
                                {{product?.auxiliaryUnit}}
                            </span>


                            <app-select *ngIf="product?.units?.size > 1"
                                        class="unit"
                                        [name]="'product-' + product.id"
                                        [(ngModel)]="product.unitId"
                                        [disabled]="product.unitLockChange"
                                        (changeValue)="unitConverter(i);">

                                <app-option *ngFor="let el of product.units | iterableToArray"
                                            [value]="el[0]">

                                    {{el[1].auxiliaryUnit}}

                                </app-option>
                            </app-select>

                        </ng-container>

                    </div>

                    <div class="to-cart flex"
                         *ngIf="configService?.permissions?.hasAccessToCart && productsList?.config?.displayType !== 0 && product.status !== 3">

                        <app-select *ngIf="productsList.cartNumbers"
                                    class="choose-cart inline-block"
                                    [disabled]="!configService?.isOnline"
                                    name="cartId"
                                    [(ngModel)]="product.cartId"
                                    (open)="onOpenAddToCartSelect(product.cartId)">

                            <app-option *ngFor="let cartId of cartsToAdd" [value]="cartId">{{cartId}}</app-option>
                        </app-select>

                        <button class="cart add-to-cart" (click)="addToCart(product);" [disabled]="!configService?.isOnline">
                            <i class="icon ti-shopping-cart"></i><span>{{r?.translations?.addToCart}}</span>
                        </button>

                    </div>
                </div>
            </li>
        </ul>
    </div>




    <app-pager *ngIf="productsList?.pagination?.buildPager"
               [currentPage]="productsList.pagination.currentPage"
               [totalPages]="productsList.pagination.totalPages"
               (changePage)="changePage($event);">
    </app-pager>
</div>


<app-modal [type]="'singleToastr'"
           [isOpened]="filterMessageOpened"
           (close)="handleVisibility('filterMessage', false)">

    {{r?.translations?.filterSaved}}
</app-modal>
