<div class="articles" *ngIf="products && products.length > 0">

    <app-sticky class="thead sticky">

        <div class="narrow-content trow flex" *ngIf="r?.translations">

            <div class="tcell {{col.property}}-col"
                 *ngFor="let col of columns; trackBy: trackByFn"
                 [ngSwitch]="col.type"
                 [ngClass]="{'with-stepper': col.type === 'quantityWithStepper'}"
                 [ngStyle]="{'width.%': 100/columns.length}">

                <form *ngSwitchCase="'addToCart'"
                      class="flex"
                      #addManyForm="ngForm"
                      novalidate
                      name="addManyForm"
                      (ngSubmit)="addManyToCart(addManyForm?.value?.cartId)">

                    <div class="choose-cart" *ngIf="cartCount">

                        <app-select name="cartId" [ngModel]="globalCartId" [disabled]="!configService?.isOnline">
                            <app-option *ngFor="let el of cartCount" [value]="el">{{el}}</app-option>
                        </app-select>
                    </div>


                    <button class="cart add-to-cart" [disabled]="disabled">
                        <i class="icon ti-shopping-cart"></i><span>{{r?.translations?.addToCart}}</span>
                    </button>
                </form>

                <ng-container *ngSwitchDefault>
                    {{r?.translations[col.translation || col.property]}}
                </ng-container>
            </div>

        </div>
    </app-sticky>


    <div class="narrow-content tbody" #productsGroup ngModelGroup="productsGroup">

        <div class="trow flex"
             *ngFor="let product of products; let i = index; trackBy: trackByFn"
             [ngClass]="{'stock-warn': config?.stockLevelMode > 0 && product.max !== -1 && product.max < product.quantity,
                         'forbidden': product.forbidden}">

            <a *ngIf="configService?.permissions?.showProducts && (product.id || product.itemId)"
               [routerLink]="[configService.routePaths.itemDetails, (product.id || product.itemId)]"
               class="covering-link">
            </a>

            <div class="tcell {{col.property}}-col"
                 *ngFor="let col of columns; trackBy: trackByFn"
                 [class.with-stepper]="col.type === 'quantityWithStepper'"
                 [ngClass]="col?.classCondition?.valueEquals !== undefined && product[col.property] === col?.classCondition?.valueEquals
                            ? col.classCondition.class : ''"
                 [ngStyle]="{'width.%': 100/columns.length }"
                 [ngSwitch]="col.type">

                <button *ngSwitchCase="'remove'"
                        class="pure remove-item"
                        [disabled]="disabled"
                        (click)="removeItemMiddleware(product.itemId, product.no)">

                    <i class="ti-trash"></i>
                    <span class="tablet-inline-block">{{r?.translations?.remove}}</span>
                </button>

                <div *ngSwitchCase="'productName'" class="inner-clear flex">

                    <div class="f-left image-container small" *ngIf="config.showImages">

                        <i class="ti-image no-photo" *ngIf="!product?.imageId"></i>

                        <app-lazy-image *ngIf="product?.imageId > 0"
                                        alt="{{product.name}}"
                                        src="imagehandler.ashx?id={{product.imageId}}&fromBinary={{product.fromBinary}}&width=50&height=50">
                        </app-lazy-image>

                    </div>

                    <div class="f-left product-desc">
                        <span class="product-name block">{{product.name}}</span>
                        <span class="product-code" *ngIf="config.showCode">{{product.code}}</span>
                    </div>
                </div>

                <ng-container *ngSwitchCase="'productNameWithoutPhoto'">

                    <span class="product-name block">{{product.name}}</span>
                    <span class="product-code" *ngIf="config.showCode">{{product.code}}</span>

                </ng-container>

                <ng-container *ngSwitchCase="'priceWithConverter'">
                    <span class="brutto-netto tablet-inline-block">{{r?.translations[col.translation || col.property]}}</span>
                    {{product[col.property] | toPrice}}
                    <span class="tablet-inline-block">{{product.currency}}</span>

                    <small class="pair-key converter" *ngIf="product[col.priceConverter]">
                        {{product[col.priceConverter] | toPrice}}/{{product.basicUnit}}
                    </small>
                </ng-container>


                <ng-container *ngSwitchCase="'quantity'">

                    {{product.quantity}} <span class="unit pair-key">{{product.auxiliaryUnit || product.basicUnit || product.unit}}</span>

                    <div class="converter pair-key">
                        {{product.converter || product.unitConversion}}
                    </div>

                </ng-container>

                <ng-container *ngSwitchCase="'quantityWithStepper'">

                    <app-stepper class="responsive"
                                 [ngFormControl]
                                 [dontControl]="product.dontControl"
                                 [disabled]="product.disabled || config.quantityDisabled || product.forbidden || disabled"
                                 [isUnitTotal]="product.isUnitTotal"
                                 [name]="'quantity'+i"
                                 [ngModel]="product.quantity"
                                 [max]="product.max || -1"
                                 (changeValue)="changeQuantityMiddleware(i, $event)">

                    </app-stepper>

                    <div class="inline-block vmiddle">

                        <span class="unit pair-key">{{product.auxiliaryUnit || product.basicUnit || product.unit}}</span>

                        <span class="converter pair-key">
                            {{product.converter || product.unitConversion}}
                        </span>
                    </div>

                    <div class="stock"
                         *ngIf="config.showState && product.stockLevel && product.type !== 3 && product.type !== 4 && product.type !== 6">

                        <span class="pair-key">{{r?.translations?.inStock}}:</span>
                        <span *ngIf="config.stateMode === true">{{product.stockLevel}}</span>
                        <span *ngIf="config.stateMode === false && product.max > 0">{{r?.translations?.available}}</span>
                        <span *ngIf="config.stateMode === false && product.max === 0">{{r?.translations?.none}}</span>
                    </div>


                </ng-container>


                <ng-container *ngSwitchCase="'unit'">

                    <span>{{product.auxiliaryUnit || product.basicUnit || product.unit}}</span>
                    <span class="block">{{product.converter || product.unitConversion}}</span>

                </ng-container>


                <div *ngSwitchCase="'html'" [innerHTML]="product[col.property]">
                </div>


                <ng-container *ngSwitchCase="'promotionValue'">
                    <span class="tablet-inline-block" *ngIf="r?.translations">{{r?.translations[col[1]]}}: </span>
                    <span *ngIf="product.type === 1">{{product.value}} %</span>
                    <span *ngIf="configService.permissions.pricesVisibility && (product.type === 2 || product.type === 3)">
                        {{product.value}} {{product.currency}}
                    </span>
                </ng-container>

                <ng-container *ngSwitchCase="'cases'">
                    <ng-container *ngFor="let case of col.cases">
                        <ng-container *ngIf="case.case === product[col.property]">
                            {{r?.translations[case.translation]}}
                        </ng-container>
                    </ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'addToCart'">

                    <ng-container *ngIf="product.status !== 3; else unavailable">
                        <app-stepper [ngFormControl]
                                     class="responsive"
                                     [isUnitTotal]="product.isUnitTotal"
                                     [disabled]="(product.setDocumentsType < 2 && product.bundleId !== null) || product.disabled || config.quantityDisabled || product.forbidden || disabled"
                                     [name]="'quantity'+i"
                                     [ngModel]="product.quantity"
                                     [min]="0"
                                     [max]="product.max || -1"
                                     (changeValue)="changeQuantityMiddleware(i, $event)">

                        </app-stepper>
                    </ng-container>


                    <ng-template #unavailable>
                        <div class="unavailable button outline">
                            {{r?.translations?.articleStateUnavailable}}
                        </div>
                    </ng-template>

                    <div class="inline-block vmiddle">

                        <span class="unit pair-key">{{product.auxiliaryUnit || product.basicUnit || product.unit}}</span>

                        <span class="converter pair-key">
                            {{product.converter || product.unitConversion}}
                        </span>
                    </div>


                    <div class="stock"
                         *ngIf="config.showState && product.type !== 3 && product.type !== 4 && product.type !== 6">

                        <span class="pair-key">{{r?.translations?.inStock}}:</span>
                        <span *ngIf="config.stateMode === true">{{product.stockLevel}}</span>
                        <span *ngIf="config.stateMode === false && product.max > 0">{{r?.translations?.available}}</span>
                        <span *ngIf="config.stateMode === false && product.max === 0">{{r?.translations?.none}}</span>
                    </div>

                </ng-container>

                <ng-container *ngSwitchCase="'price'">
                    <span class="brutto-netto tablet-inline-block">{{r?.translations[col.translation || col.property]}}</span>
                    {{product[col.property] | toPrice}}
                    <span class="tablet-inline-block">{{product.currency}}</span>
                </ng-container>


                <ng-container *ngSwitchCase="'linkedDocument'">

                    <a class="link-in-table" *ngIf="product[col.link.labelProperty]"
                       [routerLink]="genedareDocumentRouteLink(col.link.href, col.link.paramProperty, product)">
                        {{product[col.link.labelProperty]}}
                    </a>
                </ng-container>

                <ng-container *ngSwitchCase="'complaintHistory'">
                    <span class="tablet-inline-block" *ngIf="r?.translations">{{r?.translations[col.translation || col.property]}}: </span>
                    {{product.completion[0].name}}
                </ng-container>


                <ng-container *ngSwitchCase="'complain'">

                    <a [routerLink]="[configService.routePaths.complaintForm, (product.id || product.itemId) +':'+ product.sourceDocumentId + ':' + product.no]"
                       class="button pure">
                        <i class="ti-write"></i> {{r?.translations?.complain}}
                    </a>

                </ng-container>

                <ng-container *ngSwitchCase="'percent'">

                    {{product[col.property] | percentOrEmpty}}

                </ng-container>

                <ng-container *ngSwitchDefault>
                    <span class="tablet-inline-block" *ngIf="r?.translations">{{r?.translations[col.translationName || col.property]}}: </span>
                    {{product[col.property]}}
                </ng-container>

            </div>

        </div>
    </div>

    <div class="tfoot"
         [ngClass]="{'many-currencies': summaries?.length > 1, 'with-weight': weight}"
         *ngIf="summaries || pagination?.isNextPage || pagination?.isPrevPage">

        <div class="trow pager-col narrow-content">
            <app-pager *ngIf="pagination"
                       [pageSize]="pagination.pageSize"
                       [isNextPage]="pagination.isNextPage"
                       (change)="changePageMiddleware($event);">
            </app-pager>
        </div>

        <div class="trow flex narrow-content" *ngFor="let summary of summaries">

            <div class="tcell {{col.property}}-col"
                 *ngFor="let col of columns; trackBy: trackByFn"
                 [ngClass]="{'with-stepper': col.type === 'quantityWithStepper'}"
                 [ngSwitch]="col.type"
                 [ngStyle]="{'width.%': 100/columns.length }">


                <div *ngSwitchCase="'productName'" [ngClass]="{'name-with-weight': weight}">

                    <ng-container *ngIf="summary?.count">

                        <span class="total tablet-block" *ngIf="summary.currency === summaries[0].currency">
                            {{r?.translations?.total}}
                        </span>

                        <span>
                            {{r?.translations?.packageArticlesCount}}: {{summary.count}}
                        </span>

                    </ng-container>

                    <span class="weight" *ngIf="weight?.weightGross && summary.currency === summaries[0].currency">
                        {{r?.translations?.grossWeight}}: {{weight.weightGross}} {{r?.translations?.weightUnitSymbolKg}}
                    </span>

                    <span class="volume" *ngIf="weight?.volume && summary.currency === summaries[0].currency">
                        {{r?.translations?.volume}}: {{weight.volume}} {{r?.translations?.volumeUnitSymbolM3}}
                    </span>
                </div>

                <ng-container *ngSwitchCase="'priceWithConverter'">
                    <span class="brutto-netto tablet-inline-block">{{r?.translations[col.translation || col.property]}}</span>
                    {{summary[col.summaryProperty || col.property] | toPrice}}
                    <span class="tablet-inline-block">{{summary.currency}}</span>
                </ng-container>

                <ng-container *ngSwitchCase="'price'">
                    <span class="brutto-netto tablet-inline-block">{{r?.translations[col.translation || col.property]}}</span>
                    {{summary[col.summaryProperty || col.property] | toPrice}}
                    <span class="tablet-inline-block">{{summary.currency}}</span>
                </ng-container>


                <ng-container *ngSwitchCase="'currency'">
                    {{summary.currency}}
                </ng-container>

                <ng-container *ngSwitchDefault>

                    <span class="tablet-inline-block"
                          *ngIf="r?.translations && summary[col.summaryProperty || col.property]">
                        {{r?.translations[col.translation || col.property]}}:
                    </span>

                    {{summary[col.summaryProperty || col.property]}}

                </ng-container>

            </div>

        </div>
    </div>
</div>



<div class="no-results box-message" *ngIf="products?.length === 0">
    <i class="ti-na"></i>
    <span>{{r?.translations?.resultsNotFound}}</span>
</div>
