@import 'tiny-slider/src/tiny-slider';
@import 'configuration.scss';

.app-slider {

    &:not(.flex):not(.inline-flex) {
        display: block;
    }

    .box {
        margin: 0;
    }
}



.tns-outer {
    position: relative;
    margin: auto;
    width: calc(100% - 60px);
    margin-bottom: 40px;
    text-align: center;

    @media (max-width: $tablet-max) {
        width: 100%;
        overflow: hidden;
        margin-bottom: 0;
    }

    img {
        //clear line-height and empty space under img
        float: left;
    }

    .tns-item {
        position: relative;
        text-align: left;
        @include transform(translate(0));
    }

    .caption {
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        overflow: hidden;
        max-height: 80%;
        left: 10%;
        max-width: 90%;
        color: $sliders-font;
        text-align: left;

        @media (max-width: $tablet-max) {
            padding: 10px;
            position: static;
            @include transform(none);
            background: $slider-mobile-caption-bg;
            max-width: none;
        }

        .title {
            font-size: 92px;
            line-height: 1.5em;
            margin-bottom: 15px;
            margin: 0;

            @media (max-width: $tablet-max) {
                font-size: 16px;
            }
        }

        .desc {
            font-size: 48px;
            line-height: 2em;
            margin: 0;

            @media (max-width: $tablet-max) {
                font-size: 12px;
            }
        }
    }

    [data-action] {
        display: none;
    }
}

.tns-inner {
    @media (max-width: $tablet-max) {
        overflow: visible;
        width: 80%;
        padding-bottom: 25px;
    }
}

.tns-controls {

    @media (max-width: $tablet-max) {
        display:none;
    }


    [data-controls] {
        position: absolute;
        border: none;
        top: 50%;
        left: -1em;
        z-index: 5;
        font-family: 'themify';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: none;
        font-size: 3rem;
        color: $sliders-font;
        @include transform(translateY(-0.5em));

        &::before {
            content: '\e64a';
        }

        &[disabled] {
            opacity: 0.1;
            background: none;
            color: $sliders-font;
        }
    }

    [data-controls="next"] {
        left: auto;
        right: -1em;

        &::before {
            content: '\e649';
        }
    }
}

.tns-nav {
    position: absolute;
    z-index: 5;
    bottom: -25px;
    left: 0;
    right: 0;
    text-align: center;
    width: 200px;
    margin: auto;
    display: -ms-inline-flexbox;
    @include display-flex(inline-flex);

    @media (max-width: $tablet-max) {
        bottom: 0;
    }


    button {
        display: inline-block;
        margin: 0 5px;
        width: 110px;
        background: #fff;
        -ms-flex-grow: 1;
        @include flex-grow(1);

        @media (max-width: $tablet-max) {
            margin: 0;
        }
    }

    button:not(.tns-nav-active) {
        border: 1px solid $border-color;
    }

    .image-container {
        border: 4px solid transparent;
        @include transition(border-color $little-transitions-time);
        background: none;

        &.tns-nav-active {
            background: none;
            border-color: $sliders-font;
        }
    }

    .tns-nav-active {
        cursor: default;
        background: $solid-button-bg;
    }
}


