@import 'configuration.scss';

.app-floating-label-input {
    input {
        width: 100%;
    }

    .floating-label {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        
        transition-property: transform, top, font-size, opacity;
        transition-duration: $little-transitions-time;
    }
}
