<app-header></app-header>

<router-outlet class="views-container"></router-outlet>

<app-footer></app-footer>



<app-modal class="added-to-cart"
           [isOpened]="afterAddingToCartModal.opened" 
           [autoClose]="cartsService?.afterAddingToCart === 1"
           (close)="closeInform('afterAddingToCart')">
     
    <p class="title flex">

        <span class="mauto" *ngIf="afterAddingToCartModal.addedCount === 1 && afterAddingToCartModal.notAddedCount === 0">
            <i class="ti-check check"></i> {{r?.translations?.articleAddedToCart}}
        </span>

        <span class="mauto" *ngIf="afterAddingToCartModal.addedCount > 1 && afterAddingToCartModal.notAddedCount === 0">
            <i class="ti-check check"></i> {{r?.translations?.allArticlesAddedToCart}}
        </span>

        <span class="mauto" *ngIf="afterAddingToCartModal.addedCount > 1 && afterAddingToCartModal.notAddedCount > 0">
            {{r?.translations?.someArticlesFailed}}
        </span>
    </p>

    <div class="options" *ngIf="cartsService.afterAddingToCart === null">

        <button class="cart" (click)="saveAfterAddingBehaviour(0); router.navigate(['/Carts', afterAddingToCartModal.cartId])">
            <i class="ti-shopping-cart icon"></i>{{r?.translations?.goToCart}}
        </button>

        <button class="pure" (click)="saveAfterAddingBehaviour(1); closeInform('afterAddingToCart')">
            {{r?.translations?.stayOnPage}}
        </button>

        <app-checkbox (changeValue)="setIfSaveBehaviour($event)">{{r?.translations?.saveMyChoice}}</app-checkbox>

    </div>

</app-modal>

<app-modal [autoClose]="false"           
           [isOpened]="noPermissions"
           (close)="closeInform('noPermissions')">

    {{r?.translations?.noPermissions}}
</app-modal>
