@import 'compass-mixins/lib/_compass.scss';
@import 'configuration.scss';

html {
    font-size: $font-base;
    height: 100%;
    min-height: 100vh;
}

body {
    font-family: 'Segoe', Helvetica, sans-serif;
    color: $content-fcolor;
    font-weight: 400;
    display: block !important;
    margin: 0;
    overflow-y: scroll;
    min-height: 100%;
    position: relative;
    //padding-bottom: $footer-height + 40px;
    &.with-offline-msg {
        padding-bottom: $offline-message-height;
    }
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    line-height: 1.5em;
    outline: none;
}



.views-container + * {
    position: relative;
    display: block;
}

.view-with-sidebar {
    display: grid;
    grid-template-columns: $sidebars-width calc(100% - #{$sidebars-width});
    grid-template-rows: auto 1fr;

    @media (max-width: $tablet-max) {
        grid-template-columns: 100%;
    }
}


.views-container {

    + :not(.app-home):not(.app-products):not(.app-product-details) {
        z-index: 1;
    }
}



img {
    max-width: 100%;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;


    img {
        display: block;
        margin: auto;
        max-height: 100%;
        object-fit: scale-down;
    }

    i {
        display: block;
        margin: auto;
        font-size: 10rem;
        color: $border-color;

        @media (max-width: $tablet-max) {
            font-size: 5rem;
            margin: 0;
        }
    }

    .app-lazy-image {
        width: 100%;
        height: 100%;
    }

    &.small {
        min-height: 2rem;
        min-width: 2rem;

        .no-photo {
            font-size: 3rem;

            @media (max-width: $tablet-max) {
                font-size: 2rem;
            }
        }
    }

    &.tns-item {
        display: -ms-flexbox !important;
        @include display-flex(flex !important);
    }
}



::-webkit-scrollbar {
    @media (min-width: #{$tablet-max+1}) {
        width: .6em;
        height: .6em
    }
}

::-webkit-scrollbar-thumb {
    @media (min-width: #{$tablet-max+1}) {
        background: $scrollbarThumb;
    }
}

::-webkit-scrollbar-track {

    @media (min-width: #{$tablet-max+1}) {
        background: $scrollbarBg;
    }
}

.content {
    padding: 0 50px;

    @media (max-width: $tablet-max) {
        padding: 0 10px;
    }
}

.narrow-content {
    width: 80%;
    margin: auto;

    @media (max-width: $tablet-max) {
        width: 100%;
        padding: 0 10px;
    }

    &.tbody {
        @media (max-width: $tablet-max) {
            padding: 0;
        }
    }
}

.inner-clear::after {
    clear: both;
    display: block;
    content: '';
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.clear {
    clear: both;
}

.block {
    display: block;
}

.block-important {
    display: block !important;
}

.full {
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

[hidden] {
    display: none !important;
}

.box {
    background: $boxes-bg;
    border: 1px solid $boxes-border;
    box-shadow: $boxes-shadow;
    padding: 15px;
    margin-bottom: 25px;
    position: relative;

    @media (max-width: $tablet-max) {
        padding: 10px;
    }
}

a {
    text-decoration: none;
}

a:not(.button), .link {
    cursor: pointer;
    color: $linksColor;
    @include transition(color $little-transitions-time);

    &:hover {
        color: $linksHover;
    }

    &:focus {
        text-decoration: underline;
        font-weight: 500;
        letter-spacing: 0.5px;
        box-shadow: none;
        outline: none;
    }
}


input, select, textarea, .app-select .value, .app-select .app-option {
    border: 1px solid $inputs-border-color;
    padding: 5px;
    height: 40px;
    min-width: 40px;
    font-family: inherit;
    font-size: 1rem;
    text-align: left;

    [disabled], [readonly] {
        background: transparent;
    }

    &, &:hover {
        background: $inputs-bg;
        color: inherit;
    }

    &:focus {
        border-color: shade($inputs-border-color, 30%);
        box-shadow: none;
        outline: none;
    }
}

.app-select .value, .app-select .app-option, .app-select i {
    line-height: 40px;
}

[disabled], [readonly], .disabled {
    opacity: 0.7;
}

.app-floating-label-input {
    display: inline-block;
    position: relative;

    .floating-label {
        position: absolute;
        z-index: 2;
        padding: 0 2px;
        margin-left: 5px;
        font-size: 0.9em;
        background: $inputs-bg;
        opacity: 0.5;
        @include background(linear-gradient(to bottom, transparent 0%, transparent 49%, $inputs-bg 50%, $inputs-bg 100%));

        &, * {
            line-height: 1em;
            cursor: text;
        }
    }
    //CAUION!! -webkit-autofill styles has to be separated, becouse FF crashes selectors when -webkit-autofill indluded
    input:focus + .floating-label, .floating-label.top {
        top: -0.51em;
        transform: translateY(0);
        font-size: smaller;
        opacity: 1;
    }

    input:-webkit-autofill + .floating-label {
        top: -0.51em;
        transform: translateY(0);
        font-size: smaller;
        opacity: 1;
    }
}

.thead {
    [disabled], .disabled {
        border: 0;
    }
}

input {

    @include input-placeholder {
        color: tint($inputs-fcolor, 50%);
    }

    &[type="number"] {
        -moz-appearance: textfield;
    }

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::-ms-clear {
        display: none;
    }

    &::-webkit-clear-button {
        display: none;
    }
}

textarea {
    min-height: 100px;
}

option[label] {
    color: tint($inputs-fcolor, 50%);
}

select[name="cartId"], select.cart-id, .app-select[name="cartId"] .value, .app-select.cart-id .value {
    border: 1px solid $cart-button-bg;
    float: left;
    min-width: 57px;
}

.app-select[name="cartId"].disabled {
    .value {
        border-color: $disabled-button-border;
    }
}

.required-form .ng-dirty.ng-invalid:not(form) {
    &, & input {
        border-bottom-color: $danger;
    }
}

.immediately-required-form .ng-invalid:not(form) {
    &, & input, .check, &.app-select .value {
        border-bottom-color: $danger;
    }
}

.half, .half-always {
    width: 50%;
}

.flex .half, .flex-half-always {
    flex-basis: 50%;
}

.flex .half {

    @media (max-width: $tablet-max) {
        flex-basis: 100%;
    }
}

.gr-larger {
    width: 62%;
}

.gr-smaller {
    width: 38%;
}

.gr-larger, .gr-smaller, .half {

    @media (max-width: $tablet-max) {
        width: 100%;
    }
}

.flex {

    .gr-larger {
        flex-basis: 62%;
    }

    .gr-smaller {
        flex-basis: 38%;
    }

    .gr-larger, .gr-smaller {

        @media (max-width: $tablet-max) {
            flex-basis: 100%;
        }
    }
}

.input-with-icon, .input-wrapper {
    display: inline-block;
    position: relative;
}

.input-wrapper {
    input {
        display: block;
    }
}

.input-line-height {
    line-height: 40px;
}

.input-with-icon {

    input {
        width: 100%;
        padding-right: 50px;
    }

    .icon {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40px;
        z-index: 1;
        text-align: center;
        line-height: 40px;
    }
}

.required {
    color: $danger;
    line-height: 1em;
    text-decoration: none;

    &.mark {
        &::before {
            content: '*';
        }
    }
}


button, input[type="button"], input[type="reset"], input[type="submit"], .button {
    font: inherit;
    background: $solid-button-bg;
    color: $solid-button-fcolor;
    border: 1px solid $solid-button-bg;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 2%;
    text-align: center;
    cursor: pointer;
    @include transition-duration($little-transitions-time);
    @include transition-property(background-color, color, border-color);

    &:not(.flags-sprite):hover {
        background: $solid-hover-bg;
    }

    &.outline {
        background: transparent;
        color: $outline-button-color;
        border: 1px solid $outline-button-color;

        &:hover {
            background: $outline-hover-bg;
            color: $outline-hover-fcolor;
        }
    }

    &.close {
        background: none;
        color: $solid-button-bg;
        border: none;
        @include transition-property(color, text-shadow);


        &:hover {
            color: $solid-hover-bg;
            text-shadow: 0 3px 4px rgba(0,0,0,0.4);
            background: none;
        }
    }

    &.cart {
        background: $cart-button-bg;
        color: $cart-button-fcolor;
        border-color: $cart-button-bg;
        font-size: 1.1em;
        height: 40px;
        border-radius: 0;
        padding: 0 10px;
        -ms-flex-grow: 1;
        @include flex-grow(1);

        @media (max-width: $tablet-max) {
            font-size: 12px;
        }

        display: -ms-inline-flexbox;
        @include display-flex(inline-flex);
        @include align-items(center);

        &:hover {
            background: $cart-button-hover;
            border-color: $cart-button-hover;
        }

        .icon {
            font-size: 1.7em;
            margin-right: 10px;
            margin-left: auto;
        }

        span {
            margin-right: auto;
            text-align: left;
            line-height: 1.2em;
        }
    }

    &.secondary {
        background: $secondary-button-bg;
        color: $secondary-button-fcolor;
        border: 1px solid $secondary-button-border;

        &:hover {
            background: $secondary-button-hover;
            color: $secondary-button-hover-fcolor;
            border-color: $secondary-button-hover;
        }
    }

    &[disabled]:not(.flags-sprite), &[disabled]:not(.flags-sprite):hover {
        background: $disabled-button-bg;
        color: $disabled-button-fcolor;
        border-color: $disabled-button-border;
        cursor: default;
    }

    &.pure {
        padding: 0;
        background: none;
        color: $linksColor;
        border: none;
        @include transition(color $little-transitions-time);

        &:hover {
            color: $linksHover;
            background: transparent;
        }

        &:focus {
            text-decoration: underline;
            font-weight: 500;
            letter-spacing: 0.5px;
            box-shadow: none;
            outline: none;
        }

        &[disabled] {
            color: $disabled-button-bg;
            background: none;
        }
    }
}


.hover-shadow {
    @include transition(box-shadow $little-transitions-time);

    &:hover {
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    }
}

h1 {
    font-weight: 600;
}

h3 {
    font-weight: 400;
}

h1, h2, h3, p {
    &:first-child {
        margin-top: 0;
    }
}

h2, .section-title {
    font-weight: 500;
    font-size: 1.2rem;

    @media (max-width: $tablet-max) {
        font-size: 14px;
    }
}

h3, .subsection-title {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 5px;

    @media (max-width: $tablet-max) {
        font-size: 14px;
    }
}

.net {
    color: $netto-prices-color;
}

.emphasised {
    color: $primary-color;
}

.discount {
    color: $discounts-color;
}

.covering-link:not(.button) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    @include transition-property(color, box-shadow);
    @include transition-duration($little-transitions-time);

    &:hover {
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    }
}

nav ul, ul.pure {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.app-component {
    display: block;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.space-between {
    -ms-align-content: space-between;
    @include align-content(space-between);
}

.align-items-center {
    -ms-align-items: center;
    @include align-items(center);
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    @include flex-wrap(wrap);
}

.flex-equalize {
    > * {
        -ms-flex-grow: 1;
        @include flex-grow(1);
    }
}

.mauto {
    margin: auto;
}

.mlauto {
    margin-left: auto;
}

.vmiddle {
    vertical-align: middle
}

.nowrap {
    white-space: nowrap;
}

.not-active {
    border: 0 solid $primary-color;
    @include transition(border $little-transitions-time);
}

.active-top, .active-left, .active-bottom, h2, .section-title {
    padding: 5px 10px;
}

.active-top {
    border-top: 5px solid $primary-color !important;
}

.active-bottom {
    border-bottom: 5px solid $primary-color !important;
}

.active-left, h2, .section-title {
    border-left: 5px solid $primary-color !important;
    padding-left: 12px;
}

.active {
    border: 1px solid $primary-color !important;
    box-shadow: 0 0 2px rgba($primary-color, 0.5);
}

thead, .thead, tfoot, .tfoot, .tcell, td, th {
    min-height: 50px;
}

thead, .thead, .tcell, td, th {
    @media (max-width: $tablet-max) {
        min-height: 0;
    }
}

thead, .thead {
    background: $table-header-bg;
    border-top: 1px solid $table-border-color;

    .app-floating-label-input, input {
        width: 100%;
    }
}

.thead, .thead .container {
    -ms-align-items: center;
    @include align-items(center);
}

tbody, .tbody, .app-complaint-form {


    .product-name {
        font-size: 16px;
        font-weight: 500;
        color: $primary-color;
    }
}

.tbody, .tfoot {
    .subtotalValue-col, .subtotalPrice-col, .netValue-col, .price-col {
        color: $netto-prices-color;
    }
}

.thead, .tfoot {
    border-bottom: 1px solid $table-border-color;
}

thead, tfoot {

    > * {
        border-bottom: 1px solid $table-border-color;
    }
}

.tfoot {
    border-top: 1px solid $table-border-color;

    @media (max-width: $tablet-max) {
        font-size: 12px;
    }

    .name-col {
        @media (max-width: $tablet-max) {
            position: absolute;
            left: 10px;
            top: 10px;
        }
    }
}

tfoot > * {
    border-bottom: 1px solid $table-border-color;
}

tfoot, .tfoot {
    position: relative;

    .app-pager {
        position: absolute;
        padding: 6px;
        left: 0;
        right: 0;
        top: 0;

        .pagination {
            z-index: 6;
            position: relative;
            padding: 0;
        }
    }
}

.trow, tr {
    &:nth-child(even) {
        background: $table-stripes-bg;
    }
}

.tfoot .trow, tfoot tr {
    background: none;
}

.trow {
    clear: both;
    position: relative;

    &:not(.flex) {

        &::after {
            clear: both;
            display: block;
            content: '';
        }
    }
}

.trow.filters {
    border-bottom: 1px solid $table-border-color;
    display: flex;

    input, select, .app-select {
        width: 100%;
    }

    .tcell {
        padding: 4px 10px;

        @media (max-width: $tablet-max) {
            padding: 5px;
        }
    }
}

.tcell {
    float: left;
    padding: 15px;
}

td {
    padding: 15px;
    border-bottom: 1px solid $table-border-color;
}

.link-in-table {
    display: inline-block;
    position: relative;
    z-index: 15;
    margin: -10px;
    margin-right: 0;
    padding: 10px;
    font-weight: 500;

    .ti-write {
        margin-right: 5px;
    }
}

.amount-col, .quantity-col {
    position: relative;
    z-index: 1;
    min-width: 80px;
}

.quantity-col.with-stepper {
    width: 310px !important;
}

.discount-col {
    color: $discounts-color;
}

.remove-col {
    width: 50px !important;
}

[class*="Price"], [class*="price"], [class*="Value"], .discount-col, .currency-col, .price {
    text-align: right;
}

.orderedQuantity-col, .completedQuantity-col, .quantityToComplete-col, .complain-col, [class*="Date"][class*="col"]:not([class*="days"]) {
    width: 145px !important;

    @media (max-width: $tablet-max) {
        width: 110px !important;
    }
}

.complain-col {
    @media (max-width: $tablet-max) {
        width: 40px !important;
        min-width: 0 !important;
        font-size: 16px;
    }
}

.amount-col, .remaining-col, .app-products-table .complain-col {
    text-align: right;
}

.orderedQuantity-col, .completedQuantity-col, .quantityToComplete-col {
    text-align: center;
}

.app-products-table .currency-col, .discount-col, .threshold-col, .value-col, .vatDirection-col {
    width: 75px !important;
}

.addToCart-col {
    white-space: nowrap;
    width: 280px !important;
    text-align: left;
}

.comment-col {
    -ms-flex-grow: 2;
    @include flex-grow(2);
}

.name-col, .daysAfterDueDate-col {
    min-width: 300px;
    -ms-flex-grow: 3;
    @include flex-grow(3);
}

.name-col {
    .flex {
        @media (max-width: $tablet-max) {
            -ms-flex-direction: column;
            @include flex-direction(column);
        }
    }

    .product-desc {
        @media (max-width: $tablet-max) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .image-container {
        @media (max-width: $tablet-max) {
            -ms-flex-order: 1;
            @include order(1);
            margin-top: 5px;
        }
    }
}

.sourceDocumentId-col {
    @media (max-width: $tablet-max) {
        min-width: 110px !important;
    }
}

.product-code {
    font-size: 14px;

    @media (max-width: $tablet-max) {
        font-size: 11px;
    }
}

.navBar-logo {
    @include transition(box-shadow $little-transitions-time !important);

    img {
        //float for remove line height
        float: left;
    }

    &:hover {
        box-shadow: 0 0 7px rgba(0,0,0,0.5);
    }

    &::after {
        clear: both;
        display: block;
        content: '';
    }
}

.arrow {
    padding: 5px 0;
    @include transform(rotate(0deg));
    @include transition(transform $little-transitions-time);
    display: inline-block;
}

.expanded {
    .arrow {
        @include transform(rotate(180deg));
    }
}

.sidebar {
    width: $sidebars-width;
    float: left;
    border-right: 1px solid $border-color;
    //margin-bottom: -$footer-height - 40px;
    @media (max-width: $tablet-max) {
        position: absolute !important;
        width: auto;
        height: auto !important;
        z-index: 30;
    }


    &.with-offline-msg {
        padding-bottom: -$footer-height - $offline-message-height - 40px;
    }

    + * {
        padding-bottom: $footer-height + 40px !important;
    }

    .groups-wrapper, .filters-section {

        @media (max-width: $tablet-max) {
            background: $background;
            position: fixed !important;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0 !important;
            width: 0;
            height: 0;
            width: auto !important;
            height: auto !important;
            padding: $bar-height 0 0 !important;
            border: 0;
            overflow-y: auto;
        }
    }

    .section-title {
        @media (max-width: $tablet-max) {
            position: absolute;
            top: 0;
            line-height: $bar-height;
            border: 0 !important;
            padding: 0;
            left: $bar-height + 15px;
            font-size: inherit;
            opacity: 0.6;
            margin: 0;
        }
    }
}

.sidebar, .app-menu .items-drop .dropdown-window {
    .close {
        left: 0;
        right: auto;
        border: 0;
        border-right: 1px solid $border-color;
        z-index: 30;
        border-left: 0;
        width: $bar-height;
        height: $bar-height;
        z-index: 31;
        padding-bottom: 20px !important;

        @media (min-width: #{$tablet-max + 1}) {
            display: none;
        }
    }
}

.main-column {
    width: calc(100% - #{$sidebars-width});
    float: right;

    @media (max-width: $tablet-max) {
        width: 100%;
        float: none;
    }
}

.message {
    padding: 10px;
}

.message, .info {
    color: $info;
}

.danger {
    color: $danger;
}

.warning {
    color: $warning;
}

.success {
    color: $success;
}

.box-message {
    padding: 20px;
    text-align: center;

    i {
        margin-right: 5px;
    }

    @media (max-width: $tablet-max) {
        padding: 10px;
        font-size: 14px;
    }

    &, &.info {
        background: $info;
        color: shade($info, 90%);
    }


    &.danger {
        background: $danger;
        color: #FFF;

        a, .link {
            color: #FFF;
            text-decoration: underline;
        }
    }

    &.warning {
        background: $warning;
        color: shade($warning, 90%);
    }

    &.success {
        background: $success;
        color: shade($success, 90%)
    }
}

.arrow {
    padding: 5px 0;
    @include transform(rotate(0deg));
    @include transition(transform $little-transitions-time);
    display: inline-block;
}

.expanded {
    .arrow {
        @include transform(rotate(180deg));
    }
}

.filters-section, .sidebar .filters-section {
    background: $filter-section-bg;
    color: $filter-section-fcolor;
}

.profile-container {
    padding: 30px;
    max-width: 100vw;

    @media (max-width: $tablet-max) {
        padding: 20px 0;
    }

    &.narrow-content {
        padding-left: 0;
        padding-right: 0;
    }

    .pair-key {
        font-size: 14px;
        color: $pair-key-profile-color;
        display: block;

        @media (max-width: $tablet-max) {
            font-size: 12px;
        }
    }
}

.complaint-options, .cart-options, .form-bottom-bar, .app-complaint-form .product-form {
    background: $options-bg;
}

.form-bottom-bar {

    .narrow-content {
        position: relative;
    }

    .action-buttons {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        margin-bottom: 30px;
        background: $background;
        clear: both;

        button {
            height: 50px;
            border-radius: 0;
            padding: 0;
            border: none;
        }
    }
}

.navBar-item-image {
    margin-right: 5px;
    display: inline-block;
    line-height: 1em;
}

.navBar-item-image, .profile-drop .close {
    vertical-align: middle;
    font-size: 22px;
}

.menu-item {
    border-right: 1px solid tint($bar-font, 80%);
    min-height: 50px;
    line-height: 50px;
    color: inherit;
    position: relative;
    padding: 0 20px;
    min-width: 245px;
    background: transparent;
}

.menu-item {
    display: block;
}

.menu-item.button {
    border-radius: 0;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
}

.menu-item {
    max-width: 100%;
    @include transition-property(background-color, color, margin-top, line-height);
    @include transition-duration($little-transitions-time);


    &:hover {
        background: $solid-hover-bg;
        color: $solid-button-fcolor;
    }
}

.menu-item.active-top, .menu-item.active-left {

    &:not(.back) {
        &, &:hover {
            background: $bar-active-bg !important;
            color: $bar-active-font !important;
        }
    }
}

.navBar-item-image {

    &.new-component::before {
        content: '\e71f';
    }

    &.navBar-items::before {
        //background-position: 0 0;
        content: '\e68e';
    }

    &.navBar-orders::before {
        //background-position: 0 -52px;
        content: '\e655';
    }


    &.navBar-pending::before {
        //background-position: 0 -806px;
        content: '\e687';
    }


    &.navBar-quotes::before {
        //background-position: 0 -104px;
        content: '\e6b7';
    }

    &.navBar-inquiries::before {
        //background-position: 0 -156px;
        content: '\e6de';
    }

    &.navBar-payments::before {
        //background-position: 0 -208px;
        content: '\e6cd';
    }

    &.navBar-complaints::before {
        //background-position: 0 -260px;
        content: '\e6c8';
    }

    &.navBar-promotions::before {
        //background-position: 0 -312px;
        content: '%';
        font-family: 'Segoe', Helvetica, sans-serif;
        font-weight: 600;
    }

    &.navBar-mydata::before {
        //background: $primary-color url('Images/MyData-menu-item.png') no-repeat;
        //background-position: 0 -364px;
        content: '\e699';
    }

    &.navBar-service::before {
        //background-position: 0 -416px;
        //?????
    }

    &.navBar-manufacturing::before {
        //background-position: 0 -468px;
        //???
    }

    &.navBar-reports::before {
        //background-position: 0 -520px;
        //???
    }

    &.navBar-delivery::before {
        //background-position: 0 -572px;
        content: '\e66d';
    }

    &.navBar-settings::before {
        //background-position: 0 -624px;
        //????
    }

    &.employees::before {
        content: '\e602';
    }

    &.back::before {
        content: '\e64a';
    }

    &.selected-cart::before {
        content: '\e60d';
    }
}

mark, .highlight, .search-mark {
    background: $highlights;
    color: inherit;
}

button.search-mark, .button.search-mark {
    border-color: shade($highlights, 20%);

    &:hover {
        background: tint($highlights, 50%);
    }
}

.margin-fix {
    margin-right: -15px;
    margin-left: -15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include display-flex();
    z-index: 500;
    background: rgba($background, 0.7);
}

.pair-key, .converter {
    color: $pair-key-color;
    font-size: 13px;
    line-height: 1.3em;
    padding: 0.2em 0;
    display: inline-block;

    @media (max-width: $tablet-max) {
        font-size: 11px;
    }
}

.pair-key {
    margin-right: 5px;
}

.brutto-netto {
    font-size: 14px;
    color: $content-fcolor;
    margin-right: 5px;

    @media (max-width: $tablet-max) {
        font-size: 10px;
    }
}

.tabs {

    @media (max-width: $tablet-max) {
        display: -ms-flexbox;
        @include display-flex();
        width: 100%;
        font-size: 12px;
    }


    &::after {
        content: '';
        display: block;
        clear: both;
    }

    button {
        padding: 10px 15px;
        float: left;
        border: 1px solid $outline-button-color;
        border-radius: 0;
    }

    [disabled], [disabled]:hover {
        background: transparent;
        border: 1px solid $outline-button-color;
        color: $content-fcolor;
    }

    > * {
        @media (max-width: $tablet-max) {
            -ms-flex-grow: 1;
            @include flex-grow(1);
        }
    }
}

.app-cart, .app-document-details {
    .summary {

        .many:not(:first-child), .delivery-cost {
            padding-top: 5px;
            margin-top: 10px;
            border-top: 1px solid $border-color;
        }
    }
}

.ribbon {
    font-size: 11px;
    font-weight: 600;
    background: $primary-color;
    color: $fcolor-for-primary;
    line-height: 1.5em;
    padding-right: 4px;
    margin-left: 0.74em;
    position: relative;
    display: inline-block;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: -0.75em;
        top: 0px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0.74em 0.75em 0.74em 0;
        border-color: transparent $primary-color transparent transparent;
    }

    &.due-days {
        background: $warning;
        color: tint($warning, 90%);

        &::before {
            border-color: transparent $warning transparent transparent;
        }
    }
}

.one-unit {
    line-height: 40px;
    vertical-align: middle;
}

.stock {
    font-size: 13px;

    .pair-key {
        font-size: 12px;
        white-space: nowrap;
    }
}

.ti-menu {
    position: relative;
    top: -1px;
}

.ti-more-alt {
    @include transform(rotate(90deg));
}

.tablet-hidden {
    @media (max-width: $tablet-max) {
        display: none !important;
    }
}

.tablet-block, .tablet-inline-block {
    display: none;
}

.tablet-block {
    @media (max-width: $tablet-max) {
        display: block !important;
    }
}

.tablet-inline-block {
    @media (max-width: $tablet-max) {
        display: inline-block !important;
    }
}

.site-map {
    font-size: small;

    @media (max-width: $tablet-max) {
        float: none;
        margin-bottom: 15px;
    }

    .separator {
        font-size: 0.6em;
        padding: 0 2px;

        &:last-child {
            color: $content-fcolor;
            cursor: auto;
        }
    }

    .breadcrumb:not(:last-child), .separator {
        @media (max-width: $tablet-max) {
            display: none;
        }
    }

    .breadcrumb:last-child {

        button {
            color: inherit;
        }

        @media (max-width: $tablet-max) {
            border-left: 5px solid $primary-color;
            padding: 5px 10px;
            font-weight: 500;
            font-size: 1.2rem;
        }
    }
}

.ie-detected {
    display: none;
    position: relative;
    border-bottom: 1px solid $border-color;
    padding: 20px;
    text-align: center;

    .close {
        padding: 20px;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.outside {
    z-index: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ff-date-fix {
    display: inline-block;
}

@-moz-document url-prefix() {
    .ff-date-fix {
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 1px;
            bottom: 1px;
            right: 1px;
            width: 22px;
            background: $inputs-bg;
            z-index: 1;
        }
    }
}

.tns-outer {
    position: relative;
    margin: auto;
    width: calc(100% - 60px);
    margin-bottom: 40px;
    text-align: center;

    @media (max-width: $tablet-max) {
        width: 100%;
        overflow: hidden;
        margin-bottom: 0;
    }

    img {
        //clear line-height and empty space under img
        float: left;
    }

    .tns-item {
        position: relative;
        text-align: left;
        @include transform(translate(0));
    }

    .caption {
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        overflow: hidden;
        max-height: 80%;
        left: 10%;
        max-width: 90%;
        color: $sliders-font;
        text-align: left;

        @media (max-width: $tablet-max) {
            padding: 10px;
            position: static;
            @include transform(none);
            background: $slider-mobile-caption-bg;
            max-width: none;
        }

        .title {
            font-size: 92px;
            line-height: 1.5em;
            margin-bottom: 15px;
            margin: 0;

            @media (max-width: $tablet-max) {
                font-size: 16px;
            }
        }

        .desc {
            font-size: 48px;
            line-height: 2em;
            margin: 0;

            @media (max-width: $tablet-max) {
                font-size: 12px;
            }
        }
    }

    [data-action] {
        display: none;
    }
}

.tns-inner {
    @media (max-width: $tablet-max) {
        overflow: visible;
        width: 80%;
        padding-bottom: 25px;
    }
}

.tns-controls {

    @media (max-width: $tablet-max) {
        display: none;
    }


    [data-controls] {
        position: absolute;
        border: none;
        top: 50%;
        left: -1em;
        z-index: 5;
        font-family: 'themify';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: none;
        font-size: 3rem;
        color: $sliders-font;
        @include transform(translateY(-0.5em));

        &::before {
            content: '\e64a';
        }

        &[disabled] {
            opacity: 0.1;
            background: none;
            color: $sliders-font;
        }

        &:hover {
            background: none;
        }
    }

    [data-controls="next"] {
        left: auto;
        right: -1em;

        &::before {
            content: '\e649';
        }
    }
}

.tns-nav {
    position: absolute;
    z-index: 5;
    bottom: -25px;
    left: 0;
    right: 0;
    text-align: center;
    width: 200px;
    margin: auto;
    display: -ms-inline-flexbox;
    @include display-flex(inline-flex);

    @media (max-width: $tablet-max) {
        bottom: 0;
    }


    button {
        display: inline-block;
        margin: 0 5px;
        width: 110px;
        background: #fff;
        -ms-flex-grow: 1;
        @include flex-grow(1);

        @media (max-width: $tablet-max) {
            margin: 0;
        }
    }

    button:not(.tns-nav-active) {
        border: 1px solid $border-color;
    }

    .image-container {
        border: 4px solid transparent;
        @include transition(border-color $little-transitions-time);
        background: none;

        &.tns-nav-active {
            background: none;
            border-color: $sliders-font;
        }
    }

    .tns-nav-active {
        cursor: default;
        background: $solid-button-bg;
    }
}

.tns-ovh {
    max-width: 100vw;
}

.app-account {
    display: block;
    margin-bottom: -($footer-height + 40px);

    @media (max-width: $tablet-max) {
        margin-bottom: 0;
    }

    .app-menu {
        position: relative;
        z-index: 10;

        @media (max-width: $tablet-max) {
            position: static;
            height: auto;
        }

        .bar {
            @media (max-width: $tablet-max) {
                width: 100%;
                height: auto;
            }
        }


        .menu-item.active-top:not(.back) {
            padding: 0;
            position: relative;
            width: $sidebars-width;
            margin-left: $sidebars-width;
            line-height: $bar-height - 5px;

            @media (max-width: $tablet-max) {
                margin-left: 0;
                width: 100%;
                height: auto;
            }
        }
    }


    .login-container {
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        top: 100%;
        border: none;
        text-align: left;
        white-space: normal;

        @media (max-width: $tablet-max) {
            position: static;
        }

        input {
            margin: 0;
        }


        [type="submit"], button {
            display: block;
            width: 100%;
        }

        .app-select {
            width: 100%;
        }

        [type="submit"], button, .app-checkbox, select, .app-floating-label-input {
            margin: 0;
            margin-bottom: 15px;
        }

        .app-floating-label-input, .input-wrapper {
            width: 100%;
        }

        .immediately-required-form {
            [type="submit"], select, .app-checkbox, .app-floating-label-input {
                &.ng-invalid {
                    margin-bottom: 5px;
                }
            }
        }

        .app-checkbox {
            display: block;
            cursor: pointer;
            font-size: smaller;

            label {
                padding: 0;
            }
        }



        .links a, .links button {
            background: none;
            display: inline-block;
            padding: 0;
            text-align: right;
            width: 100%;
            line-height: 1.5em;
            height: auto;
            min-height: 0;
            margin-top: 10px;
        }

        .primary-action {
            min-height: 40px;
            margin-top: 25px;
        }

        .validation-error {
            display: block;
            font-size: 14px;
            margin-bottom: 12px;
        }

        .remember-me, .links {
            font-size: 14px;
        }
    }

    .danger {
        margin-bottom: 10px;
    }

    .tns-outer {
        margin: 0;
        width: 100%;
        min-height: 650px;
        padding-top: 63px !important;

        .caption {
            color: #FFF;
            left: $sidebars-width*2 + 5px;
        }


        @media (max-width: $tablet-max) {
            display: none !important;
        }
    }
}

.with-offline-msg {
    .app-account {
        margin-bottom: -($footer-height + $offline-message-height + 40px);
    }
}

.sticky {
    display: block;
    position: sticky;
    top: 0;
    z-index: 20;
    max-width: 100vw;
}

.sidebar .sticky {
    max-height: 100vh;
    overflow: auto;
}

.unavailable.button {
    width: 172px;
    max-width: 100%;
    height: 40px;
    line-height: 38px;
    padding: 0;
    cursor: default;
    cursor: initial;

    &:hover {
        background: transparent;
        color: $outline-button-color;
        border-color: $outline-button-color;
    }
}

.separator-bottom {
    padding: 0.5em;

    &:not(:last-child) {
        border-bottom: 1px solid $border-color;
        margin-bottom: 0.5em;
    }
}

.separator-top {
    padding: 0.5em;

    &:not(:first-child) {
        border-top: 1px solid $border-color;
        margin-top: 0.5em;
    }
}

.emphasised-section {
    background: $thirdparty-color;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 15px;
}

.section {
    padding: 15px;
}
