@import 'configuration.scss';

.app-new-documents-list {

    .reset-button {
        margin-bottom: 30px;
    }

    .grid-row {
        @media (max-width: $tablet-max) {
            grid-template-columns: 50% 50% !important;
        }
    }

    .grid-cell {

        @media (max-width: $tablet-max) {
            padding: 10px 5px;
        }

        &:not(.documentNumber):not(.plannedEndDate) {

            @media (max-width: $tablet-max) {
                display: none;
            }
        }
    }
}
