<div class="articles" *ngIf="products && products.length > 0">

    <app-sticky [stickyClass]="'thead'" [stickyInside]="'.articles'">

        <div class="narrow-content trow flex" *ngIf="r?.translations">

            <div class="tcell {{col[0]}}-col"
                 *ngFor="let col of columns | iterableToArray"
                 [ngSwitch]="col[0]"
                 [ngClass]="{'with-stepper': isStepper && col[0] === 'quantity'}"
                 [ngStyle]="{'width.%': 100/columns.size }">

                <ng-container *ngSwitchCase="'name'">
                    <span class="tablet-hidden">{{r?.translations[col[1]]}}</span>
                    <span class="tablet-inline-block">{{r?.translations?.article}}</span>
                </ng-container>

                <ng-container *ngSwitchCase="'quantity'">
                    <span class="tablet-hidden">{{r?.translations[col[1]]}}</span>
                    <span class="tablet-inline-block f-right">{{r?.translations?.quantity}}</span>
                </ng-container>

                <form *ngSwitchCase="'addToCart'"
                      class="flex"
                      #addManyForm="ngForm"
                      novalidate
                      name="addManyForm"
                      (ngSubmit)="addManyToCart(addManyForm?.value?.cartId)">

                    <div class="choose-cart" *ngIf="cartCount">

                        <app-select name="cartId" [ngModel]="globalCartId">
                            <app-option *ngFor="let el of cartCount" [value]="el">{{el}}</app-option>
                        </app-select>
                    </div>


                    <button class="cart add-to-cart">
                        <i class="icon ti-shopping-cart"></i><span>{{r?.translations?.addToCart}}</span>
                    </button>
                </form>

                <ng-container *ngSwitchDefault>{{r?.translations[col[1]]}}</ng-container>
            </div>

        </div>
    </app-sticky>

    <ng-content></ng-content>


    <div class="narrow-content tbody" #productsGroup ngModelGroup="productsGroup">

        <div class="trow flex"
             *ngFor="let i of keys(products); trackBy: trackByFn"
             [ngClass]="{'stock-warn': config?.stockLevelMode > 0 && products[i].max !== -1 && products[i].max < products[i].quantity}">

            <a *ngIf="configService?.permissions?.showProducts && (products[i].id || products[i].itemId)"
               [routerLink]="['/ItemDetails', (products[i].id || products[i].itemId)]"
               class="covering-link">
            </a>

            <div class="tcell {{col[0]}}-col"
                 *ngFor="let col of columns | iterableToArray"
                 [ngClass]="{'with-stepper': isStepper && col[0] === 'quantity'}"
                 [ngStyle]="{'width.%': 100/columns.size }"
                 [ngSwitch]="col[0]">

                <button *ngSwitchCase="'remove'" class="pure remove-item" (click)="removeItemMiddleware(products[i].itemId)">
                    <i class="ti-trash"></i>
                    <span class="tablet-inline-block">{{r?.translations?.remove}}</span>
                </button>

                <div *ngSwitchCase="'name'" class="inner-clear flex">

                    <div class="f-left image-container small" *ngIf="config.showImages">

                        <i class="ti-image no-photo" *ngIf="products[i].imageId === null"></i>

                        <app-lazy-image *ngIf="products[i].imageId !== null"
                                        alt="{{products[i].name}}"
                                        src="ImageHandler.ashx?id={{products[i].imageId}}&fromBinary={{products[i].fromBinary}}&width=50&height=50">
                        </app-lazy-image>

                    </div>

                    <div class="f-left product-desc">
                        <span class="product-name block">{{products[i].name}}</span>
                        <span *ngIf="config.showCode">{{products[i].code}}</span>
                    </div>
                </div>

                <ng-container *ngSwitchCase="'subtotalPrice'">
                    <span class="brutto-netto tablet-inline-block">{{r?.translations?.net}}</span>
                    {{products[i].subtotalPrice}}
                    <span class="tablet-inline-block">{{products[i].currency}}</span>
                </ng-container>

                <ng-container *ngSwitchCase="'price'">
                    <span class="brutto-netto tablet-inline-block">{{r?.translations?.net}}</span>
                    {{products[i].price}}
                    <span class="tablet-inline-block">{{products[i].currency}}</span>
                </ng-container>

                <ng-container *ngSwitchCase="'totalPrice'">
                    <span class="brutto-netto tablet-inline-block">{{r?.translations?.gross}}</span>
                    {{products[i].totalPrice}}
                    <span class="tablet-inline-block">{{products[i].currency}}</span>
                </ng-container>


                <ng-container *ngSwitchCase="'quantity'">

                    <app-stepper *ngIf="isStepper"
                                 class="responsive"
                                 [ngFormControl]
                                 [dontControl]="products[i].dontControl"
                                 [disabled]="products[i].disabled || config.quantityDisabled"
                                 [isUnitTotal]="products[i].isUnitTotal"
                                 [name]="'quantity'+i"
                                 [ngModel]="products[i].quantity"
                                 [max]="products[i].max || -1"
                                 (valueChange)="changeQuantityMiddleware(i, $event)">

                    </app-stepper>

                    <div class="inline-block vmiddle">

                        <span *ngIf="!isStepper">{{products[i].quantity}}</span>

                        <span class="unit pair-key">{{products[i].auxiliaryUnit || products[i].basicUnit || products[i].unit}}</span>

                        <span class="converter pair-key">
                            {{products[i].converter || products[i].unitConversion}}
                        </span>
                    </div>

                    <div class="stock"
                         *ngIf="config.showState && products[i].stockLevel && products[i].type !== 3 && products[i].type !== 4 && products[i].type !== 6">

                        <span class="pair-key">{{r?.translations?.inStock}}:</span>
                        <span *ngIf="config.stateMode === true">{{products[i].stockLevel}}</span>
                        <span *ngIf="config.stateMode === false && products[i].max > 0">{{r?.translations?.available}}</span>
                        <span *ngIf="config.stateMode === false && products[i].max === 0">{{r?.translations?.none}}</span>
                    </div>


                </ng-container>

                <ng-container *ngSwitchCase="'basicUnit'">

                    <span>{{products[i].auxiliaryUnit || products[i].basicUnit || products[i].unit}}</span>
                    <span class="block">{{products[i].converter || products[i].unitConversion}}</span>

                </ng-container>

                <ng-container *ngSwitchCase="'discount'">
                    <span class="tablet-inline-block" *ngIf="products[i].discount">{{r?.translations?.discount}}</span> {{products[i].discount}}
                </ng-container>

                <div *ngSwitchCase="'description'" [innerHTML]="products[i].description">
                </div>

                <ng-container *ngSwitchCase="'completion'">
                    <span class="tablet-inline-block" *ngIf="r?.translations">{{r?.translations[col[1]]}}: </span>
                    {{products[i].completion[0].state}}
                </ng-container>


                <ng-container *ngSwitchCase="'value'">
                    <span class="tablet-inline-block" *ngIf="r?.translations">{{r?.translations[col[1]]}}: </span>
                    <span *ngIf="products[i].type === 1">{{products[i].value}} %</span>
                    <span *ngIf="configService.permissions.pricesVisibility && (products[i].type === 2 || products[i].type === 3)">
                        {{products[i].value}} {{products[i].currency}}
                    </span>
                </ng-container>

                <ng-container *ngSwitchCase="'type'">
                    <span class="tablet-inline-block" *ngIf="r?.translations">{{r?.translations[col[1]]}}: </span>
                    <span *ngIf="products[i].type === 1">{{r?.translations?.percentage}}</span>
                    <span *ngIf="products[i].type === 2">{{r?.translations?.discountValue}}</span>
                    <span *ngIf="products[i].type === 3">{{r?.translations?.fixedPrice}}</span>
                </ng-container>

                <ng-container *ngSwitchCase="'vatDirection'">
                    <span class="tablet-inline-block" *ngIf="r?.translations">{{r?.translations[col[1]]}}: </span>
                    <span *ngIf="products[i].vatDirection === 'N'">{{r?.translations?.net}}</span>
                    <span *ngIf="products[i].vatDirection === 'B'">{{r?.translations?.gross}}</span>
                </ng-container>

                <ng-container *ngSwitchCase="'addToCart'">

                    <app-stepper [ngFormControl]
                                 class="responsive"
                                 [isUnitTotal]="products[i].isUnitTotal"
                                 [disabled]="(products[i].setDocumentsType < 2 && products[i].bundleId !== null) || products[i].disabled || config.quantityDisabled"
                                 [name]="'quantity'+i"
                                 [ngModel]="products[i].quantity"
                                 [min]="0"
                                 [max]="products[i].max || -1"
                                 (valueChange)="changeQuantityMiddleware(i, $event)">

                    </app-stepper>

                    <div class="inline-block vmiddle">
                        <span class="unit pair-key">{{products[i].auxiliaryUnit || products[i].basicUnit || products[i].unit}}</span>
                        <span class="block pair-key converter">{{products[i].converter || products[i].unitConversion}}</span>
                    </div>

                    <div class="stock"
                         *ngIf="config.showState && products[i].type !== 3 && products[i].type !== 4 && products[i].type !== 6">

                        <span class="pair-key">{{r?.translations?.inStock}}:</span>
                        <span *ngIf="config.stateMode === true">{{products[i].stockLevel}}</span>
                        <span *ngIf="config.stateMode === false && products[i].max > 0">{{r?.translations?.available}}</span>
                        <span *ngIf="config.stateMode === false && products[i].max === 0">{{r?.translations?.none}}</span>
                    </div>

                </ng-container>

                <ng-container *ngSwitchCase="'subtotalValue'">
                    <span class="brutto-netto tablet-inline-block">{{r?.translations?.net}}</span>
                    {{products[i].subtotalValue}}
                    <span class="tablet-inline-block">{{products[i].currency}}</span>
                </ng-container>

                <ng-container *ngSwitchCase="'netValue'">
                    <span class="brutto-netto tablet-inline-block">{{r?.translations?.net}}</span>
                    {{products[i].netValue}}
                    <span class="tablet-inline-block">{{products[i].currency}}</span>
                </ng-container>

                <ng-container *ngSwitchCase="'totalValue'">
                    <span class="brutto-netto tablet-inline-block">{{r?.translations?.gross}}</span>
                    {{products[i].totalValue}}
                    <span class="tablet-inline-block">{{products[i].currency}}</span>
                </ng-container>

                <ng-container *ngSwitchCase="'grossValue'">
                    <span class="brutto-netto tablet-inline-block">{{r?.translations?.gross}}</span>
                    {{products[i].grossValue}}
                    <span class="tablet-inline-block">{{products[i].currency}}</span>
                </ng-container>


                <ng-container *ngSwitchCase="'sourceDocumentId'">

                    <span class="tablet-inline-block" *ngIf="r?.translations">{{r?.translations[col[1]]}}: </span>

                    <a class="link-in-table" [routerLink]="['/Profile/Payments', products[i].sourceDocumentId, products[i].sourceDocumentType]">
                        {{products[i].sourceDocumentName}}
                    </a>

                </ng-container>

                <ng-container *ngSwitchCase="'complain'">

                    <a [routerLink]="['/Profile/Complaints/ComplaintSubmission/'+ (products[i].id || products[i].itemId) +':'+ (products[i].sourceDocumentId || products[i].id)]"
                       class="button pure">
                        <i class="ti-write"></i> {{r?.translations?.complain}}
                    </a>

                </ng-container>

                <ng-container *ngSwitchDefault>
                    <span class="tablet-inline-block" *ngIf="r?.translations">{{r?.translations[col[1]]}}: </span>
                    {{products[i][col[0]]}}
                </ng-container>

            </div>

        </div>
    </div>

    <div class="tfoot"
         [ngClass]="{'many-currencies': summaries?.length > 1, 'with-weight': weight}"
         *ngIf="summaries || pagination?.isNextPage || pagination?.isPrevPage">

        <div class="trow pager-col narrow-content">
            <app-pager *ngIf="pagination"
                       [pageSize]="pagination.pageSize"
                       [isNextPage]="pagination.isNextPage"
                       (change)="changePageMiddleware($event);">
            </app-pager>
        </div>

        <div class="trow flex narrow-content" *ngFor="let summary of summaries">

            <div class="tcell {{col[0]}}-col"
                 *ngFor="let col of columns | iterableToArray"
                 [ngClass]="{'with-stepper': isStepper && col[0] === 'quantity'}"
                 [ngSwitch]="col[0]"
                 [ngStyle]="{'width.%': 100/columns.size }">


                <div [ngClass]="{'name-with-weight': weight}" *ngSwitchCase="'name'">

                    <ng-container *ngIf="summary?.count">

                        <span class="total tablet-block" *ngIf="summary.currency === summaries[0].currency">
                            {{r?.translations?.total}}
                        </span>

                        <span>
                            {{r?.translations?.packageArticlesCount}}: {{summary.count}}
                        </span>

                    </ng-container>

                    <span class="weight" *ngIf="weight?.weightGross && summary.currency === summaries[0].currency">
                        {{r?.translations?.grossWeight}}: {{weight.weightGross}} kg
                    </span>

                    <span class="volume" *ngIf="weight?.volume && summary.currency === summaries[0].currency">
                        {{r?.translations?.volume}}: {{weight.volume}} m3
                    </span>
                </div>

                <ng-container *ngSwitchCase="'subtotalValue'">
                    <ng-container *ngIf="config.pricesVisibility && config.priceMode !== 1">
                        <span class="brutto-netto tablet-inline-block">{{r?.translations?.net}}</span>
                        {{summary.netAmount | toPrice}}
                        <span class="tablet-inline-block">{{summary.currency}}</span>
                    </ng-container>
                </ng-container>


                <ng-container *ngSwitchCase="'totalValue'">
                    <ng-container *ngIf="config.pricesVisibility && config.priceMode !== 0">
                        <span class="brutto-netto tablet-inline-block">{{r?.translations?.gross}}</span>
                        {{summary.grossAmount | toPrice}}
                        <span class="tablet-inline-block">{{summary.currency}}</span>
                    </ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'netValue'">
                    <ng-container *ngIf="config.pricesVisibility && config.priceMode !== 1">
                        <span class="brutto-netto tablet-inline-block">{{r?.translations?.net}}</span>
                        {{summary.net | toPrice}}
                        <span class="tablet-inline-block">{{summary.currency}}</span>
                    </ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'grossValue'">
                    <ng-container *ngIf="config.pricesVisibility && config.priceMode !== 0">
                        <span class="brutto-netto tablet-inline-block">{{r?.translations?.gross}}</span>
                        {{summary.gross | toPrice}}
                        <span class="tablet-inline-block">{{summary.currency}}</span>
                    </ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'currency'">
                    <ng-container *ngIf="config.pricesVisibility">
                        {{summary.currency}}
                    </ng-container>
                </ng-container>

            </div>

        </div>
    </div>
</div>



<div class="no-results box-message" *ngIf="products?.length === 0">
    <i class="ti-na"></i>
    <span>{{r?.translations?.resultsNotFound}}</span>
</div>
