@import 'compass-mixins/lib/_compass.scss';
@import 'configuration.scss';


.app-loading {
    display: block;
}

.loader {
    margin: auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.2rem solid $primary-color;
    border-right: 0.2rem solid $primary-color;
    border-bottom: 0.2rem solid $primary-color;
    border-left: 0.2rem solid $background;
    @include transform(translateZ(0));
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader, .loader::after {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.small {
    .loader, .loader::after {
        width: 2rem;
        height: 2rem;
    }
}


.loader.big, .loader.big::after {
    width: 10rem;
    height: 10rem;
}


-moz-keyframes load8 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

-webkit-keyframes load8 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


