


<div *ngIf="articlesMenuItem" class="section-title tablet-block {{articlesMenuItem.cssClass}}">
    <i class="navBar-item-image ti-menu {{articlesMenuItem.cssClass}}"></i>
    {{r?.translations[articlesMenuItem.resourceKey]}}
</div>

<nav>
    <ul>

        <li class="prev-buttons inner-clear"
            *ngIf="groups.currentGroupId !== groups.rootGroupId && groups.history.length > 1 && (!groups.isAnyActive || groups.history.length !== 2)">

            <button class="outline change-group f-left root"
                    *ngIf="(!groups.isAnyActive && groups.history.length > 2) || groups.history.length > 3"
                    (click)="goToGroup(groups.rootGroupId, 1)">

                <i class="ti-angle-double-left"></i>
            </button>

            <button class="outline change-group f-left back"
                    (click)="backToPreviousGroup()"
                    [ngClass]="{'full': groups.history.length === 2 || (groups.isAnyActive && groups.history.length === 3)}">

                <i class="ti-angle-left"></i>
                <span>{{r?.translations?.back}}</span>
            </button>

        </li>

        <ng-container *ngIf="groups.currentGroupId === groups.rootGroupId || groups.currentGroupId === 0">
            <li *ngFor="let item of barExceptItems"
                [ngClass]="{'active-left': item.isActive}"
                class="category-item full inner-clear tablet-block">

                <a class="group-label outline button f-left" [routerLink]="['/'+item.url]">
                    <i class="navBar-item-image ti-menu {{item.cssClass}}"></i>{{r?.translations[item.resourceKey]}}
                </a>
            </li>
        </ng-container>

        <li *ngFor="let item of groups.childGroups"
            [ngClass]="{'active-left': item.isActive,
                        'full': !item.isExpand}"
            class="category-item inner-clear">

            <a class="group-label outline button f-left " *ngIf="!isProductsPage" [routerLink]="[configService.routePaths.items, item.id]">{{item.name}}</a>

            <button class="outline group-label f-left"
                    *ngIf="isProductsPage"
                    [disabled]="groups.currentGroupId === item.id"
                    (click)="goToNewList(item.id, item.isExpand)">
                {{item.name}}
            </button>

            <button class="group-next ti-angle-right f-right secondary" *ngIf="item.isExpand" (click)="goToGroup(item.id, item.isExpand)"></button>

        </li>
    </ul>
</nav>

